Django==1.6.5
JPype1==0.5.7
Pillow==2.4.0
South==0.8.4
beautifulsoup4==4.3.2
celery==3.1.17
django-bootstrap3==4.10.1
django-braces==1.4.0
django-mathfilters==0.2.1
django-php==0.1
django-allauth
django-registration==1.0
django-static-precompiler==0.8
django-celery==3.1.16
mixpanel-py==4.0.0
gunicorn==18.0
konlpy==0.3.3
psycopg2==2.5.3
pytz==2014.3
requests==2.5.1
six==1.8.0
wsgiref==0.1.2
