{% extends "supervisor/base.html" %}
{% load staticfiles %}

{% block javascripts %}
    {{ block.super }}
    <script>
{#        var urlForProductAnalysis = "{% url 'supervisor:analysis_product' %}";#}
    </script>
    <script src="{% static "common/js/csrf.js" %}" async></script>
{#    <script src="{% static "supervisor/js/product_analysis.js" %}" async></script>#}
{% endblock javascripts %}

{% block content %}
    <h1>사용자 추가 요청 리스트 </h1>
    <table class="table table-striped">
    <tr>
        <th>이름</th>
        <th>이메일</th>
        <th>요청일</th>
        <th>커맨츠</th>
        <th>입력여부</th>
        <th>완료일</th>
    </tr>
        {% for item in user_survey_mores %}
            <tr>
                <td>{{ item.user_survey.user.profile.name }}
                <td>{{ item.user_survey.user.email }}</td>
                <td>{{ item.user_survey.created }}</td>
                <td><button onClick="javascript:alert('{{ item.comments }}');">커멘트</button></td>
                <td>
                    {% if item.user_survey.result %}
                        <a href="{% url 'supervisor:create_or_update_survey_result' user_survey_id=item.user_survey.id %}" type="button" class="btn btn-success">입력완료</a>
                    {% else %}
                        <a href="{% url 'supervisor:create_or_update_survey_result' user_survey_id=item.user_survey.id %}" type="button" class="btn btn-primary">입력미완료</a>
                    {% endif %}
                </td>
                <td>{{ item.user_survey.result.created }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}