{% extends "mobile_base.html" %}
{% load static %}
{% load humanize %}

{% block header %}
{% endblock header %}

{% block title %}
{% endblock title %}

{% block content %}
        <div>
            <a  class="mobile-back-btn" id="mobile-back-btn"data-role="button" data-rel="back">
                <img src="{% static "img/btn_back_view_m.png" %}" style="width : auto; height : auto;">
            </a>
        </div>
    <img src="{% static 'img/ship.png' %}" style="width:100%; height:auto;" />
{% endblock content %}