{% extends "mobile_base.html" %}
{% load static %}
{% load humanize %}

{% block header %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'metronic_assets/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="{% static 'metronic_assets/global/css/components.css' %}" id="style_components" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'metronic_assets/admin/layout4/css/layout.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/common_style.css' %}"/>
     <link rel="stylesheet" href="{% static 'css/survey_list.css' %}"/>
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico"/>
{% endblock %}

{% block content %}
    {% block detail %}
        <body style="background-color:#f2f2f2;">

        <div class="clearfix"></div>
        <!-- BEGIN CONTAINER -->
        <div class="page-container" style="background-color:#E9EAED;">
            <!-- BEGIN CONTENT -->
            <div class="page-content">
                <!-- BEGIN PAGE CONTENT INNER -->

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="wrapper">
                        <!-- BEGIN PORTLET-->
                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption caption-md">
                                    <i class="icon-bar-chart theme-font-color hide"></i>
                                    <span class="caption-subject theme-font-color bold uppercase">분석 보고서 목록</span>
                                </div>
                                <div style="text-align:right;">
                                    <a id="btn-request-survey" href="{% url 'mobile_report_form' %}" target="_self" class="btn btn-re-g"
                                       style="font-size:11px; color:#FFFFFF !important;">
                                        보고서 신청
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="scroller" style="height: 305px;" data-always-visible="1"
                                     data-rail-visible1="0" data-handle-color="#D7DCE2">
                                    <div class="general-item-list">
                                        {% for survey_item in survey_list %}
                                            <a id="btn-survey-result" href="{% url "mobile:survey2_result" pk=survey_item.id %}"
                                               target="_self"
                                               is-analysis-finish="{{ survey_item.is_analysis_finish }}">

                                                <div class="item">
                                                    <div class="item-head">
                                                        <span class="item-status">{% if survey_item.is_analysis_finish %}
                                                            <span class="badge badge-empty badge-success"></span>
                                                            완료{% else %}<span class="badge badge-empty badge-danger"></span>
                                                            분석중{% endif %}</span>
                                                    </div>
                                                    <div class="item-body">
                                                        {{ survey_item.created_display }}
                                                    </div>
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- EndPORTLET-->
                    </div>
                </div>
                <!-- END PAGE CONTENT INNER -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->

        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- BEGIN CORE PLUGINS -->

        <script src="{% static 'js/survey_list.js' %}"
        <script src="{% static 'metronic_assets/global/plugins/bootstrap/js/bootstrap.min.js' %}"
                type="text/javascript"></script>
        <script src="{% static 'metronic_assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"
                type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{% static 'metronic_assets/global/scripts/metronic.js' %}" type="text/javascript"></script>
        <script src="{% static 'metronic_assets/admin/layout3/scripts/layout.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <script>
            jQuery(document).ready(function () {
                Metronic.init(); // init metronic core componet
            });
        </script>

        </body>
    {% endblock %}
{% endblock %}
