{% extends "mobile_base.html" %}
{% load static %}
{% load humanize %}

{% block header %}

    <script src="{% static 'js/survey_list.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/survey_list.css' %}"/>

{% endblock header %}

{% block content %}

    <img src="{% static 'img/info_survey.png' %}" style="width:100%; height:auto;"/>
    <div style="text-align : center;">
        <a href="{% if user.is_authenticated %}
                {% url 'mobile_report_form' %}
            {% else %}
                {% url 'mobile_report_form_index' %}
            {% endif %}"
           class="black-btn index-content-btn" target="_self" style="width:80px; border-radius: 0px;">시작하기</a>
    </div>
{% endblock content %}