{% extends "mobile_base.html" %}
{% load static %}
{% load humanize %}

{% block header %}

    <script src="{% static 'js/survey_list.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/survey_list.css' %}"/>

{% endblock header %}

{% block content %}

    <div class="content-title">분석 보고서 목록</div>

    <div class="content-list">
        {% for survey_item in survey_list %}
            <a href="{% url "mobile_survey_result" pk=survey_item.id %}"
               target="_self">{{ survey_item.created|date:"Y년 m월 d일" }} 분석 보고서</a>
            <br/>
            <div class="login-box-header">
                <h4 class="lined-heading"><span> </span></h4>
            </div>

            <div class="clearfix"></div>
        {% endfor %}
    </div>

    <div class="content-title" style="color : white; background-color : black;">
        <a href="{% url 'mobile_report_form' %}" target="_self">나의 피부 진단</a>
    </div>

{% endblock content %}