    <div class="modal-left-wrapper float-left">
        <div class="modal-desc-wrapper box-css">
            <div class="box-header">미샤 포맨 익스트림 스킨</div>
            <div class="modal-product-category-box">
                카테고리 > 스킨
            </div>
            <div class="modal-product-contents">
                <div class="float-left">
                    <div id="modalProductImg">
                        <img src="http://image.auction.co.kr/itemimage/63/c0/fd/63c0fda73.jpg" alt="" />
                    </div>
                </div>
                <div class="float-right">
                    <div id="modalProductImgGallery">
                        <a href="http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg"><img src="http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_s.jpg" ></a>
                        <a href="http://farm9.staticflickr.com/8382/8558295631_0f56c1284f_b.jpg"><img src="http://farm9.staticflickr.com/8382/8558295631_0f56c1284f_s.jpg" ></a>
                        <a href="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_b.jpg"><img src="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_s.jpg" ></a>
                        <a href="http://farm9.staticflickr.com/8383/8563475581_df05e9906d_b.jpg"><img src="http://farm9.staticflickr.com/8383/8563475581_df05e9906d_s.jpg" ></a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="modal-right-wrapper float-left">
        <div class="modal-puchase box-css">
            <div class="box-header">
                정보
            </div>
            <div class="price-area">
                <div class="product-price price-origin">원래 가격 : 113,000원 (<span class="price-discount">할인율 : 20%</span>)<!--<span>{# { product-x.original_price }#}</span>--></div>
                <div class="product-how-many">
                    <div style="width :80px; margin-top : 6px; float: left;">
                        구매수량 :
                    </div>
                    <div style="width : 100px; margin-left:2px; float:left;">
                        <input type="text" id="modalCntSpinner"/>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="product-price price-saled">판매가 : <!--<span>{#{ product-x.discount_price }#}</span>--><span>99,000원</span></div>
                <div class="product-price price-total">
                    총 상품 금액 : 99,300원
                </div>
                <div class="product-btn-area">
                    <a href="#" class="basic-btn">상세 페이지로 이동</a>
                    <a href="#" class="basic-btn btn-for-cart">장바구니</a>
                </div>
            </div>
            <div style="margin-left: 20px;">
                <div class="tag-header">태그</div>
                <div class="tag-list">
                    <a href="#">여드름</a>, <a href="#">하얀피부</a>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="box-css">
        <div class="modal-product-description">
            <div class="box-header">상세설명</div>
            ㅋ<br/>
            ㅋ<br/>
            ㅋ<br/>
            ㅋ<br/>
            ㅋ<br/>
            ㅋ<br/>
            ㅋ<br/>
            ㅋ<br/>
            ㅋ<br/>
            ㅋ<br/>
        </div>
    </div>