{% extends "web_base.html" %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_web.css') }}"/>
<script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/index_web.js') }}"></script>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="{{ url_for('static', filename='img/big_bg_carousel1.jpg') }}" alt="" />
              <div class="carousel-caption">
                이니스프리
              </div>
            </div>
            <div class="item">
              <img src="{{ url_for('static', filename='img/big_bg_carousel2.jpg') }}" alt="" />
              <div class="carousel-caption">
                꽃을 든 남자
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span style="color:white; font-weight: bold; position: absolute; top : 40%;"><</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span style="color:white; font-weight: bold; position: absolute; top : 40%;">></span>
          </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="category-list">
            <ul>
            {% for category in setCategories %}
                <li><a href="/shopping1/{{ category.key }}">{{ category.name }}</a></li>
            {% endfor %}
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="product-list">
          <div id="setGrid">
              {% for set in sets.data %}
                <div class="service-list team">
                    <div class="service-item">
                        <div class="service-content">
                            <div class="service-image ">
                                <a href="/product/{{set.key  }}" data-ajax="false"><img src="{{ set.big_img_url}}" alt="" /></a>
                            </div>
                            <div class="service-title product-contents">
                                {% if (set.name|length) > 40 %}
                                    <a href="{{ url_for('productWeb', product_key=set.key) }}">{{set.name[:40] }}..</a>
                                {% else %}
                                    <a href="{{ url_for('productWeb', product_key=set.key) }}">{{set.name }}</a>
                                {% endif %}
                                <div class="product-price-box">
                                    <b>\{{ set.discount_price }}</b>
                                    ({{ set.capacity }})<br/>
                                    <b class="product-type"><a href="/shopping1/{{ set.category_key }}">{{ set.category_name }}</a></b>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="product-bottom-menu product-btn-list">
                        <ul class="menu-links clearfix">
                            {% if set.isInterested  %}
                                <li class=""><a href="#" data-product="{{ set.key }}" data-type="s" class="btn-for-interest btn-motion9 btn-motion9-disable">관심</a></li>
                            {%  else  %}
                                <li class=""><a href="#" data-product="{{ set.key }}" data-type="s" class="btn-for-interest btn-motion9">관심</a></li>
                            {% endif %}
                            <li class=""><a href="#" data-product="{{ set.key }}" data-type="s" class="btn-for-cart btn-motion9">장바구니</a></li>
                        </ul>
                    </div>
                </div>
              {% endfor %}
          </div>
        </div>
    </div>
</div>
<div style="margin-top : 40px;"></div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="category-list">
            <ul>
            {% for category in categories %}
                <li><a href="/shopping2/{{ category.key }}">{{ category.name }}</a></li>
            {% endfor %}
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="product-list">
          <div id="productGrid">
              {% for product in products.data %}
                <div class="service-list team">
                    <div class="service-item">
                        <div class="service-content">
                            <div class="service-image ">
                                <a href="/product/{{product.key  }}" data-ajax="false"><img src="{{ product.big_img_url}}" alt="" /></a>
                            </div>
                            <div class="service-title product-contents">
                                {% if (product.name|length) > 40 %}
                                    <a href="{{ url_for('productWeb', product_key=product.key) }}">{{product.name[:40] }}..</a>
                                {% else %}
                                    <a href="{{ url_for('productWeb', product_key=product.key) }}">{{product.name }}</a>
                                {% endif %}
                                <div class="product-price-box">
                                    <b>\{{ product.discount_price }}</b>
                                    ({{ product.capacity }})<br/>
                                    <b class="product-type"><a href="/shopping2/{{ product.category_key }}">{{ product.category_name }}</a></b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-bottom-menu product-btn-list">
                        <ul class="menu-links clearfix">
                            {% if product.isInterested  %}
                                <li class=""><a href="#" data-product="{{ product.key }}" class="btn-for-interest btn-motion9 btn-motion9-disable">관심</a></li>
                            {%  else  %}
                                <li class=""><a href="#" data-product="{{ product.key }}" class="btn-for-interest btn-motion9">관심</a></li>
                            {% endif %}
                            <li class=""><a href="#" data-product="{{ product.key }}" class="btn-for-cart btn-motion9">장바구니</a></li>
                        </ul>
                    </div>
                </div>
              {% endfor %}
          </div>
        </div>
    </div>
</div>    
    
{% endblock %}