{% extends "web_base.html" %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/shopping_product_web.css') }}"/>
<script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/shopping_product_web.js') }}"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="category-list">
            <ul>
            <li {% if current_category == None %}class="current-category"{% endif %}><a href="{{ url_for('shoppingProduct') }}">모든 상품</a></li>
            {% for category in categories %}
                <li  {% if current_category == category.key%}class="current-category"{% endif %}><a href="{{ url_for('shoppingProduct', category_key = category.key) }}">{{ category.name }}</a></li>
            {% endfor %}
            </ul>
            <div class="clearfix"></div>
        </div>
        <div id="productGrid">
            {% for product in products.data %}
            <div class="product-item" id="item-{{ product.key}}" data-attr="{{ product.key}}">
                <div class="product-item-wrapper">
                    <div class="product-img">
                        <a href="{{ url_for('productWeb', product_key=product.key) }}"><img src="{{ product.big_img_url}}" alt="" /></a>
                    </div>
                    <div class="product-contents">
                        <div class="product-info">
                            [{{ product.brandname }}]<br/>
                            {% if (product.name|length) > 24 %}
                                <a href="{{ url_for('productWeb', product_key=product.key) }}">{{product.name[:24] }}..</a>
                            {% else %}
                                <a href="{{ url_for('productWeb', product_key=product.key) }}">{{product.name }}</a>
                            {% endif %}

                            <div class="product-price-box">
                                Price : <b>￦{{ product.discount_price }} ({{product.capacity }}ml)</b><br/>
                                Category : <b>{{ product.category_name}}</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-bottom-menu product-btn-list">
                    <ul class="menu-links clearfix">
                          <ul class="menu-links clearfix">
                                {% if product.isInterested  %}
                                    <li class=""><a href="#" data-product="{{ product.key }}" class="btn-for-interest btn-motion9 btn-motion9-disable">관심</a></li>
                                {%  else  %}
                                    <li class=""><a href="#" data-product="{{ product.key }}" class="btn-for-interest btn-motion9">관심</a></li>
                                {% endif %}
                                <li class=""><a href="#" data-product="{{ product.key }}" class="btn-for-cart btn-motion9">장바구니</a></li>
                            </ul>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="paging-area">
            <ul class="pagination">
              <li {% if not products.page_hasPrev  %} class="disabled" {% endif %}><a href="#">&laquo;</a></li>
              {% for pageNum in range(products.page_left_count, products.page_right_count+1 )%}
                  {% if current_category != None %}
                    <li><a href="{{ url_for('shoppingProduct', pageNum = pageNum, category_key = current_category) }}">{{ pageNum  }}</a></li>
                  {% else %}
                     <li><a href="{{ url_for('shoppingProduct', pageNum = pageNum) }}">{{ pageNum  }}</a></li>
                  {% endif %}
              {% endfor %}
              <li {% if not products.page_hasNext  %} class="disabled" {% endif %}><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}