{% extends "web_base.html" %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/common_style_web.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/change_product_in_set_web.css') }}"/>
<script src="{{ url_for('static', filename='js/change_product_in_set_web.js') }}"></script>
{% block subHeader %}
{% endblock %}
{% endblock %}
{% block content %}
<div class="row" id="changeProductWrapper">
    <div class="col-xs-10 col-xs-offset-1">
        <h4>{{ set.name }} 변경</h4>
        <div>
            ※ 모든 제품이 변경이 가능한 것은 아닙니다.
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="box-css">
                    <div class="box-header">
                        <h4 class="contents-header">변경가능 제품</h4>
                    </div>
                    <div class="available-list">
                        {%  for product in set.products %}
                              {%  if availableList[product.key|string] | length !=0 %}
                                <div class="available-product">
                                    <div class="available-product-hover-menu">
                                         <a href="#" class="available-product-btn"  data-target="#availableList-{{ product.key }}">가능상품<br/>보기</a>
                                   </div>
                                    <div class="product-img">
                                        <img src="{{ product.big_img_url}}" alt="" />
                                    </div>
                                    <div class="product-info">
                                        <div>
                                            <b>{{ product.name }}</b>
                                        </div>
                                        <div>
                                            {{ product.discount_price }}원
                                        </div>
                                        <div>
                                            세트 포함시 할인 가격 : 19000원
                                        </div>
                                        <div>
                                            단품 할인율 : 14%
                                        </div>
                                        <div>
                                            세트 총 가격 : 118000원
                                        </div>
                                        <div>
                                            세트 할인율 : 18%
                                        </div>
                                        <div>
                                            카테고리 : {{ product.category_name }}
                                        </div>
                                        <div>브랜드 : {{ product.brandname }}</div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div id="availableList-{{ product.key }}" class="available-products-list">
                                    {% for item in availableList[product.key|string] %}
                                        <div class="available-item">
                                            <div class="available-item-hover-menu">
                                                 <a href="#" class="available-item-btn" data-original-key="{{ product.key }}" data-product="{{ item.key }}">선택</a>
                                           </div>
                                            <div class="available-product-img">
                                                <img src="{{item.big_img_url }}" alt="" />
                                            </div>
                                            <div class="available-product-info">
                                                <div><a href="{{ url_for('productWeb', product_key = item.key) }}">{{item.name  }}</a></div>
                                                <div class="">
                                                    Price : <b>￦{{item.discount_price}}</b> ({{ item.capacity  }})<br/>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="clearfix"></div>
                                <hr/>
                            {%endif%}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="box-css" id="originProductWrapper">
                    <div class="box-header">
                        <h4 class="contents-header">고객님의 커스텀 제품</h4>
                    </div>
                    <div class="origin-product-area">
                        <div class="custom-set-table">
                            <table class="table table-striped">
                                <tbody>
                                {% for setItem in set.products %}
                                    <tr class="custom-set-item-tr" id="customSetTableItem-{{ setItem.key }}" data-original-key = "{{ setItem.key }}" data-new-key="{{ setItem.key }}">
                                        <td class="set-table-item-img">
                                            <img src="{{ setItem.big_img_url }}"/>
                                        </td>
                                        <td class="set-table-item-category">
                                            {{ setItem.category_name }}
                                        </td>
                                        <td class="set-table-item-info">
                                            {{ setItem.name }}
                                            {% if setItem.is_changeable == false %}
                                                (<span style="color:red;">고정상품</span>)
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <div class="product-info">
                                <div>
                                    <b>{{set.name }} </b>
                                </div>
                                <div class="product-price-box">
                                    <div>
                                        원가 : <b>￦{{ set.discount_price }}</b><br/>
                                    </div>
                                    <div>
                                        커스텀 세트 할인 된 가격 : 19000원
                                    </div>
                                    <div>
                                        세트 할인율 : 18%
                                    </div>
                                    Category : <b>{{ set.category_name}}</b>
                                </div>
                                <br/>
                               <div class="purchase-btn-area">
                                    <p>
                                        <a href="#" type="button" id="addCustomBtn" class="btn btn-danger btn-block" data-set = "{{ set.key  }}" >저장 하기</a>
                                    </p>
                                    <p>
                                        <a href="#" type="button" id="submitCustomBtn" data-set = "{{ set.key  }}" class="btn btn-info btn-block">장바구니에 넣기</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>


<div class="modal fade" id="product-detail-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="padding : 12px;">
      <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-7">
                    <div class="box-css">
                        <div class="box-header">
                            <h4 class="contents-header">제품 상세 설명</h4>
                        </div>
                        <div class="product-contents">
                            <div class="product-img">
                                <img src="{{ set.big_img_url}}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="box-css">
                        <div class="box-header">
                            <h4 class="contents-header">구매</h4>
                        </div>
                        <div class="price-area">
                            <div class="product-name"><a href="#">{{set.name  }}</a></div>
                            <div class="product-price"><span>{{ set.discount_price }}</span>원</div>
                            <div class="product-btn-area">
                                <a href="#" class="btn btn-danger">선택하기</a>
                            </div>
                        </div>
                    </div>
                    <div class="box-css" style="margin-top: 14px;">
                        <div class="box-header">
                            <h4 class="contents-header">상품 정보</h4>
                        </div>
                        <div>
                            <ul class="nav nav-tabs nav-justified set-info-tab" style="margin-left:-1px;">
                               <li class="active"><a href="#modalProductInfo" data-toggle="tab">상품 정보</a></li>
                               <li><a href="#modalProductReview" data-toggle="tab">제품 리뷰</a></li>
                               <li><a href="#modalProductEtc" data-toggle="tab">기타</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="modalProductInfo">
                                   <div class="product-description">
                                        <h4  class="contents-header" style="padding-left:0px;">상세 설명</h4>
                                        {{ set.description }}
                                    </div>
                                </div>
                                <div class="tab-pane" id="modalProductReview">
                                     <div class="video-review">
                                        <iframe width="96%" height="225" src="//www.youtube.com/embed/PxSXrJ0ircg" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="tab-pane" id="modalProductEtc">
                                     상품 정보가 어쩌구 저쩌구 <button class="btn btn-primary" data-toggle="modal" data-target=".product-detail-modal">Large modal</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
       </div>
    </div>
  </div>
</div>


{% endblock %}