{% extends "mobile_base.html" %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}"/>
<script src="{{ url_for('static', filename='js/cart.js') }}"></script>
{% endblock %}
{% block title %}
    <h2 class="ui-title">장바구니</h2>
{% endblock %}
{% block special_header%}
    <div class="total-cost-box">
       <div id="total-cost">
         총 결제 금액 : <span class="total-cost">{{ total_price|intcomma }}</span>원
       </div>
       <div class="purchase-btn">
          <input type="button" data-mini="true" data-shadow="false" value="결제하기" data-inline="true">
       </div>
       <div class="clearfix"></div>
    </div>
{% endblock %}

{% block content %}

<div class="ui-grid-solo cart-list">

    {% for product in carts.data %}
    <div class="ui-block-a" id="is123">
        <div class="cart-list-item boxed">
           <img class="product-img"  src="{{ product.small_img }}"/>
           <div class="product-contents">
               <div class="product-info">
                   <h4>{{ product.name }}</h4>
                   <p class="product-desc">
                       {{ product.category_name }}
                   </p>
                   <div>
                       <div class="buy-cnt">
                           <label for="{{ product.key }}-cnt" class="select-box-name">수량: </label>
                           <select data-mini="true" class="product-cnt-selectbox" data-id="{{ product.key }}">
                                <option value="0">0</option>
                                <option value="1" selected="selected">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                           </select>
                       </div>
                       <div  class="clearfix"></div>
                   </div>
               </div>
           </div>
           <div class="product-cost">
               금액 : <span class="price" id="{{ product.key }}-price">{{ product.discount_price }}</span>원
           </div>
           <div class="product-delete">
               <input type="button" class="product-del-btn" data-mini="true" data-shadow="false" data-id="{{ product.key }}" value="삭제하기">
           </div>
           <div class="clearfix"></div>
        </div>
    </div>

{% endfor %}
</div>

{% endblock %}