{% extends "web_base.html" %}
{% block header %}
{% load static %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'css/cart_web.css' %}"/>
<script src="http://dmaps.daum.net/map_js_init/postcode.js"></script>
<script src="{% static 'js/cart_web.js'%}"></script>
{% endblock %}
{% block content %}
<div id="addressLayer">
    <img src="//i1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px" onclick="closeDaumPostcode()">
</div>
<div class="row">
    <div class="category-list">
        <div style="font-size: 14px; padding: 10px 20px; font-weight: bold;">
            카트
        </div>
    </div>
</div>

<div class="row">
    <div class="main-container float-left">
        <div class="box-css">
            <div class="box-header" style="margin-left: 20px;">
                세트
            </div>
            <div>
                {% if sets|length == 0 %}
                    <div class="no-item">
                        구매하신 내역이 없습니다.
                    </div>
                {% endif %}
                {% for set in sets %}
                <div class="purchased-item">
                    <div class="purchased-item-img">
                        <a href="{% url 'set' set_id=set.id %}" target="_blank"><img src="{{ set.big_img_url }}"/></a>
                    </div>
                    <div class="purchased-item-contents">
                        <div class="purchased-item-contents-wrapper">
                            <div class="purchased-item-name">
                                <a href="{% url 'set' set_id=set.id %}" target="_blank">{{ set.name }}</a>
                            </div>
                            <div class="purchased-item-price">가격 : {{ set.discount_price|intcomma }}원</div>
                        </div>
                    </div>
                    <div class="purchased-item-buy">
                        <div class="purchased-item-contents-wrapper">
                            <select>
                                <option {% if set.item_count == 1 %} selected="selected" {% endif %}>1</option>
                                <option {% if set.item_count == 2 %} selected="selected" {% endif %}>2</option>
                                <option {% if set.item_count == 3 %} selected="selected" {% endif %}>3</option>
                                <option {% if set.item_count == 4 %} selected="selected" {% endif %}>4</option>
                                <option {% if set.item_count == 5 %} selected="selected" {% endif %}>5</option>
                                <option {% if set.item_count == 6 %} selected="selected" {% endif %}>6</option>
                                <option {% if set.item_count == 7 %} selected="selected" {% endif %}>7</option>
                                <option {% if set.item_count == 8 %} selected="selected" {% endif %}>8</option>
                                <option {% if set.item_count == 9 %} selected="selected" {% endif %}>9</option>
                                <option {% if set.item_count == 10 %} selected="selected" {% endif %}>10</option>
                                {% if set.item_count > 10 %}
                                    <option  selected="selected">{{ set.item_count }}</option>
                                {% endif %}
                            </select>
                            <span class="purchased-item-price-with-cnt">{{ set.discount_price|intcomma }}원</span>
                        </div>
                    </div>
                    <div class="purchased-item-del-btn">
                        <a href="#" class="del-item-btn" data-product-id="{{ set.id }}" data-type="s">삭제</a>
                    </div>
                </div>

                {% endfor %}
            </div>
            <div class="box-header" style="margin-left: 20px; margin-top: 40px;">
                단품
            </div>
            <div>
                {% if products|length == 0 %}
                    <div class="no-item">
                        구매하신 내역이 없습니다.
                    </div>
                {% endif %}
                {% for product in products %}
                <div class="purchased-item">
                    <div class="purchased-item-img">
                        <a href="{% url 'product' product_id=product.id %}" target="_blank"><img src="{{ product.big_img_url }}"/></a>
                    </div>
                    <div class="purchased-item-contents">
                        <div class="purchased-item-contents-wrapper">
                            <div class="purchased-item-name">
                                <a href="{% url 'product' product_id=product.id %}" target="_blank">{{ product.name }}</a>
                            </div>
                            <div class="purchased-item-price">가격 : {{ product.discount_price|intcomma }}원</div>
                        </div>
                    </div>
                    <div class="purchased-item-buy">
                        <div class="purchased-item-contents-wrapper">
                            <select class="product-num">
                                <option {% if product.item_count == 1 %} selected="selected" {% endif %}>1</option>
                                <option {% if product.item_count == 2 %} selected="selected" {% endif %}>2</option>
                                <option {% if product.item_count == 3 %} selected="selected" {% endif %}>3</option>
                                <option {% if product.item_count == 4 %} selected="selected" {% endif %}>4</option>
                                <option {% if product.item_count == 5 %} selected="selected" {% endif %}>5</option>
                                <option {% if product.item_count == 6 %} selected="selected" {% endif %}>6</option>
                                <option {% if product.item_count == 7 %} selected="selected" {% endif %}>7</option>
                                <option {% if product.item_count == 8 %} selected="selected" {% endif %}>8</option>
                                <option {% if product.item_count == 9 %} selected="selected" {% endif %}>9</option>
                                <option {% if product.item_count == 10 %} selected="selected" {% endif %}>10</option>
                                {% if product.item_count > 10 %}
                                    <option selected="selected">{{ product.item_count }}</option>
                                {% endif %}
                            </select>
                            <span class="purchased-item-price-with-cnt">{{ product.discount_price|intcomma }}원</span>
                        </div>
                    </div>
                    <div class="purchased-item-del-btn">
                        <a href="#" class="del-item-btn" data-product-id="{{ product.id }}" data-type="p">삭제</a>
                    </div>
                </div>

                {% endfor %}
            </div>

            <div class="box-header" style="margin-left: 20px; margin-top: 40px;">
                커스텀 세트
            </div>
            <div>
                {% if custom_sets|length == 0 %}
                    <div class="no-item">
                        구매하신 내역이 없습니다.
                    </div>
                {% endif %}
                {% for custom_set in custom_sets%}
                <div class="purchased-item">
                    <div class="purchased-item-img">
                        <a href="#" target="_blank"><img src="{{ custom.big_img_url }}"/></a>
                    </div>
                    <div class="purchased-item-contents">
                        <div class="purchased-item-contents-wrapper">
                            <div class="purchased-item-name">
                                <a href="#" target="_blank">{{ custom_set.name }}</a>
                            </div>
                            <div class="purchased-item-price">가격 : {{ custom_set.discount_price|intcomma }}원</div>
                        </div>
                    </div>
                    <div class="purchased-item-buy">
                        <div class="purchased-item-contents-wrapper">
                            <select>
                                <option {% if custom_sets.item_count == 1 %} selected="selected" {% endif %}>1</option>
                                <option {% if custom_sets.item_count == 2 %} selected="selected" {% endif %}>2</option>
                                <option {% if custom_sets.item_count == 3 %} selected="selected" {% endif %}>3</option>
                                <option {% if custom_sets.item_count == 4 %} selected="selected" {% endif %}>4</option>
                                <option {% if custom_sets.item_count == 5 %} selected="selected" {% endif %}>5</option>
                                <option {% if custom_sets.item_count == 6 %} selected="selected" {% endif %}>6</option>
                                <option {% if custom_sets.item_count == 7 %} selected="selected" {% endif %}>7</option>
                                <option {% if custom_sets.item_count == 8 %} selected="selected" {% endif %}>8</option>
                                <option {% if custom_sets.item_count == 9 %} selected="selected" {% endif %}>9</option>
                                <option {% if custom_sets.item_count == 10 %} selected="selected" {% endif %}>10</option>
                                {% if custom_sets.item_count > 10 %}
                                    <option  selected="selected">{{ custom_sets.item_count }}</option>
                                {% endif %}
                            </select>
                            <span class="purchased-item-price-with-cnt">{{ custom_set.discount_price|intcomma }}원</span>
                        </div>
                    </div>
                    <div class="purchased-item-del-btn">
                        <a href="#" class="del-item-btn" data-product-id="{{ custom_set.id }}" data-type="p">삭제</a>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
    <div class="nav-container float-left">
        <div class="box-css">
            <div class="box-header">
                배송지 정보
            </div>
            <div class="address-box">
                <select>
                    <option>최근 주소지</option>
                    <option>서울시 강남구..</option>
                    <option>서울시 서초구..</option>
                </select>
            </div>
            <div class="form-box">
                <div class="form-input-horizontal">
                    <label for="sendTo">수취인 성명</label>
                    <input type="text" id="sendTo" class="send-to-input" name="send_to" value="{{ user.username }}"/>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div  class="form-box">
                <input type="hidden" id="phone" name="phone"/>
                <div class="form-input-horizontal">
                    <label for="phone1">연락처</label>
                    <div class="form-input-container">
                        <input type="text" class="input-phone" id="phone1"/> <input type="text"  class="input-phone" id="phone2"/> <input type="text"  class="input-phone" id="phone3"/>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-box">
                <label>주소</label>
                <div>
                    <div class="form-address-input-container">
                        <input type="text" name="postal_code" id="postalcode" disabled="disabled"/> <a href="#" id="searchAddressBtn" class="basic-btn">우편번호 검색</a>
                    </div>
                    <div class="form-address-input-container address-expanded-form">
                        <input type="text" name="basic_address" id="basicAddress" disabled="disabled"/>
                    </div>
                    <div class="form-address-input-container address-expanded-form">
                        <input type="text" name="detail_address"/>
                    </div>
                </div>
            </div>
            <div class="form-box">
                <label for="">배송시 요청사항</label>
                <div class="form-input-container">
                    <textarea class="shipment-request">부재시 경비실에 맡겨주세요.</textarea>
                </div>
            </div>

            <div class="purchase-nav-bottom">
                <div class="total-purchase-price">
                    총 결제 금액 &nbsp;<span>306,000원</span>
                </div>
                <div class="purchase-methods">
                    <div class="checkbox-wrapper">
                        <input type="radio" id="creditCard" name="purchase_method"/>
                        <label for="creditCard">신용카드</label>
                    </div>
                    <div class="checkbox-wrapper">
                        <input type="radio" id="realTime" name="purchase_method"/>
                        <label for="realTime">실시간 계좌이체</label>
                    </div>
                    <div class="checkbox-wrapper">
                        <input type="radio" id="phoneP" name="purchase_method"/>
                        <label for="phoneP">휴대폰 결제</label>
                    </div>
                    <div class="checkbox-wrapper">
                        <input type="radio" id="account" name="purchase_method"/>
                        <label for="account">무통장 입금</label>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="purchase-btn-box">
                <a href="#" class="purchase-btn">구매하기</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}