{% extends "web_base.html" %}

{% block header %}
{% load static %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'css/cart_web.css' %}"/>
<script src="http://dmaps.daum.net/map_js_init/postcode.js"></script>
<script src="{% static 'js/cart_web.js'%}"></script>
<script type="text/javascript">

    var url_payment_complete = "{% url 'payment_complete' %}";
    var url_profile_update = "{% url 'update' %}";
    var url_get_billgate_payment_checksum = "{% url 'billgate_payment_checksum' %}";

    var service_id = "{{ payment_items.service_id }}";
    var order_id = "{{ payment_items.order_id }}";
    var user_mileage = "{{ user.profile.mileage }}";
    var total_price = "{{ total_price }}";

    function onPaymentSuccess(payment_id) {
        window.location.replace( url_payment_complete+payment_id );
    }

    function onPaymentFail() {
        alert("payment fail!!!");
    }

</script>
{% endblock %}
{% block content %}
<embed type="application/billgate-credit,version=1.0.0.0" width=0 height=0 id="plugin">
<div id="addressLayer">
    <img src="//i1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px" onclick="closeDaumPostcode()">
</div>
<div class="row">
    <div class="category-list">
        <div style="font-size: 14px; padding: 10px 20px; font-weight: bold;">
            카트
        </div>
    </div>
</div>

<div class="row">
    <div class="main-container float-left">
        <div class="box-css">
            <div class="box-header" style="margin-left: 20px;">
                세트
            </div>
            <div>
                {% if sets|length == 0 %}
                    <div class="no-item">
                        구매하신 내역이 없습니다.
                    </div>
                {% endif %}
                {% for set in sets %}
                <div class="purchased-item">
                    <div class="purchased-item-img">
                        <a href="{% url 'set' set_id=set.id %}" target="_blank"><img src="{{ set.big_img_url }}"/></a>
                    </div>
                    <div class="purchased-item-contents">
                        <div class="purchased-item-contents-wrapper">
                            <div class="purchased-item-name">
                                <a href="{% url 'set' set_id=set.id %}" target="_blank">{{ set.name }}</a>
                            </div>
                            <div class="purchased-item-price">가격 : <span id="cart-set-price-{{ set.id }}">{{ set.discount_price|intcomma }}</span>원</div>
                        </div>
                    </div>
                    <div class="purchased-item-buy">
                        <div class="purchased-item-contents-wrapper">
                            <select class="cart-item-count" data-type="s" data-id="{{ set.id }}">
                                <option {% if set.item_count == 1 %} selected="selected" {% endif %}>1</option>
                                <option {% if set.item_count == 2 %} selected="selected" {% endif %}>2</option>
                                <option {% if set.item_count == 3 %} selected="selected" {% endif %}>3</option>
                                <option {% if set.item_count == 4 %} selected="selected" {% endif %}>4</option>
                                <option {% if set.item_count == 5 %} selected="selected" {% endif %}>5</option>
                                <option {% if set.item_count == 6 %} selected="selected" {% endif %}>6</option>
                                <option {% if set.item_count == 7 %} selected="selected" {% endif %}>7</option>
                                <option {% if set.item_count == 8 %} selected="selected" {% endif %}>8</option>
                                <option {% if set.item_count == 9 %} selected="selected" {% endif %}>9</option>
                                <option {% if set.item_count == 10 %} selected="selected" {% endif %}>10</option>
                                {% if set.item_count > 10 %}
                                    <option  selected="selected">{{ set.item_count }}</option>
                                {% endif %}
                            </select>
                            <span class="purchased-item-price-with-cnt" id="cart-set-total-price-{{ set.id }}">{{ set.total_price|intcomma }}</span>원
                        </div>
                    </div>
                    <div class="purchased-item-del-btn">
                        <a href="#" class="del-item-btn" data-product-id="{{ set.id }}" data-type="s">삭제</a>
                    </div>
                </div>

                {% endfor %}
            </div>
            <div class="box-header" style="margin-left: 20px; margin-top: 40px;">
                단품
            </div>
            <div>
                {% if products|length == 0 %}
                    <div class="no-item">
                        구매하신 내역이 없습니다.
                    </div>
                {% endif %}
                {% for product in products %}
                <div class="purchased-item">
                    <div class="purchased-item-img">
                        <a href="{% url 'product' product_id=product.id %}" target="_blank"><img src="{{ product.big_img_url }}"/></a>
                    </div>
                    <div class="purchased-item-contents">
                        <div class="purchased-item-contents-wrapper">
                            <div class="purchased-item-name">
                                <a href="{% url 'product' product_id=product.id %}" target="_blank">{{ product.name }}</a>
                            </div>
                            <div class="purchased-item-price">가격 : <span id="cart-product-price-{{ product.id }}">{{ product.discount_price|intcomma }}</span>원</div>
                        </div>
                    </div>
                    <div class="purchased-item-buy">
                        <div class="purchased-item-contents-wrapper">
                            <select class="cart-item-count" data-type="p" data-id="{{ product.id }}">
                                <option {% if product.item_count == 1 %} selected="selected" {% endif %}>1</option>
                                <option {% if product.item_count == 2 %} selected="selected" {% endif %}>2</option>
                                <option {% if product.item_count == 3 %} selected="selected" {% endif %}>3</option>
                                <option {% if product.item_count == 4 %} selected="selected" {% endif %}>4</option>
                                <option {% if product.item_count == 5 %} selected="selected" {% endif %}>5</option>
                                <option {% if product.item_count == 6 %} selected="selected" {% endif %}>6</option>
                                <option {% if product.item_count == 7 %} selected="selected" {% endif %}>7</option>
                                <option {% if product.item_count == 8 %} selected="selected" {% endif %}>8</option>
                                <option {% if product.item_count == 9 %} selected="selected" {% endif %}>9</option>
                                <option {% if product.item_count == 10 %} selected="selected" {% endif %}>10</option>
                                {% if product.item_count > 10 %}
                                    <option selected="selected">{{ product.item_count }}</option>
                                {% endif %}
                            </select>
                            <span class="purchased-item-price-with-cnt" id="cart-product-total-price-{{ product.id }}">{{ product.total_price|intcomma }}</span>원
                        </div>
                    </div>
                    <div class="purchased-item-del-btn">
                        <a href="#" class="del-item-btn" data-product-id="{{ product.id }}" data-type="p">삭제</a>
                    </div>
                </div>

                {% endfor %}
            </div>

            <div class="box-header" style="margin-left: 20px; margin-top: 40px;">
                커스텀 세트
            </div>
            <div>
                {% if custom_sets|length == 0 %}
                    <div class="no-item">
                        구매하신 내역이 없습니다.
                    </div>
                {% endif %}
                {% for custom_set in custom_sets%}
                <div class="purchased-item">
                    <div class="purchased-item-img">
                        <a href="#" target="_blank"><img src="{{ custom.big_img_url }}"/></a>
                    </div>
                    <div class="purchased-item-contents">
                        <div class="purchased-item-contents-wrapper">
                            <div class="purchased-item-name">
                                <a href="#" target="_blank">{{ custom_set.name }}</a>
                            </div>
                            <div class="purchased-item-price">가격 : <span id="cart-custom-price-{{ custom_set.id }}">{{ custom_set.discount_price|intcomma }}</span>원</div>
                        </div>
                    </div>
                    <div class="purchased-item-buy">
                        <div class="purchased-item-contents-wrapper">
                            <select class="cart-item-count" data-type="c" data-id="{{ custom_set.id }}">
                                <option {% if custom_sets.item_count == 1 %} selected="selected" {% endif %}>1</option>
                                <option {% if custom_sets.item_count == 2 %} selected="selected" {% endif %}>2</option>
                                <option {% if custom_sets.item_count == 3 %} selected="selected" {% endif %}>3</option>
                                <option {% if custom_sets.item_count == 4 %} selected="selected" {% endif %}>4</option>
                                <option {% if custom_sets.item_count == 5 %} selected="selected" {% endif %}>5</option>
                                <option {% if custom_sets.item_count == 6 %} selected="selected" {% endif %}>6</option>
                                <option {% if custom_sets.item_count == 7 %} selected="selected" {% endif %}>7</option>
                                <option {% if custom_sets.item_count == 8 %} selected="selected" {% endif %}>8</option>
                                <option {% if custom_sets.item_count == 9 %} selected="selected" {% endif %}>9</option>
                                <option {% if custom_sets.item_count == 10 %} selected="selected" {% endif %}>10</option>
                                {% if custom_sets.item_count > 10 %}
                                    <option  selected="selected">{{ custom_set.item_count }}</option>
                                {% endif %}
                            </select>
                            <span class="purchased-item-price-with-cnt" id="cart-custom-total-price-{{ custom_set.id }}">{{ custom_set.total_price|intcomma }}</span>원
                        </div>
                    </div>
                    <div class="purchased-item-del-btn">
                        <a href="#" class="del-item-btn" data-product-id="{{ custom_set.id }}" data-type="p">삭제</a>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
    <div class="nav-container float-left">
        <div class="box-css">
            <div class="box-header">
                배송지 정보
            </div>
{#            <div class="address-box">#}
{#                <select>#}
{#                    <option>최근 주소지</option>#}
{#                    <option>서울시 강남구..</option>#}
{#                    <option>서울시 서초구..</option>#}
{#                </select>#}
{#            </div>#}
            <div class="form-box">
                <div class="form-input-horizontal">
                    <label for="sendTo">수취인 성명</label>
                    <input type="text" id="sendTo" class="send-to-input" name="send_to" value="{{ user.profile.name }}"/>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div  class="form-box">
                <input type="hidden" id="phone" name="phone"/>
                <div class="form-input-horizontal">
                    <label for="phone1">연락처</label>
                    <div class="form-input-container">
                        <input type="text" class="input-phone" id="phone1" value="{{ profile_items.phone1 }}"/> <input type="text"  class="input-phone" id="phone2" value="{{ profile_items.phone2 }}"/> <input type="text"  class="input-phone" id="phone3" value="{{ profile_items.phone3 }}"/>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-box">
                <label>주소</label>
                <div>
                    <div class="form-address-input-container">
                        <input type="text" name="postal_code" id="postalcode" readonly value="{{ user_profile.postcode }}"/> <a href="#" id="searchAddressBtn" class="basic-btn">우편번호 검색</a>
                    </div>
                    <div class="form-address-input-container address-expanded-form">
                        <input type="text" name="basic_address" id="basicAddress" readonly value="{{ user_profile.basic_address }}"/>
                    </div>
                    <div class="form-address-input-container address-expanded-form">
                        <input type="text" name="detail_address" id="detailAddress" value="{{ user_profile.detail_address }}"/>
                    </div>
                </div>
            </div>
            <div class="form-box">
                <label for="">배송시 요청사항</label>
                <div class="form-input-container">
                    <textarea class="shipment-request">부재시 경비실에 맡겨주세요.</textarea>
                </div>
            </div>

            <div class="form-box">
                <div class="form-input-horizontal">
                    <label for="mileage">적립금 사용</label>
                    <input type="text" id="mileage" class="send-to-input-small" name="mileage" value="0"/>
                    <label>&nbsp{{ user.profile.mileage }}원 보유</label>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="purchase-nav-bottom">
                <div class="total-purchase-price">
                    총 결제 금액 &nbsp;<span id="cart-sum-price">{{ total_price|intcomma }}</span>원
                </div>
                <div class="purchase-methods">
                    <div class="checkbox-wrapper">
                        <input checked="checked" type="radio" id="creditCard" name="purchase_method" ㅍ미ㅕ/>
                        <label for="creditCard">신용카드</label>
                    </div>
{#                    <div class="checkbox-wrapper">#}
{#                        <input type="radio" id="realTime" name="purchase_method"/>#}
{#                        <label for="realTime">실시간 계좌이체</label>#}
{#                    </div>#}
{#                    <div class="checkbox-wrapper">#}
{#                        <input type="radio" id="phoneP" name="purchase_method"/>#}
{#                        <label for="phoneP">휴대폰 결제</label>#}
{#                    </div>#}
{#                    <div class="checkbox-wrapper">#}
{#                        <input type="radio" id="account" name="purchase_method"/>#}
{#                        <label for="account">무통장 입금</label>#}
{#                    </div>#}
                    <div class="clearfix"></div>
                </div>
            </div>
            <form name="payment" method="post" style="display: none" >
                <input type="text" name="SERVICE_ID" value="{{ payment_items.service_id }}"><br>
                <input type="text" name="ORDER_ID" value="{{ payment_items.order_id }}"><br>
                <input type="text" name="ORDER_DATE" value="{{ payment_items.order_date }}"><br>
                <input type="text" name="USER_ID" value="{{ payment_items.user_id }}"><br>
                <input type="text" name="USER_NAME" value="{{ user.profile.name }}"><br>
                <input type="text" name="USER_EMAIL" value="{{ user.username }}"><br>
                <input type="text" name="ITEM_CODE" value="{{ payment_items.item_code }}"><br>
                <input type="text" name="USING_TYPE" value="{{ payment_items.using_type }}"><br>
                <input type="text" name="CURRENCY" value="{{ payment_items.currency }}"><br>
                <input type="text" name="ITEM_NAME" value="{{ payment_items.item_name }}"><br>
                <input type="text" name="CARD_TYPE" value=""><br>
                <input type="text" name="AMOUNT" value="{{ payment_items.amount }}"><br>
                <input type="text" name="INSTALLMENT_PERIOD" value="{{ payment_items.installment_period }}"><br>
                <input type="text" name="RETURN_URL" value="{{ payment_items.return_url }}"><br>
                <input type="text" name="RETURN_OPENBROWSER_URL" value="{{ payment_items.return_openbrowser_url }}"><br>
                <input type="text" name="CHECK_SUM" value="{{ payment_items.check_sum }}"><br>
            </form>
            <div class="purchase-btn-box">
                <a href="#" class="purchase-btn">구매하기</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}