{% extends "mobile_base.html" %}
{% load humanize %}
{% block header %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/change_product_in_set.css' %}"/>
    <script src="{% static 'js/change_product_in_set.js' %}"></script>

    <script>

    var product_detail_in_json_url_template = "{% url 'mobile_product_json' product_id=1987654321 %}";
    function product_detail_in_json_url( product_id ) {
        return product_detail_in_json_url_template.replace("1987654321",product_id);
    }
    </script>

{% endblock %}
{% block title %}
    <div style="text-align:center; height:100%; margin-top:4px">
        <a href="{% url 'mobile:mobile_index' %}" target="_self">
            <img src="{% static "img/LOGO_black.png" %}" class="main-logo-img">
        </a>
    </div>
{#    <h2 class="ui-title">세트 커스터 마이징</h2>#}
{% endblock %}
{% block content %}
    <div>
        <ul class="custom-menu-list">
            {% for product in set.products %}
                {% if product.is_changeable == True %}
                    <li class="list-collapsible">

                        <div class="change-list-wrapper" original-product-id="{{ product.id }}" product-id="{{ product.id }}">
                            <div class="changeable-collapse-btn">
{#                                <div class="changeable-item-img">#}
{#                                    <img src="{{ product.small_img_url }}"/>#}
{#                                </div>#}
                                <div class="changeable-item-name">

                                    <div  class="product-item">
                                        <div class="product-item-img">
                                            <img src="{% static "img/detail_view.png" %}"  style="width:35px; height:auto; position:relative; margin:auto; left:0; right:0; top:0; bottom:0; "/>
                                        </div>
                                         <div class="product-item-contents">
                                              <div id="changeable-product-name">{{ product.brandname }} {{ product.name }}</div>
                                              <div id="changeable-product-price">{{ product.discount_price|intcomma }}원</div>
                                        </div>
                                    </div>



                                    <div class="changeable-btn">
                                            변경 가능 제품 보기
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <ul class="list-collapsed">
                            <li class="available-item">
                                <div class="available-item-type">
                                    기본
                                </div>
{#                                <div class="available-item-img">#}
{#                                    <img src="{{ product.small_img_url }}" alt=""/>#}
{#                                </div>#}
                                <div class="available-item-info">
                                    <div class="available-item-name">{{ product.brandname }} {{ product.name }}</div>
                                    <div class="available-item-price">{{ product.discount_price|intcomma }}원</div>
                                    <div class="available-item-btns" original-product-id="{{ product.id }}"
                                         product-id="{{ product.id }}" product-description="{{ product.description }}"
                                         product-image-url="{{ product.small_img_url }}">
                                        <a href="#" class="black-btn view-description-btn">요약보기</a>
                                        <a href="#" class="black-btn custom-product-btn">선택</a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            {% for item in product.changeable_products %}
                                <li class="available-item">
                                    <div class="available-item-type">
{#                                        <img src="{% static 'img/change.png' %}"/>#}
                                    </div>
{#                                    <div class="available-item-img">#}
{#                                        <img src="{{ item.small_img_url }}" alt=""/>#}
{#                                    </div>#}
                                    <div class="available-item-info">
                                        <div class="available-item-name">{{ item.brandname }} {{ item.name }}</div>
                                        <div class="available-item-price">{{ item.discount_price|intcomma }}원</div>
                                        <div class="available-item-btns" original-product-id="{{ product.id }}"
                                             product-id="{{ item.id }}" product-description="{{ item.description }}"
                                             product-image-url="{{ item.small_img_url }}">
                                            <a href="#" class="black-btn view-description-btn">요약보기</a>
                                            <a href="#" class="black-btn custom-product-btn">선택</a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <div class="change-list-wrapper">
{#                            <div class="changeable-item-img">#}
{#                                <img src="{{ product.small_img_url }}"/>#}
{#                            </div>#}
                            <div class="changeable-item-name">
                                <div  class="product-item">
                                        <div class="product-item-img">
                                        <img src="{% static "img/detail_view.png" %}"  style="width:35px; height:auto; position:relative; margin:auto; left:0; right:0; top:0; bottom:0; "/>
                                    </div>
                                     <div class="product-item-contents">

                                        {{ product.brandname }} {{ product.name }}<br/>
                                        {{ product.discount_price|intcomma }}원<br/>
                                    </div>
                                </div>
                                <div class="changeable-item-box-wrapper">
                                      고정 제품
                                </div>

{#                                <div class="changeable-btn">기본 고정 제품</div>#}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div data-role="popup" id="product-description-dialog" data-overlay-theme="a" data-theme="a" data-dismissible="false"
         style="width:300px;">
{#        <div data-role="header" data-theme="a">#}
{#            <h5 style="font-size: 14px;" id="popup-product-name"></h5>#}
{#        </div>#}
        <div role="main" class="ui-content">
            <div style="text-align:center;">
            <img id="popup-product-image" src="" />
            </div>
            <div id="popup-product-description">
            </div>
            <div style="padding-top:10px; text-align: center;">
                <a href="#" class="black-btn" data-rel="back">닫기</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}

    <div data-role="footer" data-position="fixed" data-tap-toggle="false" id="change-product-footer">
        <div class="footer-bar">
            <div class='set-price'>{{ set.discount_price|intcomma }}원</div>
            <a href="#" class="gold-btn" style="margin-right:2%; background-color:#292929; padding:10 10 10 10; border-radius:4px;">초기화</a>
            <a href="#" class="gold-btn" style="margin-right:2%; background-color:#292929; padding:10 10 10 10; border-radius:4px;">저장하기</a>
        </div>
    </div>
{% endblock %}