{% extends "web_base.html" %}
{% block header %}
{% load static %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'css/common_style_web.css'%}"/>
<link rel="stylesheet" href="{% static 'css/change_product_in_set_web.css'%}"/>
<script src="{% static 'js/change_product_in_set_web.js'%}"></script>
{% block subHeader %}
{% endblock %}
{% endblock %}
{% block content %}
<div class="row" id="changeProductWrapper">
    <div>
        <div class="change-product-header">Collection > 라이프스타일 컬렉션 > 서퍼들을 위한 변경</div>
        <div style="margin: 8px 0 16px 8px;">
            ※ 모든 제품이 변경이 가능한 것은 아닙니다.
        </div>
    </div>

    <div class="row">
        <div class="main-container float-left">
            <div class="box-css">
                <div class="box-header">
                    변경가능 제품
                </div>
                <div class="available-list">
                    {% for product in set.products %}
                        {% if product.is_changeable == True %}
                            <div class="available-product">
                                <div class="available-product-hover-menu">
                                     <a href="#" class="basic-btn available-product-btn"  data-target="#availableList-{{ product.id }}">변경가능 제품 보기</a>
                               </div>
                                <div class="product-img">
                                    <img src="{{ product.big_img_url }}" alt="" />
                                </div>
                                <div class="product-info">
                                    <div class="product-item-name">
                                        {{ product.name }}
                                    </div>
                                    <div style="margin-top: 4px;">
                                        카테고리 > {{ product.category_name }}<br/>
                                        브랜드 : {{ product.brandname }}<br/>
                                        용량 : {{ product.capacity }}<br/>
                                        원래 가격 : {{ product.original_price|intcomma }}원<br/>
                                        세트 포함시 가격 : {{ product.discount_price|intcomma }}원 (할인율 : {{ product.discount_rate }}%)
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="availableList-{{ product.id}}" class="available-products-list">
                                {% for item in product.changeable_products %}
                                    <div class="available-item">
                                        <div class="available-item-hover-menu">
                                             <a href="#" class="basic-btn basic-lg-btn available-item-btn" data-original-key="{{ product.id}}" data-product="{{ item.id }}">선택</a>
                                       </div>
                                        <div class="available-item-img">
                                            <img src="{{item.big_img_url }}" alt="" />
                                        </div>
                                        <div class="available-item-info">
                                            <div class="available-item-name"><a href="{% url 'product' product_id=item.id %}" target="_blank">{{item.name  }}</a></div>
                                            <div style="margin-top : 4px; line-height: 16px;">
                                                카테고리 > {{ item.category_name }}<br/>
                                                브랜드 : {{ item.maker}}<br/>
                                                가격 : {{ item.discount_price|intcomma }}원<br/>
                                                용량 : {{ item.capacity }}<br/>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="clearfix"></div>
                            <hr/>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="nav-container float-left">
            <div class="box-css" id="originProductWrapper">
                <div class="box-header" style="margin-bottom: 8px;">
                    고객님의 커스텀 제품
                </div>
                <div class="origin-product-area">
                    <div class="custom-set-table">
                        <table>
                            <tbody>
                            {% for setItem in set.products %}
                                <tr class="custom-set-item-tr" id="customSetTableItem-{{ setItem.id}}" data-original-key = "{{ setItem.id}}" data-new-key="{{ setItem.id}}">
                                    <td class="set-table-item-img">
                                        <img src="{{ setItem.big_img_url}}"/>
                                    </td>
                                    <td class="set-table-item-category">
                                        {{ setItem.category_name }}
                                    </td>
                                    <td class="set-table-item-info">
{#                                        {{ setItem.name|truncatechars:16 }}#}
                                        {{ setItem.brandname }}<br/>
                                        {{ setItem.name }}
                                        {% if setItem.is_changeable == False %}
                                            <br/>(<span style="color:red;">고정상품</span>)
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div style="padding-top : 12px;">
                        <div class="box-header" style="margin: 0;">
                            수정된 {{set.name }}
                        </div>
                        <div class="set-final-info">
                            <div class="set-final-price-box">
                                    원래가격 : {{ set.original_price|intcomma }}원<br/>
                                    할인 된 가격 : {{ set.discount_price|intcomma }}원<br/>
                                    할인율 : {{ set.discount_rate }}%<br/>
                            </div>
                            <br/>
                           <div class="purchase-btn-area">
                                <a href="#" type="button" id="addCustomBtn" class="basic-btn" data-set = "{{ set.id  }}" >&nbsp;&nbsp;저장 하기&nbsp;&nbsp;</a>
                                &nbsp;&nbsp;<a href="#" type="button" id="submitCustomBtn" data-set = "{{ set.id  }}" class="basic-btn">&nbsp;&nbsp;장바구니&nbsp;&nbsp;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
   <div class="clearfix"></div>
</div>


{% endblock %}