{% load humanize %}

<table width="650" border="0" cellspacing="0" cellpadding="0" align="center">
    <tbody>
        <tr>
            <td style="margin:0;padding:0 0 10px;line-height:13px;color:#999999;font-family:verdana,arial;font-size:10px;text-align:left">
            Your Order Confirmation. <a href="http://themotion9.com" style="font-family:verdana,arial;font-size:10px;color:#999999;text-decoration:underline" title="6pm.com" target="_blank"><span class="il">theMotion9</span>.com</a>
            </td>
        </tr>
    </tbody>
</table>

<table width="648" border="0" cellspacing="0" cellpadding="0" align="center" style="border:1px solid #cccccc;background:#fff;">
    <tbody>
        <tr>
            <td width="642" height="75" valign="middle" style="background:#ffffff;padding-right:6px">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tbody>
                        <tr>
                            <td width="200" height="75" align="left" style="padding-left:10px;padding-right:15px">
                                <a href="http://themotion9.com" style="font-family:verdana,arial;font-size:11px;color:#98002f;text-decoration:underline" title="theMotion9.com" target="_blank">
                                    <img title="theMotion9.com" alt="themotion9.com" src="http://playsense.co.kr/ok/thumb_upload/LOGO7-1.png" width="250" border="0" />
                                </a>
                            </td>
                            <td style="width:190px"></td>
                            <td style="padding:6px 0 6px 25px">
                                <table height="100%" width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td width="648" height="21" valign="middle" style="background-color:#98002f">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="height:100%">
                    <tbody>
                        <tr>
                            <td style="background-color:#212121;border-right:1px solid #ffffff;text-align:center">
                                <a href="http://themotion9.com/shop/set/" style="display:block;background-color:#212121;padding:3px 14px;font-family:verdana,arial;font-size:11px;color:#ffffff;text-decoration:none;text-transform:none" title="Shoes" target="_blank">Collections</a>
                            </td>
                            <td style="background-color:#212121;border-right:1px solid #ffffff;text-align:center">
                                <a href="http://themotion9.com/shop/product/" style="display:block;background-color:#212121;padding:3px 14px;font-family:verdana,arial;font-size:11px;color:#ffffff;text-decoration:none;text-transform:none" title="Clothing" target="_blank">Products</a>
                            </td>
                            <td style="background-color:#212121;border-right:1px solid #ffffff;text-align:center">
                                <a href="http://themotion9.com/customize/set/" style="display:block;background-color:#212121;padding:3px 14px;font-family:verdana,arial;font-size:11px;color:#ffffff;text-decoration:none;text-transform:none" title="Watches" target="_blank">My Collection</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td style="border-collapse:collapse">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tbody>
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="margin:0;padding:18px 24px 12px;color:#d2bb8f;font-size:16px;font-weight:bold;font-family:verdana,arial">
                Thank You For Your Order!
            </td>
        </tr>
        <tr>
            <td style="border-collapse:collapse;padding:6px 24px">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tbody>
                        <tr>
                            <td style="border-collapse:collapse;vertical-align:top">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td style="padding:12px 18px;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;background-color:#f4f4f4">
                                                <p style="margin:0 0 12px 0;padding:0;text-decoration:none;text-align:left;line-height:16px;font-family:verdana,arial;font-size:11px;color:#555555;margin-bottom:0px;text-align:center">
                                                    <b>주문번호:</b>
                                                    <a href="http://themotion9.com/user/mypage/purchase/product/" style="font-family:verdana,arial;font-size:11px;color:#98002f;text-decoration:underline" title="188503260" target="_blank">188503260</a>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p style="margin:0 0 12px 0;padding:0;text-decoration:none;text-align:left;line-height:16px;font-family:verdana,arial;font-size:11px;color:#555555;text-transform:capitalize;margin:18px 0;padding:0;line-height:16px;font-family:verdana,arial;font-size:11px;color:#555555">
                                    Hi
                                    <span class="il">Motion9</span>
                                    Shopper!
                                </p>
                                <p style="margin:0 0 12px 0;padding:0;text-decoration:none;text-align:left;line-height:16px;font-family:verdana,arial;font-size:11px;color:#555555">
                                    이제 곧 당신의 맑고 생기있게 변화할 시간입니다! 현재 Motion9은 고객님이 주문하신 제품을 최대한 빠른 시간안에 배송해 드리려 준비하고 있습니다! 아래는 고객님의 주문에 대한 상세한 사항들이며 , 항상 그렇듯 필요하신 사항이 있으시다면 언제든지 알려주세요
                                </p>
                                <p style="margin:0 0 12px 0;padding:0;text-decoration:none;text-align:left;line-height:16px;font-family:verdana,arial;font-size:11px;color:#555555">
                                    Your friends, <br/>
                                    <a href="http://themotion9.com" style="font-family:verdana,arial;font-size:11px;color:#555555;text-decoration:none" title="theMotion9.com" target="_blank">
                                        <span class="il">Motion9</span>
                                    </a>
                                </p>
                            </td>

                            <td style="border-collapse:collapse;padding-left:24px;vertical-align:top">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td width="216" align="center" style="border-collapse:collapse">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                                    <tbody>
                                                        <tr>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:6px 18px;text-align:left;background:#e5e5e5;font-family:verdana,arial;font-size:12px;color:#555555">
                                주문 상세 내역
                            </td>
                        </tr>
                        <tr>
                            <td style="border-collapse:collapse;padding:0 24px">
                                <p style="margin:0 0 12px 0;padding:0;text-decoration:none;text-align:left;line-height:16px;font-family:verdana,arial;font-size:11px;color:#555555;padding-top:12px">
                                    <b>주문정보:</b><br/>
{#                                    Item  Ordered: 1<br/>#}
                                    최종 결제 금액: {{ payment.auth_amount|intcomma }} 원
                                </p>
                                <p style="margin:0 0 12px 0;padding:0;text-decoration:none;text-align:left;line-height:16px;font-family:verdana,arial;font-size:11px;color:#555555">
                                    <b>배송정보 :</b><br/>
                                    주문 시간: {{ payment.auth_date }}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-collapse:collapse;padding:0 24px 18px">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td style="border-collapse:collapse;margin:0 0 12px 0;padding:0;text-decoration:none;text-align:left;line-height:16px;font-family:verdana,arial;font-size:11px;color:#555555;vertical-align:top">
                                                <b>배송 정보:</b><br/>
                                                수취인 : {{ payment.name }}<br/>
                                                연락처 : {{ payment.phone }}<br/>
                                                주소 : ({{ payment.postcode }}){{ payment.address }}
                                            </td>
{#                                            <td style="border-collapse:collapse;margin:0 0 12px 0;padding:0;text-decoration:none;text-align:left;line-height:16px;font-family:verdana,arial;font-size:11px;color:#555555;vertical-align:top">#}
{#                                                <b>결제 정보:</b><br/>#}
{#                                                결제 수단 : 신용카드<br/>#}
{#                                                결제 금액 : 123455원<br/>#}
{#                                            </td>#}
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:6px 18px;text-align:left;background:#e5e5e5;font-family:verdana,arial;font-size:12px;color:#555555">
                                주문 상품 정보
                            </td>
                        </tr>
                        {% for product in products %}
                            <tr>
                                <td style="border-bottom:1px dotted #dddddd;border-collapse:collapse">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td width="100" align="center" style="padding:0px 12px;border-collapse:collapse">
                                                </td>
                                                <td width="100%" style="padding:0;border-collapse:collapse;line-height:20px;text-align:left;vertical-align:top;font-family:verdana,arial;font-size:11px;color:#555555;line-height:16px;padding-top:12px">
                                                    <p style="margin:0 0 12px 0;padding:0;text-decoration:none;text-align:left;line-height:16px;font-family:verdana,arial;font-size:11px;color:#555555;margin-bottom:3px">
                                                        <span style="font-family:verdana,arial;font-size:12px;font-weight:bold;line-height:16px;color:#212121;text-decoration:none" target="_blank">{{ product.name }}</span>
                                                    </p>
                                                    <p style="margin:0 0 12px 0;padding:0;text-decoration:none;text-align:left;line-height:16px;font-family:verdana,arial;font-size:11px;color:#555555;margin-bottom:6px">
                                                        시중가격 : {{ product.original_price|intcomma }} 원<br/>
                                                        <span style="text-transform:capitalize">수량 :</span> {{ product.item_count }}개<br/>
                                                    </p>
                                                </td>
                                                <td width="100%" align="right" style="padding-right:24px;font-family:verdana,arial;font-size:12px;color:#555555;font-weight:bold;white-space: nowrap">
                                                    구매가격 : {{ product.total_price|intcomma }} 원
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for set in sets %}
                            <tr>
                                <td style="border-bottom:1px dotted #dddddd;border-collapse:collapse">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td width="100" align="center" style="padding:0px 12px;border-collapse:collapse">
                                                </td>
                                                <td width="100%" style="padding:0;border-collapse:collapse;line-height:20px;text-align:left;vertical-align:top;font-family:verdana,arial;font-size:11px;color:#555555;line-height:16px;padding-top:12px">
                                                    <p style="margin:0 0 12px 0;padding:0;text-decoration:none;text-align:left;line-height:16px;font-family:verdana,arial;font-size:11px;color:#555555;margin-bottom:3px">
                                                        <span style="font-family:verdana,arial;font-size:12px;font-weight:bold;line-height:16px;color:#212121;text-decoration:none" target="_blank">{{ set.name }}</span>
                                                    </p>
                                                    <p style="margin:0 0 12px 0;padding:0;text-decoration:none;text-align:left;line-height:16px;font-family:verdana,arial;font-size:11px;color:#555555;margin-bottom:6px">
                                                        시중가격 : {{ set.original_price|intcomma }} 원<br/>
                                                        <span style="text-transform:capitalize">수량 :</span> {{ set.item_count }}개<br/>
                                                    </p>
                                                </td>
                                                <td width="100%" align="right" style="padding-right:24px;font-family:verdana,arial;font-size:12px;color:#555555;font-weight:bold;white-space: nowrap">
                                                    구매가격 : {{ set.total_price|intcomma }} 원
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for custom_set in custom_sets %}
                            <tr>
                                <td style="border-bottom:1px dotted #dddddd;border-collapse:collapse">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td width="100" align="center" style="padding:0px 12px;border-collapse:collapse">
                                                </td>
                                                <td width="100%" style="padding:0;border-collapse:collapse;line-height:20px;text-align:left;vertical-align:top;font-family:verdana,arial;font-size:11px;color:#555555;line-height:16px;padding-top:12px">
                                                    <p style="margin:0 0 12px 0;padding:0;text-decoration:none;text-align:left;line-height:16px;font-family:verdana,arial;font-size:11px;color:#555555;margin-bottom:3px">
                                                        <span style="font-family:verdana,arial;font-size:12px;font-weight:bold;line-height:16px;color:#212121;text-decoration:none" target="_blank">{{ custom_set.name }}</span>
                                                    </p>
                                                    <p style="margin:0 0 12px 0;padding:0;text-decoration:none;text-align:left;line-height:16px;font-family:verdana,arial;font-size:11px;color:#555555;margin-bottom:6px">
                                                        시중가격 : {{ custom_set.original_price|intcomma }} 원<br/>
                                                        <span style="text-transform:capitalize">수량 :</span> {{ custom_set.item_count }}개<br/>
                                                    </p>
                                                </td>
                                                <td width="100%" align="right" style="padding-right:24px;font-family:verdana,arial;font-size:12px;color:#555555;font-weight:bold;white-space: nowrap">
                                                    구매가격 : {{ custom_set.total_price|intcomma }} 원
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% endfor  %}
                        <tr>
                            <td style="border-collapse:collapse;padding:12px 24px">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td style="border-collapse:collapse;margin:0 0 12px 0;padding:0;text-decoration:none;text-align:left;line-height:16px;font-family:verdana,arial;font-size:11px;color:#555555;text-align:right">
                                                총 구매금액 :<br/>
                                                마일리지 사용액:<br/>
                                                배송료:<br/>
                                            </td>
                                            <td width="75" style="border-collapse:collapse;margin:0 0 12px 0;padding:0;text-decoration:none;text-align:left;line-height:16px;font-family:verdana,arial;font-size:11px;color:#555555;padding-left:12px;text-align:right">
                                                {{ payment.total_price|intcomma }} 원<br/>
                                                {{ payment.mileage|intcomma }} 원<br/>
                                                0 원<br/>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:6px 18px;text-align:left;background:#e5e5e5;font-family:verdana,arial;font-size:12px;color:#555555;text-align:right;">
                                Order Total: {{ payment.auth_amount|intcomma }} 원
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td width="648" style="border-collapse:collapse;border-top:1px dotted #cccccc;text-align:center;background:#e5e5e5">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tbody>
                        <tr>
                            <td width="648" height="5" valign="bottom" align="center" style="padding:15px 24px 3px;background:#e5e5e5">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#e5e5e5">
                                    <tbody>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="648" height="5" valign="middle" align="center" style="padding:0 24px;background:#e5e5e5">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#e5e5e5">
                                    <tbody>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="648" height="70" valign="top" align="left" style="color:#555555;padding:15px 24px 6px">
                                <p style="font-family:NanumGothic;font-size:11px;text-align:left;margin:0 0 12px 0;padding:0;color:#555555">
                                    (주) 아스델 | 대표이사 : 한도건 | 사업자 등록번호 : 119-86-58979 <br/>
                                    <span style="font-family:NanumGothic;font-size:11px;color:#555555;text-decoration:none" >
                                        <span class="il">통신판매업신고 : 2013-서울관악-0392 | </span>
                                        <br/>개인정보관리책임자 : 박주람<br/>
                                        <span>서울시 관악구 관악로1 서울대학교 35동 2F (주)아스델 | Tel : 02-554-4511 <br/>
                                        </span>
                                        <span style="font-family:NanumGothic;font-size:11px;text-align:left;margin:0 0 12px 0;padding:0;color:#555555">
                                            © 2014
                                            <a href="http://themotion9.com" style="font-family:NanumGothic;font-size:11px;color:#555555;text-decoration:none" target="_blank">Motion9</a><br/>
                                            <br/>
                                        </span>
                                    </span>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>