{% extends "web_base.html" %}
{% block header %}
{% load static %}
    <link rel="stylesheet" href="{% static "css/faq_web.css" %}"/>
{% endblock %}
{% block content %}

    <div class="faq-form">
        <div class="faq-box-header">
            <h4 class="lined-heading"><span>FAQ</span></h4>
        </div>
        <div class="faq-list-container">
            <ul class="faq-list">
                {% for faq in faqs %}
                    <li class="faq-item">
                        <div class="faq-item-title">{{ faq.title }}</div>
                        <div class="faq-item-content">{{ faq.content }}&nbsp;</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}