{% extends "mobile_base.html" %}
{% block header %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>

    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block content %}

    <div id="productList">
        <div style="border : 1px solid #d8d9dd; width : 100%; height : auto; position:relative;">
            <img src='{{ main_image_url }}' style="width:100%; height:auto"/>

            <div class="main-notice">{{ main_notice.content }}</div>
        </div>
        <div style="width:auto; height:auto;  text-align:center; margin:20px;">


            <a href="#" class="index-content-text"
               target="_self">당신에게 맞는 화장품을 <br/> 직접 찾아드립니다.<br/><br/>
                선착순 1000명까지 무료<br/> 현재 신청 인원 : 400명<br/><br/>
            </a>
            <a href="{% url 'mobile_survey_detail' %}" class="black-btn index-content-btn"
               style="" target="_self">자세히 알아보기</a>
            <a href="{% if user.is_authenticated %}
                        {% url 'mobile_report_form' %}
                       {% else %}
                        {% url 'mobile_report_form_index' %}
                       {% endif %}"
               class="black-btn index-content-btn" style="margin-left:20px;" target="_self">시작하기</a>
        </div>
        <div style="border : 1px solid #d8d9dd; width : 100%; height : auto">
            {#      {% for category_images in category_images %}#}
            {#        <a href="{% url "mobile_shop_product" category_id=category_images.id %}" class="top-menu-btn"><img src='{{ category_images.image }}' style="width:100%; height:auto" ></a>#}
            {#      {% endfor %}#}

            {% for set_category_image in set_category_images %}
                <a href="{% url 'mobile_shop_set' category_id=set_category_image.id %}" class="index-content-img"
                   target="_self"><img src="{{ set_category_image.image_url }}" style="width:100%; height:auto"/></a>
            {% endfor %}

        </div>
    </div>
{% endblock %}