{% extends "web_base.html" %}
{% block header %}
    {% load mathfilters %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index_web.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/popup_layer.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'common/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'common/css/bootstrap-theme.min.css' %}"/>
    
{#    <script src="{% static 'js/popup_layer.js' %}"></script>#}
    <script src="{% static 'js/index_web.js' %}"></script>
    <script src="{% static 'common/js/bootstrap.min.js' %}"></script>

{% endblock %}
{% block ad_area %}
    <div class="ad-area">
        <img src="{% static 'common/image/main_over.png' %}"/>
        <div class="main-notice">
            <div class="main-notice-title">
                Boys be ambitious<br/>
                Guys be <span style="color:#17bcb8;">FINER</span><br/>
            </div>
            <div class="main-notice-subtitle">
                오직 남성을 위한 최적의 피부 관리 서비스
            </div>
{#            <div class="main-notice-button-group">#}
                <a type="button" class="btn-start" href="{% url 'report_form' %}" role="button">보고서 신청</a>
{#            </div>#}
        </div>
    </div>
{% endblock %}

{% block full_width_content %}
    <div id="how-it-works">
        <div class="how-it-works-container">
            <div class="yellow-deco-bar"></div>
            <div class="how-it-works-title">
                How it works
            </div>
            <div class="how-it-works-step">
                <div class="first-step">
                    <div class="step-title">보고서 신청을 위한 정보 입력</div>
                    <div class="step-content">
                        <p>본인의 피부와 라이프스타일 정보를 입력합니다. 수분 내에 입력 가능합니다.</p>
                    </div>
                </div>
                <div class="second-step">
                    <div class="step-title">최적화된 보고서 받기</div>
                    <div class="step-content">
                        <p>258만개의 리뷰를 분석한 데이터를 바탕으로 최적화된 화장품 보고서를 직접 작성해 드립니다.</p>
                    </div>
                </div>
                <div class="third-step">
                    <div class="step-title">A/S</div>
                    <div class="step-content">
                        <p>보고서가 자신에게 맞지 않는다고 생각하면 언제든지 재분석 요청을 하세요. 본인에게 맞는 화장품을 추천받을 때까지 계속 보고서를 작성해 드립니다.</p>
                    </div>
                </div>
            </div>
            <div class="hiw-footer">
                <ul>
                    <li>Its Free</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="intro-container">
        <div class="intro-top">
            <div class="float-left intro-left-top">
                <img src="{% static 'common/image/tut1.png' %}"/>
            </div>
            <div class="float-right intro-right-top">
                <div class="grey-deco-bar"></div>
                <div class="intro-item-title">남자들만을 위해 준비했습니다.</div>
                <div class="intro-item-content">
                    <span>남성에게도 피부관리가 필수인 시대에 시간과 정보가 부족한 현대 남성들을 위해 만들어진 최적의 피부 관리 서비스입니다.</span>
                </div>
            </div>
        </div>
        <div class="intro-bottom">
            <div class="float-left intro-left-bottom">
                <div class="grey-deco-bar"></div>
                <div class="intro-item-title">피부타입, 선호브랜드, 예산까지 고려해 분석해 드립니다.</div>
                <div class="intro-item-content">
                    <span>258만개의 리뷰를 분석한 데이터를 바탕으로 최적화된 화장품 보고서를 작성해 드립니다.<br/>보고서에 만족하실 때까지 재분석해 드립니다.</span>
                </div>
            </div>
            <div class="float-right intro-right-bottom">
                <img src="{% static 'common/image/tut3.png' %}"/>
            </div>
        </div>
    </div>

    <div class="closing-container">
        <div class="green-deco-bar"></div>
        <div class="closing-title">
            당신의 피부관리. 이제 간편하게 파이너스로 시작하세요
        </div>
        <div class="closing-content">
            <span>아래 버튼 클릭 후 당신의 피부에 대한 몇 가지 정보만 입력하시면 당신만을 위한 최고의 보고서를 제공해드립니다.</span>
        </div>
        <div class="closing-button-group">
            <a type="button" class="btn-start-2" href="{% url 'report_form' %}" role="button">보고서 신청</a>
        </div>
    </div>
{% endblock full_width_content %}