{% extends "web_base.html" %}
{% block header %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index_web.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/popup_layer.css' %}"/>

    <script src="{% static 'js/popup_layer.js' %}"></script>
    <script src="{% static 'js/index_web.js' %}"></script>

{% endblock %}
{% block ad_area %}
    <div class="ad-area">
        <img src="{{ main_image }}"/>
        {% if user.is_authenticated %}
            <div class="main-notice">{{ main_notice.content }}
                <a href="{% url 'survey_detail' %}" class="main-btn">자세히 알아보기</a>
                <a href="{% url 'report_form' %}" class="main-btn" style="margin-left:15px;">나의 피부 진단</a>
                <a href="#" class="main-btn" id="btn-survey-list" style="margin-left:15px;">분석 보고서</a>
            </div>
        {% else %}
            <div class="main-notice">{{ main_notice.content }}
                <a href="{% url 'survey_detail' %}" class="main-btn">자세히 알아보기</a>
                <a href="{% url 'report_form_index' %}" class="main-btn" style="margin-left:15px;">나의 피부 진단</a>
                <a href="#" class="main-btn" id="btn-survey-list" style="margin-left:15px;">분석 보고서</a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}

    <div class="index-content-wrapper">
        {% for set_category_images in set_category_images_row %}
            <div class="index-content-row">
                {% for set_category_image in set_category_images %}
                    {% if forloop.first %}
                        <div class="index-content float-left">
                            <a href="{% url 'shop_set' category_id=set_category_image.id %}"
                               class="index-content-img"><img src="{{ set_category_image.image_url }}"/></a>
                        </div>
                    {% elif forloop.last %}
                        <div class="index-content center-in-div">
                            <a href="{% url 'shop_set' category_id=set_category_image.id %}"
                               class="index-content-img"><img src="{{ set_category_image.image_url }}"/></a>
                        </div>
                    {% else %}
                        <div class="index-content float-right">
                            <a href="{% url 'shop_set' category_id=set_category_image.id %}"
                               class="index-content-img"><img src="{{ set_category_image.image_url }}"/></a>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        {% endfor %}
    </div>

    {#    <a href="#" class="btn-example" onclick="layer_open('layer2');return false;">예제-2 보기</a>#}


    <div class="layer">
        <div class="bg"></div>

        <div id="layer1" class="pop-layer pop-layer-one">
            <div class="pop-container" style="width:400px;">
                <div>
                    <!--content //-->

                    <a href="#"
                       class="black-btn index-content-btn" target="_self" id="layer_next"
                       style="font-size:15px; border-radius: 0px;"><img
                            src="{% static 'img/popup_first.png' %}" style="width:600px; height:auto;"/></a>
                    <!--// content-->
                </div>
            </div>
        </div>

        <div id="layer2" class="pop-layer pop-layer-two" style="display:none; position:relative;">
            <div class="pop-container" style="margin:0px; border:0px; padding:0px;">
                <div class="pop-conts" style="display: inline-flex;">
                    <!--content //-->

                    <!--content //-->

                    <a href="#"
                       class="black-btn index-content-btn" target="_self" id="layer_next"
                       style="min-width:480px;font-size:15px; border-radius: 0px;"><img
                            src="{% static 'img/pop_img.png' %}" style="width:480px; height:349;"/></a>
                    <!--// content-->
                    <div style="padding: 25px 30px 25px 30px;">
                        <div style="text-align:center;">
                            <img src="{% static 'img/LOGO_black.png' %}" style="height:50px"/></div>
                        <p class="ctxt mb20" style="color:black; font-size:15px; font-weight:bold;">
                            * MOTION9은 남성들의 피부 관리를 도와드립니다. <br/>* 개개인의 피부, 라이프스타일, 예산까지 고려하여 <br/>&nbsp;&nbsp;&nbsp;맞는
                            화장품을 찾아서 분석해 드립니다.<br/>* 선착순 1000명까지 무료로 보고서를 작성해 드립니다! <br/>
                        </p>

                        <div style="text-align:center;">
                            {% if user.is_authenticated %}
                                <a href="{% url 'report_form' %}" class="basic-btn"
                                   style="display:inline-block; width:150px; line-height:30px; font-size:14px;">화장품 보고서
                                    신청</a>
                                <a href="#" class="basic-btn layer-close"
                                   style="display:inline-block; width:150px; line-height:30px; font-size:14px; margin-left:20px;">닫기</a>
                            {% else %}
                                <a href="{% url 'report_form_index' %}" class="basic-btn"
                                   style="display:inline-block; width:150px; line-height:30px; font-size:14px;">화장품 보고서
                                    신청</a>
                                <a href="#" class="basic-btn layer-close"
                                   style="display:inline-block; width:150px; line-height:30px; font-size:14px; margin-left:20px;">닫기</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--// content-->
                </div>
            </div>
        </div>
    </div>

{% endblock %}