{% extends "web_base.html" %}
{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index_web.css' %}"/>
<script src="{% static 'js/index_web.js' %}"></script>
{% endblock %}
{% block ad_area %}
<div class="ad-area">
    <img src="{{ main_image }}"/>
{#    <img src="http://cdn.shopify.com/s/files/1/0090/5112/files/Acetate_Stone_Landing2.jpg?11276"/>#}
</div>
{% endblock %}

{% block content %}
<div class="index-content-wrapper">
    {% for set_category_images in set_category_images_row %}
        <div class="index-content-row">
            {% for set_category_image in set_category_images %}
                {% if forloop.first %}
                    <div class="index-content float-left">
                        <a href="{% url 'shop_set' category_id=set_category_image.id %}" class="index-content-img"><img src="{{ set_category_image.image_url }}"/></a>
                    </div>
                {% elif forloop.last %}
                    <div class="index-content center-in-div">
                        <a href="{% url 'shop_set' category_id=set_category_image.id %}" class="index-content-img"><img src="{{ set_category_image.image_url }}"/></a>
                    </div>
                {% else %}
                    <div class="index-content float-right">
                        <a href="{% url 'shop_set' category_id=set_category_image.id %}" class="index-content-img"><img src="{{ set_category_image.image_url }}"/></a>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="clearfix"></div>
        </div>
    {% endfor %}
</div>
{% endblock %}