{% extends "mobile_base.html" %}
{% block header %}
    {% load static %}
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}
{% block content %}

    <div style="margin : 0 20px;">

        {% if messages %}
            <div id="messages">
                <ul>
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form id="facebookLoginForm" data-ajax="false" method="post"
              action="{% url 'check_facebook_token' next='mobile_index' %}">
            <input type="hidden" id="fbEmail" name="email"/>
            <input type="hidden" id="fbToken" name="token"/>
        </form>
        <form method="post" action="{% url "login" next=next %}" data-ajax="false">
            <div style="margin : 20px 0px; text-align : center;">
                <a href="#" data-ajax="false" style="width : 44%; display:inline-block;padding : 14px 2%;"
                   class="fb-login-btn facebook-btn">facebook으로 로그인</a>
            </div>
            <div class="login-box-header">
                <h4 class="lined-heading"><span>Sign in</span></h4>
            </div>

            <div>
                E-mail
                <input type="text" class="login-form" size="40px" name="email" id="name" value="" data-clear-btn="true"
                       data-mini="true">
            </div>
            <div>비밀번호
                <input type="password" class="login-form" name="password" id="password" value=""
                        data-clear-btn="true" autocomplete="off" data-mini="true">
            </div>
            <div>
                <div style="margin : 20px 0px; text-align : right;">
                    <a href="#" class="black-btn" id="loginBtn"
                       style="width : 30%; display:inline-block; padding : 14px 2%;">로그인</a>
                </div>
            </div>
        </form>


        <div style="text-align:right; margin : 20px 0px; margin-bottom : 20px;">
            <a href="{% url 'mobile_registration_page' %}" data-ajax="false"
               style="width : 30%; display:inline-block; padding : 14px 2%;" class="basic-btn">회원가입</a>
        </div>


    </div>
{% endblock %}