{% extends "web_base.html" %}
{% block header %}
{% load static %}
<style>

.login-form .form-box{
    width :100%;
    margin: 20px auto;
}

.login-form .form-box label{
    color: #212121;
    display: block;
    margin : 10px 0;
}

.login-form .form-box input{
    border: 1px solid #e4e4e4;
    padding: 8px 10px;
    width : 96%;
    height : 30px;
}


.login-form .form-btns{
    margin : 40px auto 10px auto;
    width : 400px;
    text-align: center;
}

.login-form .form-btns a{
    width: 93px !important;
    height: 33px !important;
    padding: 10px 20px !important;
}

</style>
{% endblock %}
{% block content %}
    <div class="login-form">
        {% if messages %}
            <div id="messages">
                <ul>
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="login-box-header">
            <h4 class="lined-heading"><span>로그인</span></h4>
        </div>
        <form method="post" data-form="login-page-form" action="{% url 'login' next=next  fail='registration_page'%}" >
            <div class="form-box">
                <label for="email">이메일</label>
                <input type="text" name="email" id="email"/>
            </div>
            <div class="form-box">
                <label for="password">비밀번호</label>
                <input type="password" name="password" id="password"/>
            </div>
            <div class="form-btns">
                <a href="#" class="basic-btn login-submit-btn" data-form="login-page-form" style="padding : 8px 40px;">로그인</a> &nbsp;&nbsp;&nbsp;
                <a href="#" class="fb-login-btn facebook-btn">페이스북으로 로그인</a>
            </div>
        </form>
    </div>

{% endblock %}