<!DOCTYPE html>
<html>
<head>
    <title>Motion9</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    {% load humanize %}
    {% load mathfilters %}

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.css" />
    <link rel="stylesheet" href="{% static 'css/common_style.css' %}"/>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.js"></script>
    <script src="{% static 'js/common_js.js' %}"></script>
    <script src="{% static 'js/common_js_mobile.js'%}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53577084-1', 'auto');
      ga('require', 'displayfeatures');
      {% if user.is_authenticated %}
      ga('set', '&uid', '{{ user.email }}');
      {% endif %}
      ga('send', 'pageview');

    </script>
    {% block header %}
    {% endblock %}

</head>
<body>
<div data-role="page">
    <div data-role="panel" id="cartPanel" data-position="right" data-display="overlay" data-position-fixed="true">
        <div class="cart-header">
            카트
        </div>
        <div>
             {% if user.is_authenticated %}
                <div class="cart-item-list-wrapper">
                <form id="cartBuyForm" method="post" data-ajax="false" action="/user/mobile/mypage/before_purchase/">
                    <ul class="custom-menu-list"></ul>

                    <div >
                        <div class="cart-footer-bar">
                            <div style="margin : 16px 0;">
                                총 결제 금액 : <span id="cartTotalPrice">{{ total_price|intcomma }}</span>원
                            </div>
                            <div style="text-align : center; margin-bottom : 16px;">
                                <a href="#" id="cartBuyBtn" style=" width : 80%;" data-ajax="false" class="gold-btn">구매 하기</a>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
             {% else %}
                <div style="font-size : 12px; text-align : center; margin : 20px 0;">
                   ! 로그인이 필요합니다.
                </div>
                <div style="text-align : center;">
                    <a href="{% url "mobile_login_page" %}" style=" width : 80%;" data-ajax="false" class="gold-btn">Login 하러가기</a>
                </div>

             {% endif %}

        </div>
    </div>
	<div data-role="panel" id="menuPanel" data-position="left" data-display="overlay" data-position-fixed="true">
	    <!-- panel content goes here -->
	   <div class="menu-panel-search-box">
            <input type="search" name="password" id="menuSearch" value="" placeholder="검색">
	   </div>

       <div>
            <ul class="custom-menu-list">

                {% if user.is_authenticated %}
                   <li><a href="{% url "mobile_mypage" %}" data-ajax="false">{{ user.profile.name }}님</a><!--<img class="profile-img" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xaf1/t1.0-1/c85.18.229.229/s100x100/180837_10150110963568938_908650_n.jpg"/>--></li>
                {% else %}
                   <li><a href="{% url 'mobile_login_page' %}" data-ajax="false">Login</a></li>
                {% endif %}
                <li><a href="/mobile/" data-ajax="false">Home</a></li>
                <li class="list-collapsible">
                    <a href="#" class="collapse-btn">Collection +</a>
                    <ul class="list-collapsed">
                        <li ><a href="{% url "mobile_shop_set" %}" data-ajax="false">전체</a></li>
                        <li ><a href="{% url "mobile_shop_set" category_id=18 %}" data-ajax="false">쿨가이 컬렉션</a></li>
                        <li ><a href="{% url "mobile_shop_set" category_id=30 %}" data-ajax="false">꽃중년 컬렉션</a></li>
                        <li ><a href="{% url "mobile_shop_set" category_id=27 %}" data-ajax="false">스포츠 컬렉션</a></li>
                        <li ><a href="{% url "mobile_shop_set" category_id=28 %}" data-ajax="false">비즈니스맨 컬렉션</a></li>
                        <li ><a href="{% url "mobile_shop_set" category_id=31 %}" data-ajax="false">계절 컬렉션</a></li>
                    </ul>
                </li>
                <li class="list-collapsible">
                    <a href="#" class="collapse-btn">Products +</a>
                    <ul class="list-collapsed">
                        <li ><a href="{% url "mobile_shop_product" %}" data-ajax="false">전체</a></li>
                        <li ><a href="{% url "mobile_shop_product" category_id=1 %}" data-ajax="false">스킨</a></li>
                        <li ><a href="{% url "mobile_shop_product" category_id=2 %}" data-ajax="false">로션</a></li>
                        <li ><a href="{% url "mobile_shop_product" category_id=5 %}" data-ajax="false">에센스</a></li>
                        <li ><a href="{% url "mobile_shop_product" category_id=4 %}" data-ajax="false">비비크림, 선크림</a></li>
                        <li ><a href="{% url "mobile_shop_product" category_id=14 %}" data-ajax="false">수분크림, 아이크림</a></li>
                        <li ><a href="{% url "mobile_shop_product" category_id=23 %}" data-ajax="false">마스크/팩</a></li>
                        <li ><a href="{% url "mobile_shop_product" category_id=3 %}" data-ajax="false">클렌징/스크럽</a></li>
                        <li ><a href="{% url "mobile_shop_product" category_id=33 %}" data-ajax="false">립밤</a></li>
                        <li ><a href="{% url "mobile_shop_product" category_id=24 %}" data-ajax="false">바디</a></li>
                        <li ><a href="{% url "mobile_shop_product" category_id=22 %}" data-ajax="false">헤어</a></li>
                        <li ><a href="{% url "mobile_shop_product" category_id=25 %}" data-ajax="false">향수</a></li>
                        <li ><a href="{% url "mobile_shop_product" category_id=26 %}" data-ajax="false">기타</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url "mobile_customize_set" %}" data-ajax="false">My Collection</a>
                </li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}?next={{ request.get_full_path }}" data-ajax="false">Logout</a></li>
                {% endif %}
            </ul>
        </div>
	</div><!-- /panel -->

	<div data-role="header" data-position="fixed">
		<div class="ui-btn-left">
            <a href="#menuPanel" class="top-menu-btn"><img src="{% static "img/menu.png"%}"/></a>
		</div>

        {% block title %}
    	<h2 class="ui-title">Motion9</h2>
        {% endblock %}
    	<div  class="ui-btn-right">
	    	<a href="#" id="openCartBtn" class="top-menu-btn"><img src="{% static "img/cart.png" %}"/></a>
    	</div>
        {% block special_header %}
        {% endblock %}
	</div>
	<div data-role="main" class="ui-content" style="padding-top : 0; padding-left : 0; padding-right : 0;">

		{% block content %}
        {% endblock %}
	</div>
    {% block footer %}
	<div data-role="footer">
		<div class="footer-div">
                (주) 아스델 | 대표이사 : 한도건 <br/> 사업자 등록번호 : 119-86-58979<br/>
                통신판매업신고 : 2013-서울관악-0392 <br/>
                서울시 관악구 관악로1 서울대학교 35동 214-7호 <br/> Tel : 02-871-4510 <br/>
                © Arsdale Co.,Ltd. All rights reserved.
        </div>
	</div>
    {% endblock %}
</div>

</body>
</html>