<!DOCTYPE html>
<html>
<head>
    <title>The Motion9</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.css" />
    <link rel="stylesheet" href="{% static 'css/common_style.css' %}"/>
    <script type="text/javascript">

    </script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.js"></script>
    <script src="{% static 'js/common_js.js' %}"></script>
    <script src="{% static 'js/common_js_mobile.js'%}"></script>
    {% block header %}
    {% endblock %}
</head>
<body>
<div data-role="page">

	<div data-role="panel" id="menuPanel" data-position="left" data-display="overlay" data-position-fixed="true">
	    <!-- panel content goes here -->
	   <div class="menu-panel-search-box">
            <input type="search" name="password" id="search" value="" placeholder="검색">
	   </div>
	   <ul data-role="listview" class="ui-listview-outer" id="menuListView">
		    <li data-icon="false"><a href="/">홈</a></li>
		    <li data-icon="false"><a href="#" data-ajax="false">프로필</a></li>
		    <li data-icon="false"><a href="#" data-ajax="false">Best</a></li>
		    <li data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right" data-corner="false" data-shadow="false">
                <h5>세트</h5>
                <ul data-role="listview" data-shadow="false" data-corner="false" data-inset="true">
                    <li>전체</li>
                    <li>라이프 스타일</li>
                    <li>계절</li>
                    <li>피부 상태에 따른</li>
                    <li>프리미엄</li>
                </ul>
            </li>
           <li data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right" data-corner="false" data-shadow="false">
               <h5>단품</h5>
                <ul data-role="listview" data-shadow="false" data-corner="false" data-inset="true">
                    <li>전체</li>
                    <li>스킨</li>
                    <li>로션</li>
                    <li>BB크림</li>
                    <li>선크림</li>
                </ul>
           </li>
           <li data-icon="false"><a href="#" data-ajax="false">Motion9</a></li>
		    <li data-icon="false"><a href="#">About</a></li>
		    <li data-icon="false"><a href="#">Help</a></li>
           {% if g.user %}
		    <li data-icon="false"><a href="{% url 'logout'%}">로그아웃</a></li>
           {% endif %}
		</ul>
	</div><!-- /panel -->

	<div data-role="header" data-position="fixed">
		<div class="ui-btn-left">
            <a href="#menuPanel" class="top-menu-btn"><img src="{% static "img/menu.png"%}"/></a>
		</div>

        {% block title %}
    	<h2 class="ui-title">Motion9</h2>
        {% endblock %}
    	<div  class="ui-btn-right">
	    	<a href="#" data-ajax="false" class="top-menu-btn"><img src="{% static "img/cart.png" %}"/></a>
    	</div>
        {% block special_header %}
        {% endblock %}
	</div>
	<div data-role="main" class="ui-content" style="padding-top : 0; padding-left : 0; padding-right : 0;">

		{% block content %}
        {% endblock %}
	</div>
    {% block footer %}
	<div data-role="footer">
		<div class="footer-div">
                (주) 아스델 | 대표이사 : 한도건 <br/> 사업자 등록번호 : 119-86-58979<br/>
                통신판매업신고 : 2013-서울관악-0392 <br/>
                서울시 관악구 관악로1 서울대학교 35동 214-7호 <br/> Tel : 02-871-4510 <br/>
                © Arsdale Co.,Ltd. All rights reserved.
        </div>
	</div>
    {% endblock %}
</div>

</body>
</html>