{% extends "my_page.html" %}
{% block header_append %}
{% load static %}
{% load humanize %}

<link rel="stylesheet" href="{% static 'css/my_page_purchase.css'%}"/>
<script src="{% static 'js/my_page_purchase.js'%}"></script>
{% endblock %}
{% block detail %}
<div>
{% if purchases|length > 0 %}
  {% for product in purchases %}
    <ul class="custom-menu-list">
        <li>
            <div class="purchase-item-wrapper">

                <div class="purchase-item-img">
                    <img src="{{ product.big_img_url }}"/>
                </div>
                <div class="purchase-item-info">
                    2014.05.05 <span class="shipment-status-ok">배송 완료</span><br/>
                    {{ product.name }}<br/>
                    <b>{{ product.discount_price|intcomma }}원</b>
                </div>
                <div class="purchase-item-btn">
                    <a href="#" class="gold-btn">배송조회</a>
                    <a href="#" class="gold-btn">반품신청</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </li>
    </ul>
  {% endfor %}

    <div class="paging-area">
        <ul class="pagination">
          {% if not purchases.page_hasPrev %}
              <li class="disabled"><a href="#" data-ajax="false" class="previous" onClick="javascript:return false;">Prev</a></li>
          {% else %}
              <li><a  data-ajax="false" href="{% url 'mypage_purchase' page_num=purchases.page_left_count|sub:1 %}" class="previous">Prev</a></li>
          {% endif %}

          {% for pageNum in purchases.page_range %}
            <li {% if pageNum == purchases.page_num %} class="active" {% endif %}><a  data-ajax="false"  href="{% url 'mypage_purchase' page_num=pageNum %}" >{{ pageNum  }}</a></li>
          {% endfor %}
          {% if not purchases.page_hasNext  %}
            <li class="disabled"><a data-ajax="false"  href="#" class="next" onClick="javascript:return false;">Next</a></li>
          {% else %}
            <li><a data-ajax="false"  href="{% url 'mypage_purchase' page_num=interests.page_right_count|add:1 %}" class="next">Next</a></li>
          {% endif %}
        </ul>
    </div>

{% else %}
    <div>
        아직 데이터가 없습니다.
    </div>
{% endif %}
</div>
{% endblock %}
