{% extends "my_page.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block header_append %}

    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/my_page_interesting_set.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/my_page.css' %}"/>
    <!--<script src="{% static 'js/my_page_interesting_set.js'%}"></script>-->

    <script type="text/javascript">
        var urlForDoInterest = "{% url 'do_interest_product' %}";
        var urlForUndoInterest = "{% url 'undo_interest_product' %}";
    </script>


{% endblock %}
{% block detail %}
    <div class="mypage-wrapper">
        <div class="mypage-user-name">
            {{ user.profile.name }}
            <span style="font-size:14px;">{{ user.email }}</span>
        </div>
        <div class="mypage-user-info">
            성별 : {% if user.profile.sex == 'M' %}남자{% else %}여자{% endif %}<br/>
            나이 : {{ user.profile.age }} <br/>
        </div>

        <div class="my-page-edit-box" style="visibility: hidden";>
            <a href="{% url 'mobile_mypage_myinfo_edit' %}" target="_self" class="mypage-edit-btn">EDIT</a>
        </div>
    </div>

    <div class="mypage-wrapper int" > 관심목록 </div>
    <div class="col-sm-12 col-xs-12 col-md-12">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                {% for category in categories %}
                    <li class="{% if forloop.counter0 == 0 %}active{% endif %}" style="width: auto;">
                        <a href="#{{ category.name }}_tab" data-toggle="tab"
                           aria-expanded="{% if forloop.counter0 == 0 %}yes{% else %}no{% endif %}">{{ category.name_for_kor }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>



    <div class="tab-content">
        {% for category in categories %}
            <div class="tab-pane {% if forloop.counter0 == 0 %}active{% endif %}" id="{{ category.name }}_tab">
                <div class="list-wrap">
                    {% for interest in user.interest %}
                        {% if interest.product.category.name == category.name %}
                            <div class="col-xs-6 col-md-6 col-sm-6" style="padding: 10px;">
                                <a id="btn-product-detail" href="{% url "mobile:survey2_result_detail" pk=interest.user_survey.id product_type=category.name %}" target="_self">
                                    <div class="dashboard-stat2" style="padding-bottom:0px; margin-bottom:0px;">
                                        <div class="row">
                                            <div class="col-xs-12" style="padding-right:5px; padding-left: 5px;">
                                                <div class="product-x-img" style="width:auto; text-align:center;">
                                                    <img src="{{ interest.product.thumbnail_url }}" alt="" style="width:auto; max-height:100px;"/>
                                                </div>
                                            </div>
                                            <div class="col-xs-12" style="margin-top:5px;">
                                                <div class="display">
                                                    <div class="number" style="font-size:10px;">
                                                        <h3 class="font-blue"
                                                            style="font-size:11px; height : 30px;">{{ interest.product.brand }} {{ interest.product.name }}</h3>
                                                        <span>{{ interest.product.price|intcomma }}원/{{ interest.product.capacity }}{{ interest.product.capacity_unit }}</span><br/>
                                                        <span>({{ interest.product.unit_price|intcomma }}원/{{ interest.product.capacity_unit }})</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a id="btn-undo-interest" href="#" class="btn-undo-interest" interest-id="{{ interest.id }}">
                                    <div class="btn btn-default btn-interest" style="font-size: 10px; width:100%;">
                                        삭제<i class="fa fa-times"></i>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>


    <script src="{% static 'metronic_assets/global/plugins/bootstrap/js/bootstrap.min.js' %}"
            type="text/javascript"></script>

    <script src="{% static 'user/js/interest_product.js' %}"></script>


{% endblock %}

