{% extends "my_page.html" %}
{% block header_append %}
{% load static %}
<script src="{% static 'js/imagesloaded.pkgd.min.js'%}"></script>
<script src="{% static 'js/masonry.pkgd.min.js'%}"></script>
<link rel="stylesheet" href="{% static 'css/my_page_interesting_set.css'%}"/>
<script src="{% static 'js/my_page_interesting_set.js'%}"></script>
{% endblock %}
{% block detail %}
    {% if interests.data|length > 0 %}
        <div id="productGrid">
        {% for set in interests.data %}
            <div class="product-item">
                <div class="item-image">
                    <img src="{{ set.big_img_url }}"/>
                    <div class="product-title">
                        <a href="{% url 'mobile_set' set_id=set.id %}" data-ajax="false">자세히 보기</a>
                    </div>
                </div>
                <div>
                    <div class="item-contents-left">
                        <div style="margin-bottom: 16px;">
                            <div>
                                <img src="{% static "img/sim_detail.png" %}"/>
                            </div>
                            <div>
                                {{ set.description }}
                            </div/>
                        </div>
                        <div>
                            <div>
                                <img src="{% static "img/set_comp.png" %}"/>
                            </div>
                            <div>
                                에센스, 비비크림, 로션, 스
                            </div/>
                        </div>
                    </div>
                    <div class="item-contents-right">
                        <div class="item-price">
                            {{ set.discount_price }}원
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="interest-btn">
                   <a href="#" class="mypage-interesting-del-btn"  data-type="s" data-product="{{ set.id }}">삭제</a>
                </div>
            </div>

            {% endfor %}
        </div>
        <div class="paging-area">
            <ul class="pagination">
              <li {% if not interests.page_hasPrev  %} class="disabled" {% endif %}><a href="#" data-ajax="false">Prev</a></li>
               {% for pageNum in interests.page_range %}
                  <li><a href="{% url 'mobile_mypage' page_num=pageNum %}" class="" data-ajax="false">{{ pageNum  }}</a></li>
               {% endfor %}
              <li {% if not interests.page_hasNext  %} class="disabled" {% endif %}><a href="#" data-ajax="false">Next</a></li>
            </ul>
        </div>
    {% else %}
        <div>
            아직 데이터가 없습니다.
        </div>
    {% endif %}
{% endblock %}

