{% extends "mobile_base.html" %}
{% block header %}
{% load static %}
{% load humanize %}
<script src="{% static 'js/imagesloaded.pkgd.min.js'%}"></script>
<script src="{% static "swiper/idangerous.swiper.js" %}"></script>
<script src="{% static 'js/my_page.js'%}"></script>
<link rel="stylesheet" href="{% static 'css/my_page.css'%}"/>
<link rel="stylesheet" href="{% static 'swiper/idangerous.swiper.css' %}"/>
{% block header_append %}
{% endblock %}

{% endblock %}

{% block title %}
    <h2 class="ui-title">My Page</h2>
{% endblock %}
{% block content %}

<div class="select-wrapper">
        <select id="mobileMypageList" data-mini="true" data-shadow="false">
            <option {% if tab_name == 'my_info' %} selected="selected" {% endif %} value="{% url 'mobile_mypage_myinfo' %}">내 정보</option>
            <option {% if tab_name == 'interesting_set' %} selected="selected" {% endif %} value="{% url 'mobile_mypage_set' %}">관심 컬렉션</option>
            <option {% if tab_name == 'interesting_product' %} selected="selected" {% endif %}  value="{% url 'mobile_mypage_product' %}">관심 제품</option>
            <option {% if tab_name == 'purchase_list' %} selected="selected" {% endif %}  value="{% url 'mobile_mypage_purchase_list' %}">구매 내역</option>
        </select>
</div>


{% block detail %}
{% endblock %}
{% endblock %}