{% extends "mobile_base.html" %}
{% block header %}
{% load static %}
{% load humanize %}
<script src="{% static 'js/imagesloaded.pkgd.min.js'%}"></script>
<script src="{% static "swiper/idangerous.swiper.js" %}"></script>
<script src="{% static 'js/my_page.js'%}"></script>
<link rel="stylesheet" href="{% static 'css/my_page.css'%}"/>
<link rel="stylesheet" href="{% static 'swiper/idangerous.swiper.css' %}"/>
{% block header_append %}
{% endblock %}

{% endblock %}

{% block title %}
        <div style="text-align:center; height:100%; margin-top:4px">
            <a href="{% url 'mobile:mobile_index' %}" target="_self">
                <img src="{% static "img/LOGO_black.png" %}" class="main-logo-img">
            </a>
        </div>
{#    <h2 class="ui-title">My Page</h2>#}
{% endblock %}
{% block content %}

<div class="select-wrapper">
        <select id="mobileMypageList" data-mini="true" data-shadow="false">
            <option {% if current_category == '1' %} selected="selected" {% endif %} value="mypage/">내 정보</option>
            <option value="mypage/set/">관심 컬렉션</option>
            <option value="mypage/product/">관심 제품</option>
            <option value="mypage/purchaselist/">구매 내역</option>
        </select>
</div>

<div class="mypage-wrapper">
    <div class="mypage-user-name">
        {{ user.profile.name }}
    </div>
    <div class="mypage-user-email">
        {{ user.email }}
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
          <!--First Slide-->
          <div class="swiper-slide">
             <div class="mypage-user-info">
                성별 :
                 {% if user.profile.sex == 'M'%}
                    남자
                 {% else %}
                    여자
                 {% endif %}
                 <br/>
                나이 : {{ user.profile.age }}세 <br/>
                피부타입 :
                 {% if user.profile.skin_type == 'd' %}
                     건성
                 {% elif user.profile.skin_type == 'o' %}
                     지성
                 {% elif user.profile.skin.type == 's' %}
                     민감성
                 {% else %}
                     복합성
                 {% endif %}
                 <br/>
                피부색 :
                 {% if user.profile.skin_color == 'b' %}
                     밝은
                 {% elif user.profile.skin_color == 'w' %}
                     백인
                 {% elif user.profile.skin.color == 'm' %}
                     중간
                 {% elif user.profile.skin.color == 'd' %}
                     어두운
                 {% else %}
                     흑인
                 {% endif %}
                 <br/>
                <a href="#" id="mypage-next-btn"><img src="{% static "img/profile_right.png" %}"/></a>
             </div>
          </div>

          <!--Second Slide-->
          <div class="swiper-slide">
             <div class="mypage-user-info">
                적립 : {{ user.profile.mileage| intcomma }}원<br/>
                주소 : {{ user.profile.address }}<br/>
                <a href="#" id="mypage-prev-btn"><img src="{% static "img/profile_left.png" %}"/></a>
             </div>
          </div>
          <!--Etc..-->
        </div>
    </div>


    <div class="my-page-edit-box">
        <a href="#" class="mypage-edit-btn">EDIT</a>
    </div>
</div>
<div>
    <ul class="tab-menu">
        <li>
            <a href="{% url "mobile_mypage_set" %}" data-ajax="false" class="tab-btn {% if tab_name == 'interesting_set' %} tab-selected {% endif %}">관심 세트</a>
        </li>
        <li>
            <a href="{% url "mobile_mypage" %}" data-ajax="false" class="tab-btn {% if tab_name == 'interesting_product' %} tab-selected {% endif %}">관심 제품</a>
        </li>
        <li>
            <a href="{% url "mypage_purchase" %}" data-ajax="false" class="tab-btn {% if tab_name == 'purchase' %} tab-selected {% endif %}">구매 내역</a>
        </li>
    </ul>
</div>
    
{% block detail %}
{% endblock %}
{% endblock %}