{% extends "mobile_base.html" %}
{% block header %}
{% load static %}
{% load humanize %}
<script src="{% static 'js/imagesloaded.pkgd.min.js'%}"></script>
<script src="{% static "swiper/idangerous.swiper.js" %}"></script>
<script src="{% static 'js/my_page.js'%}"></script>
<link rel="stylesheet" href="{% static 'css/my_page.css'%}"/>
<link rel="stylesheet" href="{% static 'swiper/idangerous.swiper.css' %}"/>
    <link href="{% static 'metronic_assets/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    {% block header_append %}
{% endblock %}

{% endblock %}

{% block content %}
{% block detail %}
{% endblock %}
{% endblock %}