{% extends "my_page.html" %}
{% block header_append %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
<script src="{% static 'js/masonry.pkgd.min.js'%}"></script>
<link rel="stylesheet" href="{% static 'css/my_page_interesting.css'%}"/>
<script src="{% static 'js/my_page_interesting.js'%}"></script>
{% endblock %}
{% block detail %}
    {% if interests.data|length > 0 %}
        <div id="productGrid">
        {% for product in interests.data %}
            <div class="product-item" >
               <div class="item-title" >
                   <a href="{% url 'mobile:mobile_product' product_id=product.id %}"  data-ajax="false" title="{{ product.name }}">{{product.name|truncatechars:13}}</a>
                   <div class="item-price">
                       {{product.discount_price|intcomma}}원 <span class="item-original-price">{{product.original_price|intcomma}}원</span> <span class="discount-rate">{{ discount_rate }}%</span>
                   </div>
               </div>
               <div class="item-image">
                   <a href="{% url 'mobile:mobile_product' product_id=product.id %}" style="line-height:0;display:block;" data-ajax="false"><img src="{{product.big_img_url}}"/></a>
               </div>
               <div class="interest-btn">
                   <a href="#" class="mypage-interesting-del-btn" data-type="p" data-product="{{ product.id }}">삭제</a>
               </div>
            </div>
        {% endfor %}
        </div>
        <div class="paging-area">
            <ul class="pagination">

              {% if not interests.page_hasPrev %}
                  <li class="disabled"><a href="#" data-ajax="false" class="previous" onClick="javascript:return false;">Prev</a></li>
              {% else %}
                  <li><a  data-ajax="false" href="{% url 'mobile_mypage_product' page_num=interests.page_left_count|sub:1 %}" class="previous">Prev</a></li>
              {% endif %}

              {% for pageNum in interests.page_range %}
                <li {% if pageNum == interests.page_num %} class="active" {% endif %}><a  data-ajax="false"  href="{% url 'mobile_mypage_product' page_num=pageNum %}" >{{ pageNum  }}</a></li>
              {% endfor %}
              {% if not interests.page_hasNext  %}
                <li class="disabled"><a data-ajax="false"  href="#" class="next" onClick="javascript:return false;">Next</a></li>
              {% else %}
                <li><a data-ajax="false"  href="{% url 'mobile_mypage_product' page_num=interests.page_right_count|add:1 %}" class="next">Next</a></li>
              {% endif %}
            </ul>
        </div>
    {% else %}
        <div>
            아직 데이터가 없습니다.
        </div>
    {% endif %}
{% endblock %}

