{% extends "my_page.html" %}
{% block header_append %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
<script src="{% static 'js/imagesloaded.pkgd.min.js'%}"></script>
<script src="{% static 'js/masonry.pkgd.min.js'%}"></script>
<link rel="stylesheet" href="{% static 'css/my_page_interesting_set.css'%}"/>
<script src="{% static 'js/my_page_interesting_set.js'%}"></script>
{% endblock %}
{% block detail %}
    {% if interests.data|length > 0 %}
        <div id="productGrid">
        {% for set in interests.data %}

           <div class="product-item">
                <a href="{% url 'mobile_set' set_id=set.id %}" data-ajax="false">
                    <div class="item-image">
                        <img src="{{ set.small_img }}"/>

                        <div class="product-title">
                            <div class="item-price">
                                {{ set.discount_price|intcomma }}원 &nbsp;
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item-contents-left">
                            <div style="margin-bottom: 16px;">
                                <div>
                                    <img src="{% static "img/quotmark_1.png" %}" height="20px"/>

                                    {{ set.description }}

                                    <img src="{% static "img/quotmark_2.png" %}" height="20px"/>
                                </div>
                            </div>
                            <div>

                                <div>
                                    {% for product in set.products %}
                                        {{ product.brandname }} {{ product.name }}<br/>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </a>



               <div class="interest-btn">
                   <a href="#" class="mypage-interesting-del-btn"  data-type="s" data-product="{{ set.id }}">삭제</a>
                </div>

            </div>

{#            #}
{#            <div class="product-item">#}
{#                <div class="item-image">#}
{#                    <img src="{{ set.small_img }}"/>#}
{#                    <div class="product-title">#}
{#                        <a href="{% url 'mobile_set' set_id=set.id %}" data-ajax="false">자세히 보기</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div>#}
{#                    <div class="item-contents-left">#}
{#                        <div style="margin-bottom: 16px;">#}
{#                            <div>#}
{#                                <img src="{% static "img/sim_detail.png" %}"/>#}
{#                            </div>#}
{#                            <div>#}
{#                                {{ set.description }}#}
{#                            </div>#}
{#                        </div>#}
{#                        <div>#}
{#                            <div>#}
{#                                <img src="{% static "img/set_comp.png" %}"/>#}
{#                            </div>#}
{#                            <div>#}
{#                                에센스, 비비크림, 로션, 스#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="item-contents-right">#}
{#                        <div class="item-price">#}
{#                            {{ set.discount_price|intcomma }}원#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="clearfix"></div>#}
{#                </div>#}
{#                <div class="interest-btn">#}
{#                   <a href="#" class="mypage-interesting-del-btn"  data-type="s" data-product="{{ set.id }}">삭제</a>#}
{#                </div>#}
{#            </div>#}

            {% endfor %}
        </div>
        <div class="paging-area">
            <ul class="pagination">

              {% if not interests.page_hasPrev %}
                  <li class="disabled"><a href="#" data-ajax="false" class="previous" onClick="javascript:return false;">Prev</a></li>
              {% else %}
                  <li><a  data-ajax="false" href="{% url 'mobile_mypage_set' page_num=interests.page_left_count|sub:1 %}" class="previous">Prev</a></li>
              {% endif %}

              {% for pageNum in interests.page_range %}
                <li {% if pageNum == interests.page_num %} class="active" {% endif %}><a  data-ajax="false"  href="{% url 'mobile_mypage_set' page_num=pageNum %}" >{{ pageNum  }}</a></li>
              {% endfor %}
              {% if not interests.page_hasNext  %}
                <li class="disabled"><a data-ajax="false"  href="#" class="next" onClick="javascript:return false;">Next</a></li>
              {% else %}
                <li><a data-ajax="false"  href="{% url 'mobile_mypage_set' page_num=interests.page_right_count|add:1 %}" class="next">Next</a></li>
              {% endif %}

            </ul>
        </div>
    {% else %}
        <div>
            아직 데이터가 없습니다.
        </div>
    {% endif %}
{% endblock %}

