{% extends "mypage_purchase_web.html" %}
    {%block purchaseTab %}
    <ul class="purchase-tab">
        <li class="active">단품 구매목록</li>
        <li><a href="{% url 'mypage_purchase_product' %}">세트 구매목록</a></li>
        <li><a href="{% url 'mypage_purchase_custom_set' %}">커스텀 세트 구매목록</a></li>
    </ul>
    {% endblock %}

    {% block purchaseTable %}
        <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width : 100px;">구매내역</th>
                <th style="width : 200px;">상품명</th>
                <th style="width : 53px;">금액</th>
                <th colspan="2" >진행 상태</th>
            </tr>
        </thead>
        <tbody>
        {% for product in purchases.data%}
            <tr>
                <td>
                    2014.05.12<br/>23423a6362cd
                </td>
                <td style="text-align: left;">
                    <a href="{% url 'product' product_id=product.id %}">{{product.name  }}</a>
                </td>
                <td>
                    ￦{{product.discount_price}}
                </td>
                <td style="width : 50px;">
                    배송 완료
                </td>
                <td style=" width : 80px;">
                    <div style="padding : 8px;">
                        <div style="margin-bottom: 18px;">
                            <a href="#" class="basic-btn" style="font-size: 10px; padding : 8px 8px;">배송 조회</a>
                        </div>
                        <div >
                            <a href="#" class="basic-btn"  style="font-size: 10px; padding : 8px 8px;">반품 신청</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}

