{% extends "mypage_web.html" %}
{% block subHeader %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/mypage_interesting_set_web.css'%}"/>
<script src="{% static 'js/mypage_interesting_set_web.js'%}"></script>
{% endblock %}
{% block productGrid %}

{% if interests.data|length > 0 %}

    {% for set in interests.data %}
    <div class="set-item" style="background: url('{{ set.big_img_url }}') top left no-repeat;">
        <div class="set-item-info">
            <div class="set-item-info-title">
                간략설명
            </div>
            <div class="set-item-info-contents">
                {{ set.description }}
            </div>
            <div class="set-item-info-title">
                세트구성
            </div>
            <div class="set-item-info-contents">
                BB크림, 스킨, 로션, 에센스, 발모제, 탈모제, 썬크림
            </div>
            <div class="set-item-info-bottom">
                \{{ set.discount_price }} &nbsp;&nbsp;<a href="{% url "set" set_id=set.id %}" class="basic-btn">자세히 보기</a>
            </div>
        </div>
    </div>


    {% endfor %}

{% endif %}

{% endblock %}

{% block productPaging %}
{% if interests.data|length > 0  %}
    <ul class="tsc_pagination tsc_paginationC tsc_paginationC09">
      <li {% if not interests.page_hasPrev  %} class="disabled" {% endif %}><a href="#" class="previous">Prev</a></li>
      {% for pageNum in page_range %}
      <li><a href="{% url 'mypage' page_num=pageNum %}" class="">{{ pageNum  }}</a></li>
      {% endfor %}
      <li {% if not interests.page_hasNext  %} class="disabled" {% endif %}><a href="#" class="next">Next</a></li>
    </ul>
{% else %}
        <div class="clearfix"></div>
        <div style="padding : 20px;">
            아직 관심하신 단품이 없습니다.
        </div>
{% endif %}

{% endblock %}