{% extends "mypage_web.html" %}
{% block subHeader %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/mypage_interesting_web.css'%}"/>
<script src="{% static 'js/mypage_interesting_web.js'%}"></script>
{% endblock %}
{% block categoryTitle %}
    관심 제품
{% endblock %}
{% block productGrid %}
{% if interests.data|length > 0 %}
    {% for product in interests.data %}

    <div class="product-item" id="item-{{ product.id}}" data-attr="{{ product.id }}">
        <div class="product-item-img">
            <div class="product-opacity-bg product-hover-area">
                <a href="{% url 'product' product_id=product.id %}"><img src="{%  static 'img/detail.png'%}" class="icon"/></a>
            </div>
            <img src="{{ product.big_img_url}}" alt="" />
        </div>
        <div class="product-item-info">
            <div class="product-item-info-contents product-item-name">
                <a href="{% url 'product' product_id=product.id%}" title="{{ product.name }}">{{product.name|truncatechars:15 }}..</a>
            </div>
            <div class="product-item-info-contents">
                카테고리 > {{ product.category_name }}
            </div>
            <div class="product-item-info-contents">
                브랜드 : {{ product.brandname }}
            </div>
            <div class="product-item-info-contents">
                가격 : ￦{{ product.original_price }}
            </div>
            <div class="product-item-info-contents">
                용량 : {{ product.capacity}}
            </div>
        </div>
    </div>

    {% endfor %}
{% endif %}

{% endblock %}

{% block productPaging %}
{% if interests.data|length > 0  %}
    <ul class="pagination">
      <li {% if not interests.page_hasPrev  %} class="disabled" {% endif %}><a href="#" class="page">Prev</a></li>
      {% for pageNum in page_range %}
      <li><a href="{% url 'mypage' page_num=pageNum %}" class="page">{{ pageNum  }}</a></li>
      {% endfor %}
      <li {% if not interests.page_hasNext  %} class="disabled" {% endif %}><a href="#" class="page">Next</a></li>
    </ul>
{% else %}
        <div class="clearfix"></div>
        <div style="padding : 20px;">
            아직 관심하신 단품이 없습니다.
        </div>
    {% endif %}

{% endblock %}