{% extends "mypage_web.html" %}
{% block subHeader %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mypage_purchase_web.css') }}"/>
{% endblock %}
{% block categoryTitle %}
    구매 목록
{% endblock %}
{% block productGrid %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width : 100px;">구매내역</th>
                <th  style="width : 77px;"></th>
                <th style="width : 260px;">상품명</th>
                <th style="width : 73px;">금액</th>
                <th colspan="2" >진행 상태</th>
            </tr>
        </thead>
        <tbody>
        {% for product in carts.data%}
            <tr>
                <td>
                    2014.05.12<br/>23423a6362cd
                </td>
                <td>
                    <div class="product-img">
                        <img src="{{product.big_img_url }}" alt="" />
                    </div>
                </td>
                <td style="text-align: left;">
                    <a href="{{ url_for('productWeb', product_key=product.key) }}">{{product.name  }}</a>
                </td>
                <td>
                    ￦{{product.discount_price}}
                </td>
                <td style="width : 50px;">
                    배송 완료
                </td>
                <td style="width : 50px;">
                    <div class="list-btn-wrapper btn-group-vertical">
                        <div class="btn-group">
                            <button type="button" class="btn btn-mini btn-default">배송 조회</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-mini btn-default">다시 구매</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-mini btn-default">반품 신청</button>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block productPaging %}

    <ul class="pagination">
      <li {% if not carts.page_hasPrev  %} class="disabled" {% endif %}><a href="#">&laquo;</a></li>
      {% for pageNum in range(carts.page_left_count, carts.page_right_count+1 )%}
      <li><a href="{{ url_for('myPageWebPurchase', pageNum = pageNum) }}">{{ pageNum  }}</a></li>
      {% endfor %}
      <li {% if not carts.page_hasNext  %} class="disabled" {% endif %}><a href="#">&raquo;</a></li>
    </ul>
{% endblock %}