{% extends "mypage_web.html" %}
{% block subHeader %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mypage_interesting_set_web.css') }}"/>

<script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/mypage_interesting_set_web.js') }}"></script>
{% endblock %}
{% block productGrid %}
<div id="productHoverArea">
    <div id="opacityBg"></div>
    <div id="hoverButtonList">
        <div class="btn-group-vertical">
          <div class="btn-group">
            <button type="button" id="addCartBtn" class="btn btn-default btn-for-cart">장바구니 넣기</button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default">바로 구매</button>
          </div>
          <div class="btn-group">
            <a href="#" id="cancelInterestBtn"class="btn btn-danger">삭제</a>
          </div>
        </div>
    </div>
</div>
{% if interests.data|length > 0 %}

    {% for set in interests.data %}

    <div class="product-item" id="item-{{ set.key}}" data-attr="{{ set.key }}">
        <div class="product-img">
            <img src="{{ set.big_img_url}}" alt="" />
        </div>
        <div class="product-info">
            {% if (set.name|length) > 17 %}
                <a href="{{ url_for('setDetailWeb',set_key=set.key) }}">{{set.name[:17] }}..</a>
            {% else %}
                <a href="{{ url_for('setDetailWeb', set_key=set.key) }}">{{set.name  }}</a>
            {% endif %}

            <div class="product-price-box">
                Price : <b>￦{{ set.discount_price }} ({{set.capacity }})</b><br/>
                Category : <b>{{ set.category_name }}</b>
            </div>
        </div>
    </div>

    {% endfor %}

{% endif %}

{% endblock %}

{% block productPaging %}
    {% if interests.data|length > 0  %}
        <ul class="pagination">
          <li {% if not interests.page_hasPrev  %} class="disabled" {% endif %}><a href="#">&laquo;</a></li>
          {% for pageNum in range(interests.page_left_count, interests.page_right_count+1 )%}
          <li><a href="{{ url_for('myPageSetWeb', pageNum = pageNum) }}">{{ pageNum  }}</a></li>
          {% endfor %}
          <li {% if not interests.page_hasNext  %} class="disabled" {% endif %}><a href="#">&raquo;</a></li>
        </ul>
    {% else %}
        <div class="clearfix"></div>
        <div style="padding : 20px;">
            아직 관심하신 세트가 없습니다.
        </div>
    {% endif %}
{% endblock %}