{% extends "web_base.html" %}
{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/mypage_web.css'%}"/>
{% block subHeader %}
{% endblock %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="category-list">
        <ul>
            {% if tab_name == "interesting_product"%}
                <li class="current-category">관심 제품</li>
                <li><a href="{% url 'mypage_set'%}">관심 세트</a></li>
                <li><a href="{% url 'mypage_purchase_product'%}">구매 목록</a></li>
            {% elif tab_name == "interesting_set" %}
                <li><a href="{% url 'mypage'%}"    >관심 제품</a></li>
                <li class="current-category">관심 세트</li>
                <li><a href="{% url 'mypage_purchase_product'%}">구매 목록</a></li>
            {% elif tab_name == "purchase_product" %}
                <li><a href="{% url 'mypage'%}">관심 제품</a></li>
                <li><a href="{% url 'mypage_set'%}">관심 세트</a></li>
                <li class="current-category">구매 목록</li>
            {% endif%}
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="row">
        <div class="main-container float-left">
            <div class="box-css">
                <div class="category-title">
                    {% block  categoryTitle%}
                    {% endblock %}
                </div>
                <div id="productGrid">
                    {% block productGrid %}
                    {% endblock %}
                </div>
                <div class="paging-area">
                    {% block productPaging %}
                    {% endblock %}
                </div>

            </div>
        </div>
        <div class="nav-container float-left">
            <div class="box-css user-profile">
                <div class="profile-user-name">{{ user.profile.name }}</div>
                <div>
                    {{ user.email }}
                </div>
                <p class="user-mileage">
                    적립금 : {{ user.profile.mileage }} 원
                </p>
                <hr/>
                <p class="user-sex">
                    성별 :
                    {% if user.profile.sex == 'M' %}
                    남자
                    {% else %}
                    여자
                    {% endif %}
                </p>
{#                <p class="user-age">#}
{#                    나이 :#}
{#                     {% if user.profile.age != none %}#}
{#                        {{ user.profile.age }} ~ {{ user.profile.age|add:4}}세#}
{#                    {% else %}#}
{#                        나이를 입력해주세요.#}
{#                    {% endif %}#}
{#                </p>#}
{#                <p class="user-skin-type">#}
{#                    피부타입 :#}
{#                     {% if user.profile.skin_type == 'O' %}#}
{#                            지성 피부#}
{#                        {% elif user.profile.skin_type == 'D' %}#}
{#                            건성 피부#}
{#                        {% elif user.profile.skin_type == 'C' %}#}
{#                            복합성 피부#}
{#                        {% else %}#}
{#                            미등록#}
{#                        {% endif %}#}
{##}
{#                </p>#}
                <hr/>
                <p style="text-align: center; margin-top: 12px;  ">
                    <a href="{% url 'account_modify'%}" class="basic-btn">&nbsp;&nbsp;수정하기&nbsp;&nbsp;</a>
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}