{% extends "mypage_purchase_web.html" %}
{% load humanize %}
{% load mathfilters %}
    {% block purchaseTab %}
    <ul class="purchase-tab">
        <li><a href="{% url 'mypage_purchase_product' %}">단품 구매목록</a></li>
        <li><a href="{% url 'mypage_purchase_set' %}">세트 구매목록</a></li>
        <li class="active">커스텀 세트 구매목록</li>
    </ul>
    {% endblock %}
    {% block purchaseTable %}
        <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width : 100px;">구매내역</th>
                <th style="width : 200px;">상품명</th>
                <th style="width : 53px;">금액</th>
                <th colspan="2" >진행 상태</th>
            </tr>
        </thead>
        <tbody>
        {% for item in purchases.data%}
            <tr>
                <td>
                    {{ item.created }}<br/>{{ item.shipping_number }}
                </td>
                <td style="text-align: left;">
                    <a href="{% url 'customize_set_detail' set_id=item.id %}">{{ item.brandname }} {{item.name  }}</a>
                </td>
                <td>
                    {{item.discount_price|intcomma}}원 x {{ item.item_count }}<br/>
                    {{ item.price|intcomma }}원

                </td>
                <td style="width : 50px;">
                    {{ item.shipping_status }}
                </td>
                <td style=" width : 80px;">
                    <div style="padding : 8px;">
                        <div style="margin-bottom: 18px;">
                            <a href="#" class="basic-btn" style="font-size: 10px; padding : 8px 8px;">배송 조회</a>
                        </div>
                        <div >
                            <a href="#" class="basic-btn"  style="font-size: 10px; padding : 8px 8px;">반품 신청</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="paging-area">
        <ul class="tsc_pagination tsc_paginationC tsc_paginationC09">
          {% if not item.page_hasPrev %}
              <li><a href="#" class="previous disabled" onClick="javascript:return false;">Prev</a></li>
          {% else %}
              <li><a href="{% url 'mypage_purchase_custom_set' page_num=item.page_left_count|sub:1 %}" class="previous">Prev</a></li>
          {% endif %}
          {% for pageNum in item.page_range %}
              <li><a href="{% url 'mypage_purchase_custom_set' page_num=pageNum%}" {% if pageNum == item.page_num %} class="current" {% endif %}>{{ pageNum  }}</a></li>
          {% endfor %}
          {% if not item.page_hasNext  %}
            <li><a href="#" class="next disabled" onClick="javascript:return false;">Next</a></li>
          {% else %}
            <li><a href="{% url 'mypage_purchase_custom_set' page_num=item.page_right_count|add:1 %}" class="next">Next</a></li>
          {% endif %}
        </ul>
    </div>
    {% endblock %}

