{% extends "mypage_web.html" %}
{% block subHeader %}
{% load static %}
<link rel="stylesheet" href="{%  static 'css/mypage_purchase_web.css'%}"/>
{% endblock %}
{% block categoryTitle %}
    구매 목록
{% endblock %}
{% block productGrid %}
    <div>
        {% block purchaseTab %}
        <ul class="purchase-tab">
            <li><a href="{% url 'mypage_purchase_product' %}">단품 구매목록</a></li>
            <li class="active"><a href="{% url 'mypage_purchase_product' %}">세트 구매목록</a></li>
            <li><a href="{% url 'mypage_purchase_custom_set' %}">커스텀 세트 구매목록</a></li>
        </ul>
        {% endblock %}
    </div>
    <div class="purchase-tab-container">
    {% block purchaseTable %}
    {% endblock %}
    </div>
{% endblock %}

