{% extends "mobile_base.html" %}
{% block header %}
{% load static %}
{% load humanize %}
<script src="{% static 'js/imagesloaded.pkgd.min.js'%}"></script>
<script src="{% static "swiper/idangerous.swiper.js" %}"></script>
<script src="{% static "js/product_detail.js" %}"></script>

<link rel="stylesheet" href="{% static 'swiper/idangerous.swiper.css' %}"/>
<link rel="stylesheet" href="{% static 'css/product_detail.css' %}"/>
{% endblock %}
{% block title %}
    <h2 class="ui-title">제품 정보</h2>
{% endblock %}
{% block content %}
<div class="category-box">
    <div class="select-wrapper">
     <div class="select-box-border">
        <select id="mainCategoryList" data-mini="true" data-inline="true" data-shadow="false">
            <option value="#subProductCategory">모든제품</option>
            <option value="#subSetCategory">세트상품</option>
        </select>
     </div>
    </div>
    <div class="select-wrapper">
        <select id="subCategoryList" data-mini="true" data-inline="true" data-shadow="false">
            <option  {% if current_category == 1 %} selected="selected" {% endif %}  value="1">스킨</option>
            <option  {% if current_category == 2 %} selected="selected" {% endif %} value="2">로션</option>
            <option  {% if current_category == 4 %} selected="selected" {% endif %} value="4">선크림, BB크림</option>
            <option  {% if current_category == 5 %} selected="selected" {% endif %} value="5">에센스</option>
            <option  {% if current_category == 12 %} selected="selected" {% endif %} value="12">모이스춰라이저</option>
            <option  {% if current_category == 14 %} selected="selected" {% endif %} value="14">수분크림, 아이크림</option>
            <option  {% if current_category == 16 %} selected="selected" {% endif %} value="16">스페셜케어</option>
            <option  {% if current_category == 3 %} selected="selected" {% endif %} value="3">클렌징, 스크럽</option>
            <option  {% if current_category == 17 %} selected="selected" {% endif %} value="17">메이크업</option>
        </select>
    </div>
    <div class="clearfix"></div>
</div>
<div class="product-img">
    <div class="swiper-container">
        <div class="swiper-wrapper">
          <!--First Slide-->
           <div class="swiper-slide">
             <img src="{{ product.images.0 }}"/>
           </div>

        {% for image in product.images %}
            {% if forloop.first %}
            {% else %}
                <div class="swiper-slide">
                    <img src="{{image}}" />
                </div>
            {% endif %}
        {% endfor %}
        </div>
        <div class="pagination">
        </div>
    </div>
    <div class="product-title">
        {{ product.name }}
        <div class="product-price">
            {{ product.discount_price|intcomma }}원 <span class="item-original-price">{{ product.original_price }}원</span>
        </div>
        {% if product.is_interested %}
            <a href="#" class="interest-btn btn-for-interest"  data-type="p" data-product="{{ product.id }}">관심하기</a>
        {% else %}
            <a href="#" class="interest-btn btn-for-interest interest-done"  data-type="p" data-product="{{ product.id }}">관심취소</a>
        {% endif %}
    </div>
</div>
<div>
    <ul class="tab-menu">
        <li>
            <a href="#productInfo" class="tab-btn product-info-btn">상품 정보</a>
        </li>
        <li>
            <a href="#blogReview" class="tab-btn product-blog-btn selected-product-blog-btn">블로거 리뷰</a>
        </li>
        <li>
            <a href="#productRule" class="tab-btn product-rule-btn">상품 정보 고시</a>
        </li>
    </ul>
    <div class="tab-content tab-selected" id="blogReview">
        {% for blog in blog_reviews %}
        <div class="product-item">

            <div class="product-item-img">
                <a href="{{ blog.url }}" target="_blank" title="{{ blog.writer }}"><img src="{% static "{{ blog.small_img_url }}" %}"/></a>
            </div>
            <div class="product-item-contents">
                <div>
                    <a href="{{ blog.url }}" target="_blank" title="{{ blog.writer }}">{{ blog.writer|truncatechars:10 }}</a>
                </div>
                <div>
                    {{ blog.summary}}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        {% endfor %}
    </div>
    <div class="tab-content" id="productInfo">
        상품 정보 ㅋㅋㅋ
    </div>
    <div class="tab-content" id="productRule">
        상품 고시 ㅋㅋㅋ
    </div>
</div>

<div data-role="popup" id="purchaseDialog" data-overlay-theme="a" data-theme="a" data-dismissible="false" style="width:300px;">
    <div data-role="header" data-theme="a">
    <h1 style="font-size: 18px;">수량 선택</h1>
    </div>
    <div role="main" class="ui-content">
        <div id="purchaseDialogSelect">
            <select data-inline="true" data-shadow="false">
                <option value="#">1</option>
                <option value="#">2</option>
                <option value="#">3</option>
                <option value="#">4</option>
                <option value="#">5</option>
                <option value="#">6</option>
                <option value="#">7</option>
                <option value="#">8</option>
            </select>
        </div>
        <div style="text-align: center;">
            <a href="#" class="gold-btn"  style="margin-right:2%;">구매</a><a href="#" class="gold-btn" data-rel="back">닫기</a>
        </div>
    </div>
</div>


{% endblock %}

{% block footer %}
<div data-role="footer" data-position="fixed">
    <div class="footer-bar">
        <a href="#purchaseDialog" class="gold-btn" data-rel="popup" data-position-to="window" data-transition="pop" style="margin-right:2%;">구매</a><a href="#" class="gold-btn btn-for-cart" data-type="p" data-product="{{product.id}}">장바구니</a>
    </div>
</div>

{% endblock %}