{% extends "web_base.html" %}
{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/product_detail_web.css' %}"/>
<link rel="stylesheet" href="{% static 'magnific_popup/magnific-popup.css' %}"/>
<link rel="stylesheet" href="{% static 'spinner/jquery.spinner.css' %}"/>
<link rel="stylesheet" href="{% static 'tab/easy-responsive-tabs.css' %}"/>
<script src="{% static 'magnific_popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/product_detail_web.js' %}"></script>
<script src="{% static 'spinner/jquery.spinner.js' %}"></script>
<script src="{% static 'tab/easyResponsiveTabs.js' %}"></script>

{% endblock %}
{% block content %}
<div class="row" style="margin-top: 20px;">
    <div class="main-container float-left">
        <div class="box-css">
            <div class="box-header">
                단일제품 > {{ product.name }}
            </div>
            <div class="product-x-category-box">
                카테고리 > {{ product.category_name }}
            </div>
            <div class="product-contents">
                <div class="float-left">
                    <div class="product-x-img">
                        <img src="{{ product.big_img_url }}" alt="" />
                    </div>
                </div>
                <div class="float-right">
                    <div class="product-x-img-gallery">
                        <a href="http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg"><img src="http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_s.jpg" ></a>
                        <a href="http://farm9.staticflickr.com/8382/8558295631_0f56c1284f_b.jpg"><img src="http://farm9.staticflickr.com/8382/8558295631_0f56c1284f_s.jpg" ></a>
                        <a href="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_b.jpg"><img src="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_s.jpg" ></a>
                        <a href="http://farm9.staticflickr.com/8383/8563475581_df05e9906d_b.jpg"><img src="http://farm9.staticflickr.com/8383/8563475581_df05e9906d_s.jpg" ></a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div>
                    <div class="tag-header">태그</div>
                    <div class="tag-list">
                        <a href="#">여드름</a>, <a href="#">하얀피부</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-css no-shadow" style="background-color: #F3F3F3;">
            <div id="product-xTabs">
                <ul class="resp-tabs-list">
                    <li>상세설명</li>
                    <li style="margin-left: -1px;">상품정보고시</li>
                </ul>

                <div class="resp-tabs-container">
                    <div> {{ product.description }}</div>
                    <div> 고시가 어쩌구</div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-container float-left">
        <div class="box-css">
            <div class="box-header">
                구매
            </div>

            <div class="price-area">
                <div class="product-how-many">
                    <div class="product-price price-saled">판매가 : <span>{{ product.discount_price }}원</span></div>
                    <div style="width :80px; margin-top : 6px; float: left;">
                        구매수량 :
                    </div>
                    <div style="width : 100px; margin-left:2px; float:left;">
                        <input type="text" class="cnt-spinner" id="howMany"/>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="product-price price-total">
                    총 상품 금액 : {{ product.discount_price }}원
                </div>
                <div class="product-btn-area">
                    <a href="#" class="basic-btn">구매하기</a>
                    <a href="#" data-product="{{ product.id }}" data-type="p" class="basic-btn btn-for-cart">장바구니</a>
                </div>
            </div>
        </div>
        <div class="box-css">
           <div class="box-header">
               블로그 리뷰
           </div>
           <div class="col-xs-12" style="padding-top: 4px; padding-bottom: 8px; ">
           {% for blog in blog_reviews %}
               <div class="belong-to-product-x-item">
                   <div class="belong-product-img">
                       <img src="{{ blog.big_img_url }}" alt="" />
                   </div>
                   <div class="belong-product-info">
                       <div class="belong-product-name">
                           <a href="#" title="{{ blog.writer }}">{{ blog.writer|truncatechars:10 }}</a>
                       </div>
                       <div class="belong-product-contents">
                           {{ blog.summary |truncatechars:30}}
                       </div>
                   </div>
                   <div class="clearfix"></div>
               </div>
           {% endfor %}
           </div>
        </div>
    </div>
</div>
{% endblock %}