{% extends "mobile_base.html" %}
{% block header %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
<script src="{% static 'js/imagesloaded.pkgd.min.js'%}"></script>
<script src="{% static "swiper/idangerous.swiper.js" %}"></script>
<script src="{% static "js/product_detail.js" %}"></script>

<link rel="stylesheet" href="{% static 'swiper/idangerous.swiper.css' %}"/>
<link rel="stylesheet" href="{% static 'css/product_detail.css' %}"/>
{% endblock %}
{% block title %}
    <h2 class="ui-title">제품 정보</h2>
{% endblock %}
{% block content %}
<div class="category-box">
    <div class="select-wrapper">
     <div class="select-box-border">
        <select id="mainCategoryList" data-mini="true" data-inline="true" data-shadow="false">
            <option value="#subProductCategory">모든제품</option>
            <option value="#subSetCategory">세트상품</option>
        </select>
     </div>
    </div>
    <div class="select-wrapper">
        <select id="subCategoryList" data-mini="true" data-inline="true" data-shadow="false">
            <option  {% if current_category == '1' %} selected="selected" {% endif %}  value="1">스킨</option>
            <option  {% if current_category == '2' %} selected="selected" {% endif %} value="2">로션</option>
            <option  {% if current_category == '4' %} selected="selected" {% endif %} value="4">선크림, BB크림</option>
            <option  {% if current_category == '5' %} selected="selected" {% endif %} value="5">에센스</option>
            <option  {% if current_category == '14' %} selected="selected" {% endif %} value="14">수분크림, 아이크림</option>
            <option  {% if current_category == '16' %} selected="selected" {% endif %} value="16">스페셜케어</option>
            <option  {% if current_category == '3' %} selected="selected" {% endif %} value="3">클렌징, 스크럽</option>
            <option  {% if current_category == '17' %} selected="selected" {% endif %} value="17">메이크업</option>
            <option  {% if current_category_id == '24' %} selected="selected" {% endif %} value="24">바디</option>
            <option  {% if current_category_id == '22' %} selected="selected" {% endif %} value="22">헤어</option>
            <option  {% if current_category_id == '25' %} selected="selected" {% endif %} value="25">향수</option>
        </select>
    </div>
    <div class="clearfix"></div>
</div>
<div class="product-img">
    <div class="swiper-container">
        <div class="swiper-wrapper">
          <!--First Slide-->
           <div class="swiper-slide">
             <img src="{{ product.small_img_url }}"/>
           </div>

        {% for image in product.images %}
            {% if forloop.first %}
            {% else %}
                <div class="swiper-slide">
                    <img src="{{image}}" />
                </div>
            {% endif %}
        {% endfor %}
        </div>
        <div class="pagination">
        </div>
    </div>
    <div class="product-title">
        {{ product.brandname }} {{ product.name }}
        <div class="product-price">
            {{ product.discount_price|intcomma }}원 <span class="item-original-price">{{ product.original_price }}원</span> (<span>{{ product.discount_rate }}</span>% 할인)
        </div>
        {% if product.is_interested %}
            <a href="#" class="interest-btn btn-for-interest"  data-type="p" data-product="{{ product.id }}">관심하기</a>
        {% else %}
            <a href="#" class="interest-btn btn-for-interest interest-done"  data-type="p" data-product="{{ product.id }}">관심취소</a>
        {% endif %}
    </div>
</div>
<div>
    <ul class="tab-menu">
        <li>
            <a href="#productInfo" class="tab-btn product-info-btn">상품 정보</a>
        </li>
        <li>
            <a href="#productItems" class="tab-btn product-items-btn selected-product-items-btn">블로거 리뷰</a>
        </li>
        <li>
            <a href="#productRule" class="tab-btn product-rule-btn">상품 정보 고시</a>
        </li>
    </ul>
    <div class="tab-content tab-selected" id="productItems">
        {% for blog in blog_reviews %}
        <div class="product-item">

            <div class="product-item-img">
                <a href="{{ blog.url }}" target="_blank" title="{{ blog.writer }}"><img src="{{ blog.small_img_url }}"/></a>
            </div>
            <div class="product-item-contents">
                <div>
                    <a href="{{ blog.url }}" target="_blank" title="{{ blog.writer }}">{{ blog.writer|truncatechars:10 }}</a>
                </div>
                <div>
                    {{ blog.summary}}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        {% endfor %}
    </div>
    <div class="tab-content" id="productInfo">
        <div class="product-detail-info-wrapper">
            <div class="product-detail-info-header">상품특징</div>
            <div class="product-detail-info">
                {{ product.description }}
            </div>
        </div>
        <div class="product-detail-info-wrapper">
            <div class="product-detail-info-header">사용방법</div>
            <div class="product-detail-info">{{ product.description2 }}</div>
        </div>
    </div>
    <div class="tab-content" id="productRule">
        <table class="product-info-table">
            <tr>
                <td class="item-spec-head">사이즈 및 용량</td>
                <td>{{ product.capacity }}</td>
            </tr>
            <tr>
                <td class="item-spec-head">제품 주요 사양</td>
                <td>{{ product.fit_skin_type }}</td>
            </tr>
            <tr>
                <td class="item-spec-head">사용기한</td>
                <td>{{ product.production_date }}</td>
            </tr>
            <tr>
                <td class="item-spec-head">사용 방법</td>
                <td>{{ product.usage }}</td>
            </tr>
            <tr>
                <td class="item-spec-head">제조자 및 제조판매업자</td>
                <td>{{ product.maker }}</td>
            </tr>
            <tr>
                <td class="item-spec-head">제조국</td>
                <td>{{ product.country }}</td>
            </tr><tr>
                <td class="item-spec-head">주요성분 및 전성분</td>
                <td>{{ product.ingredient }}</td>
            </tr>
            <tr>
                <td class="item-spec-head">식풍의약품안전청 심사필 유무</td>
                <td>{{ product.judge_result }}</td>
            </tr>
            <tr>
                <td class="item-spec-head">사용시 주의사항</td>
                <td>{{ product.precautions }}</td>
            </tr>
            <tr>
                <td class="item-spec-head">품질 보증기준</td>
                <td>{{ product.quality_guarantee_standard }}</td>
            </tr>
            <tr>
                <td class="item-spec-head">소비자 상담관련 전화번호</td>
                <td>02-871-4510</td>
            </tr>
        </table>
    </div>
</div>

<div data-role="popup" id="purchaseDialog" data-overlay-theme="a" data-theme="a" data-dismissible="false" style="width:300px;">
    <div data-role="header" data-theme="a">
    <h1 style="font-size: 18px;">수량 선택</h1>
    </div>
    <div role="main" class="ui-content">
        <div id="purchaseDialogSelect">
            <select data-inline="true" id="howMany" data-shadow="false">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </div>
        <div style="text-align: center;">
            <a href="#" data-product="{{ product.id }}" data-mobile="true" data-type="p"  class="gold-btn btn-for-purchase"  style="margin-right:2%;">구매</a><a href="#" class="gold-btn" data-rel="back">닫기</a>
        </div>
    </div>
</div>


{% endblock %}

{% block footer %}
<div data-role="footer" data-position="fixed">
    <div class="footer-bar">
        <a href="#purchaseDialog" class="gold-btn" data-rel="popup" data-position-to="window" data-transition="pop" style="margin-right:2%;">구매</a><a href="#" class="gold-btn btn-for-cart" data-type="p" data-product="{{product.id}}">장바구니</a>
    </div>
</div>

{% endblock %}