{% load humanize %}
    <div class="modal-left-wrapper float-left">
        <div class="modal-desc-wrapper box-css">
            <div class="box-header">{{ product.name }}</div>
            <div class="modal-product-category-box">
                카테고리 > {{ product.category_name }}
            </div>
            <div class="modal-product-contents">
                <div class="float-left">
                    <div id="modalProductImg">
                        <img src="{{ product.big_img_url }}" alt="" />
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="modal-right-wrapper float-left">
        <div class="modal-puchase box-css">
            <div class="box-header">
                정보
            </div>
            <div class="price-area">
                <div class="product-price price-saled">판매가 : <span id="modalProductPrice">{{ product.discount_price|intcomma }}원</span></div>
                <div class="product-how-many">
                    <div style="width :80px; margin-top : 6px; float: left;">
                        구매수량 :
                    </div>
                    <div style="width : 100px; margin-left:2px; float:left;">
                        <input type="text" id="modalCntSpinner" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="product-price price-total">
                    총 상품 금액 : <span id="modalProductFinalPrice">{{ product.discount_price|intcomma }}</span>원
                </div>
                <div class="product-btn-area">
                    <a href="{% url 'product' product_id=product.id %}" class="basic-btn">상세 페이지로 이동</a>
                    <a href="#" class="basic-btn btn-for-cart">장바구니</a>
                </div>
            </div>
            <div style="margin-left: 20px; margin-bottom: 20px;">
                <div class="tag-header">태그</div>
                <div class="tag-list">
                    <a href="#">여드름</a>, <a href="#">하얀피부</a>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="box-css">
        <div class="modal-product-description">
            <div class="box-header">상세설명</div>
            {{ product.description }}
        </div>
    </div>