{% extends "mobile_base.html" %}
{% block header %}
{% load static %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'css/purchase.css' %}"/>
<script src="{% static 'jqmodal/jqModal.js' %}"></script>
<script src="http://dmaps.daum.net/map_js_init/postcode.js"></script>
<script src="{% static 'js/purchase.js' %}"></script>
{% endblock %}
{% block title %}
    <h2 class="ui-title">구매</h2>
{% endblock %}

{% block content %}
<div id="addressLayer">
    <img src="//i1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px" onclick="closeDaumPostcode()">
</div>
<div class="page-wrapper">
    <div class="section-header">
        주문리스트 확인
    </div>
    {% if products|length == 0 and sets|length == 0 and custom_sets|length == 0 %}
        <div class="no-item">
            구매하신 내역이 없습니다.
        </div>
    {% endif %}
    {% for product in products %}
    <div class="purchase-wrapper purchased-item">
        <div class="purchase-product-img">
            <img src="{{ product.small_img_url }}"/>
        </div>
        <div class="purchase-product-info">
            {{ product.name }}<br/>
            가격 : <span id="productPrice-{{ product.id }}">{{ product.discount_price|intcomma }}</span>원<br/>
        </div>
        <div class='cart-select-box-wrapper'>
            <label>수량 : </label>
            <select data-shadow='false' class="productBuyCnt" data-id="{{ product.id }}" data-corner='false'>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
            </select>
            <div class="clearfix"></div>
            총 가격 : <span id="totalProductPrice-{{ product.id }}">{{ product.total_price|intcomma }}</span>원
        </div>
    </div>
    {% endfor %}
    {% for set in sets %}
    <div class="purchase-wrapper purchased-item">
        <div class="purchase-product-img">
            <img src="{{ set.small_img_url }}"/>
        </div>
        <div class="purchase-product-info">
            {{ set.name }}<br/>
            가격 : <span id="setPrice-{{ set.id }}">{{ set.discount_price|intcomma }}</span>원<br/>
        </div>
        <div class='cart-select-box-wrapper'>
            <label>수량 : </label>
            <select data-shadow='false' class="setBuyCnt" data-id="{{ set.id }}" data-corner='false'>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
            </select>
            <div class="clearfix"></div>
            총 가격 : <span id="totalSetPrice-{{ set.id }}">{{ set.total_price|intcomma }}</span>원
        </div>
    </div>
    {% endfor %}
    {% for custom in custom_sets %}
    <div class="purchase-wrapper purchased-item">
        <div class="purchase-product-img">
            <img src="{{ custom.small_img_url }}"/>
        </div>
        <div class="purchase-product-info">
            {{ custom.name }}<br/>
            가격 : <span id="customPrice-{{ custom.id }}">{{ custom.discount_price|intcomma }}</span>원<br/>
        </div>
        <div class='cart-select-box-wrapper'>
            <label>수량 : </label>
            <select data-shadow='false' class="customBuyCnt" data-id="{{ custom.id }}" data-corner='false'>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
            </select>
            <div class="clearfix"></div>
            총 가격 : <span id="totalCustomPrice-{{ custom.id }}">{{ custom.total_price|intcomma }}</span>원
        </div>
    </div>
    {% endfor %}

    <div class="section-header">
        주문자 정보
    </div>
    <div class="purchase-wrapper">
        <div class="purchase-inline-input">
            <label>
                주문자 이름
            </label>
            <div class="inline-input-wrapper">
                <input type="text"/>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="purchase-inline-input">
            <label>
                이메일
            </label>
            <div class="inline-input-wrapper">
                <input type="text"/>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="purchase-inline-input">
            <label>
                연락처
            </label>
            <div class="inline-input-wrapper phone-form-wrapper">
                <input type="text" /><input type="text"/><input type="text"/>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="section-header">
        배송지 정보
    </div>
    <div class="purchase-wrapper">
        <form>
        <label>
            <input type="checkbox" name="chckbox-0" data-mini="true" style="display:none;">기본배송지
        </label>
        </form>
        <div class="purchase-inline-input">
            <label>
                수취인 이름
            </label>
            <div class="inline-input-wrapper">
                <input type="text"/>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="purchase-inline-input">
            <label>
                연락처
            </label>
            <div class="inline-input-wrapper phone-form-wrapper">
                <input type="text" /><input type="text"/><input type="text"/>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="purchase-inline-input">
            <label>
                주소
            </label>
            <div class="inline-input-wrapper address-form-wrapper">
                <input type="text" name="postal_code" id="postalcode" disabled="disabled"/> <a href="#" class="gold-btn" id="searchAddressBtn" >주소 검색</a>
                <input type="text" name="basic_address" id="basicAddress" disabled="disabled"/>
                <input type="text" name="detail_address"/>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="purchase-inline-input">
            <label>
                배송유의사항
           </label>
            <div class="inline-input-wrapper">
                <input type="text"/>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="section-header">
        결제 금액
    </div>
    <div class="purchase-wrapper">
        <div style="padding-bottom : 8px;">
           구매총액 : <span id="totalPurchasePrice">240000</span> 원
        </div>
    </div>
    <div class="purchase-wrapper">
        <div>
            마일리지 (보유 : 12000point)
        </div>
        <div class="purchase-inline-input">
            <label>
                마일리지 사용
           </label>
            <div class="inline-input-wrapper">
                <input type="text"/>
            </div>
            <div class="clearfix"></div>
        </div>
        <div style="color : red; padding-bottom: 8px;">
            * 마일리지는 1000points 이상부터 사용 하실 수 있습니다.
        </div>
    </div>
    <div class="purchase-wrapper">
        <div style="padding-bottom : 8px;">
           총 결제액 : <span id="finalPurchasePrice">{{ total_price|intcomma }}</span> 원
        </div>
    </div>
    <div class="section-header">
        결제 금액
    </div>
    <div class="purchase-wrapper">
        <ul>
            <li><label><input type="radio" data-mini="true" class="purchase-method" name="purchase_method"/>신용카드</label></li>
            <li><label><input type="radio" data-mini="true" class="purchase-method" name="purchase_method"/>무통장입금</label></li>
        </ul>
    </div>
    <div class="footer-bar">
        <a href="#" class="gold-btn" >결제하기</a>
    </div>
</div>

{% endblock %}