{% extends "mobile_base.html" %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/insert_profile_info.css') }}"/>
{% endblock %}
{% block title %}
    <h2 class="ui-title">회원가입</h2>
{% endblock %}
{% block content %}
       <form method="post" action="{{url_for('register')}}">
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<a href="#" class="ui-btn ui-shadow ui-btn-inline" style="margin:12px 0;">Facebook을 통해 가입</a>
				</div>
				<div class="ui-block-a form-box">
					<div class="boxed">
						<div class="form-header">
							회원가입
						</div>
						<div class="form-contents">
							<div>
								<label for="email">Email</label>
								<input type="text" name="email" id="email"/>
							</div>
							<div>
								<label for="name_i">이름</label>
								<input type="text" name="name" id="name_i"/>
							</div>
							<div>
								<label for="password_i">비밀번호</label>
								<input type="password" name="password" id="password_i"/>
							</div>
							<div>
								<label for="sex">성별</label>
								<select name="sex" id="sex">
						        	<option value="M">남자</option>
						        	<option value="F">여자</option>
						        </select>
						    </div>
						</div>
					</div>
				</div>
			</div>
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<input type="submit" value="회원가입" class="ui-btn ui-shadow">
				</div>
			</div>
		</form>
{% endblock %}
