{% extends "mobile_base.html" %}
{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}"/>
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}
{% block title %}
    <h2 class="ui-title">회원가입</h2>
{% endblock %}
{% block content %}
       <form method="post" id="register" action="{% url 'registration' next=next %}">
			<div class="ui-grid-solo">
                {% if messages %}
                    <div id="messages">
                        <ul>
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
				<div class="ui-block-a form-box">
					<div class="boxed">
						<div class="form-contents">
                            <div class="facebook-register-wrapper">
                                <a href="#" class="facebook-btn fb-join-btn" style="margin:12px 0;">Facebook을 통해 가입</a>
                            </div>
							<div>
                                <label for="email">이메일</label>
								<input type="text" name="email" id="email" data-clear-btn="true" data-mini="true"/>
							</div>
							<div>
								<label for="name">이름</label>
								<input type="text" name="name" id="name" data-clear-btn="true" data-mini="true"/>
							</div>
							<div>
								<label for="password">비밀번호</label>
								<input type="password" name="password" id="password" data-clear-btn="true" data-mini="true"/>
							</div>
                            <div>
								<label for="password_confirm">비밀번호 확인</label>
								<input type="password" name="password_confirm" id="password_confirm" data-clear-btn="true" data-mini="true"/>
							</div>
							<div class="sex-wrapper">
								<label for="sex">성별</label>
								<select name="sex" id="sex"  data-mini="true">
						        	<option value="M" id="sex_m">남자</option>
						        	<option value="F" id="sex_f">여자</option>
						        </select>
						    </div>
                            <div style="margin-top : 24px;">
                                 <a href="#"  data-enable="false" id="joinBtn" class="gold-btn">회원가입</a>
                            </div>
						</div>
					</div>
				</div>
			</div>

		</form>
{% endblock %}
