{% extends "web_base.html" %}
{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/register_web.css' %}"/>
<script src="{% static 'js/register_web.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="register-form">
        <div class="register-header">
            <h4 class="lined-heading"><span>회원가입</span></h4>
            <span style="color: #000000; font-size:11px; line-height: 24px; text-rendering: optimizelegibility;">MOTION9(모션나인)은 간단한 정보입력만으로도 회원가입이 가능합니다. 결제 혹은 페이지 이동에 오류가 있으신 분들은 고객센터로 연락해주세요</span>
        </div>
        <form method="post" data-form="register" action="{% url 'registration' next=next%}" >
            <div class="form-box">
                <label for="name">이름 <span class="name-warning-message">* 한글로 입력해 주세요.</span></label>
                <input type="text" name="name" id="name"/>
            </div>
            <div class="form-box">
                <label for="email">이메일 <span class="warning-message">* 이미 존재하는 이메일이거나 형식이 올바르지 않습니다.</span></label>
                <input type="text" class="input-text" name="email" id="email">
            </div>
            <div class="form-box">
                <label for="password">비밀번호</label>
                <input type="password" name="password" id="password"/>
            </div>
            <div class="form-box">
                <label for="password_check">비밀번호 확인</label>
                <input type="password" name="password_confirm" id="password_check"/>
            </div>
            <div class="form-box">
                <label for="sex">성별</label>
                <div class="checkbox-wrapper">
                    <input type="radio" name="sex" id="sex_m" value="M"/> <label for="sex_m">남자</label>
                </div>

                <div class="checkbox-wrapper">
                    <input type="radio" name="sex" id="sex_f" value="F"/> <label for="sex_f">여자</label>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="form-btns">
                <a href="#" class="basic-btn login-submit-btn" id="joinBtn" data-form="register" data-enable="false" style="padding : 8px 40px;">회원가입</a> &nbsp;&nbsp;&nbsp;
                <a href="#" class="fb-join-btn facebook-btn">페이스북으로 가입</a>
            </div>
            <div class="already-member-area">
                이미 회원 이세요? <a href="{% url 'login_page' %}">로그인 하기</a>
            </div>
        </form>
    </div>

{% endblock %}
