{% extends "mobile_base.html" %}
{% block header %}
    {% load static %}
    {% load humanize %}

    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/report.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/report_detail.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/report_layout.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/report_default.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/report_components_rounded.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/common_style.css' %}"/>
    <script src="{% static 'js/report.js' %}"></script>
    {#    <style type="text/css">#}
    {#    .jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}#}
    {#    </style>#}
    {% block header_append %}
    {% endblock %}
{% endblock %}

{% block title %}
    <div style="text-align:center; height:100%; margin-top:4px">
        <a href="{% url 'mobile_index' %}" target="_self">
            <img src="{% static "img/LOGO_black.png" %}" class="main-logo-img">
        </a>
    </div>
    {#    <h2 class="ui-title">Report</h2>#}
{% endblock %}

{% block content %}
    {% block detail %}
        <!-- BEGIN PAGE CONTAINER -->
        <div class="page-container">
            <!-- BEGIN PAGE CONTENT -->
            <div class="page-content">
                <div class="container">
                    <!-- BEGIN PAGE CONTENT INNER -->
                    <div class="row margin-top-10">
                        <div class="col-md-6 col-sm-12">
                            <!-- BEGIN PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption caption-md">
                                        <i class="icon-bar-chart theme-font hide"></i>
                                        <span class="caption-subject theme-font bold uppercase">비오템 옴므 UV 디펜스 울트라 라이트 SPF 50/PA+++</span>
                                    </div>

                                </div>
                                <div class="portlet-body" style="margin-top : 30px;">
                                    <div class="row list-separated">
                                        <div class="col-md-3 col-sm-3 col-xs-6" style="padding:0px;">
                                            <div class="product-x-img" style="text-align:center; width:100px;">
                                                <img src="{% static 'img/test.jpg' %}" alt="" style="width:60px;"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6" style="padding:0px;">
                                            <div class="font-grey-mint font-sm">
                                                가격
                                            </div>
                                            <div class="uppercase font-hg font-red-flamingo">
                                                13,760 <span class="font-lg font-grey-mint">원</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6" style="padding:0px;">
                                            <div class="font-grey-mint font-sm">
                                                네이버 쇼핑 평점
                                            </div>
                                            <div class="uppercase font-hg theme-font">
                                                4.3 <span class="font-lg font-grey-mint">/5.0</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portlet-body" style="margin-top : 30px;">
                                    <div class="row list-separated">
                                        <div class="col-md-3 col-sm-3 col-xs-6" style="padding:0px; width:100%">
                                            <div class="font-grey-mint font-sm">
                                                상세설명
                                            </div>
                                            <div class="uppercase font-hg" style="font-size:15px;">
                                                랩시리즈와 비오템이 막상막하의 대결을 펼쳤지만 자외선차단제 분야에서는 비오템 UV 디펜스를 사용한다고 밝힌 그루밍 가이들이
                                                많았다는 사실!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PORTLET-->
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-md-6 col-sm-12">
                            <!-- BEGIN PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption caption-md">
                                        <i class="icon-bar-chart theme-font hide"></i>
                                        <span class="caption-subject theme-font bold uppercase">2501개의 블로거 리뷰</span>
                                    </div>
                                </div>
                                <div class="portlet-body" style="margin-top : 30px;">
                                    <div class="row list-separated">
                                        <div class="col-md-3 col-sm-3 col-xs-6" style="padding:0px; width:100%">
                                            <div class="font-grey-mint font-sm">
                                                상세설명
                                            </div>
                                            <div class="uppercase font-hg" style="font-size:15px;">
                                                랩시리즈와 비오템이 막상막하의 대결을 펼쳤지만 자외선차단제 분야에서는 비오템 UV 디펜스를 사용한다고 밝힌 그루밍 가이들이
                                                많았다는 사실!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PORTLET-->
                        </div>
                    </div>

                    <div class="row margin-top-10">
                        <div class="col-md-6 col-sm-12">
                            <!-- BEGIN PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption caption-md">
                                        <i class="icon-bar-chart theme-font hide"></i>
                                        <span class="caption-subject theme-font bold uppercase">KEYWORD</span>
                                    </div>
                                </div>
                                <div class="portlet-body" style="margin-top : 30px;">
                                    <div class="row list-separated">
                                        <div class="col-md-3 col-sm-3 col-xs-6" style="padding:0px; width:100%">
                                            <div class="font-grey-mint font-sm">
                                                상세설명
                                            </div>
                                            <div class="uppercase font-hg" style="font-size:15px;">
                                                랩시리즈와 비오템이 막상막하의 대결을 펼쳤지만 자외선차단제 분야에서는 비오템 UV 디펜스를 사용한다고 밝힌 그루밍 가이들이
                                                많았다는 사실!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PORTLET-->
                        </div>
                    </div>

                    <div class="row margin-top-10">
                        <div class="col-md-6 col-sm-12">
                            <!-- BEGIN PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption caption-md">
                                        <i class="icon-bar-chart theme-font hide"></i>
                                        <span class="caption-subject theme-font bold uppercase">FOR WHO?</span>
                                    </div>
                                </div>
                                <div class="portlet-body" style="margin-top : 30px;">
                                    <div class="row list-separated">
                                        <div class="col-md-3 col-sm-3 col-xs-6" style="padding:0px; width:100%">
                                            <div class="font-grey-mint font-sm">
                                                상세설명
                                            </div>
                                            <div class="uppercase font-hg" style="font-size:15px;">
                                                랩시리즈와 비오템이 막상막하의 대결을 펼쳤지만 자외선차단제 분야에서는 비오템 UV 디펜스를 사용한다고 밝힌 그루밍 가이들이
                                                많았다는 사실!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE CONTENT INNER -->
                </div>
            </div>
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->



    {% endblock %}
{% endblock %}
