{% extends "web_base.html" %}
{% block header %}
    {% load static %}
    {% load humanize %}
    {% load mathfilters %}
    <link rel="stylesheet" href="{% static 'css/product_detail_web.css' %}"/>
    <link rel="stylesheet" href="{% static 'magnific_popup/magnific-popup.css' %}"/>
    <link rel="stylesheet" href="{% static 'spinner/jquery.spinner.css' %}"/>
    <link rel="stylesheet" href="{% static 'tab/easy-responsive-tabs.css' %}"/>
    <script src="{% static 'magnific_popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/product_detail_web.js' %}"></script>
    <script src="{% static 'spinner/jquery.spinner.js' %}"></script>
    <script src="{% static 'tab/easyResponsiveTabs.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/report_detail.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/report_layout.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/report_default.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/report_components_rounded.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static "css/common_style_web.css" %}"/>

{% endblock %}
{% block content %}
    <div class="row" style="margin-top: 50px !important">
    <!-- BEGIN PAGE CONTAINER -->
    <div class="page-container" style="background-color : #eff3f8">
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>비오템 옴므 UV 디펜스 울트라 라이트 SPF 50/PA+++
                <small></small>
            </h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
    <div class="container">
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row margin-top-10">
    <div class="col-md-6 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject theme-font bold uppercase">비오템 옴므 UV 디펜스 울트라 라이트 SPF 50/PA+++</span>
                    {#								<span class="caption-helper hide">weekly stats...</span>#}
                </div>
            </div>
            <div class="portlet-body">
                <div class="row list-separated">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="product-x-img">
                            <img src="{% static 'img/test.jpg' %}" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="font-grey-mint font-sm">
                            가격
                        </div>
                        <div class="uppercase font-hg theme-font">
                            49,000 <span class="font-lg font-grey-mint">원</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="font-grey-mint font-sm">
                            네이버 쇼핑 평점
                        </div>
                        <div class="uppercase font-hg font-purple">
                            4.5 <span class="font-lg font-grey-mint">/5.0</span>
                        </div>
                    </div>
                </div>
                <div class="row list-separated">
                    <div class="col-md-3 col-sm-3 col-xs-6" style="width:100%; margin-top:40px;">
                        <div class="font-grey-mint font-sm" style="font-size:20px;">
                            상세설명
                        </div>
                        <div class="uppercase font-hg theme-font" style="font-size:16px;">
                            랩시리즈와 비오템이 막상막하의 대결을 펼쳤지만 자외선차단제 분야에서는 비오템 UV 디펜스를 사용한다고 밝힌 그루밍 가이들이 많았다는 사실!
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
    <div class="col-md-6 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject theme-font bold uppercase">2501개의 블로거 리뷰</span>
                    <span class="caption-helper hide">weekly stats...</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row number-stats margin-bottom-30">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="stat-left">
                            <div class="stat-chart">
                                <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                <div id="sparkline_bar"></div>
                            </div>
                            <div class="stat-number">
                                <div class="title">
                                    Total
                                </div>
                                <div class="number">
                                    2460
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="stat-right">
                            <div class="stat-chart">
                                <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                <div id="sparkline_bar2"></div>
                            </div>
                            <div class="stat-number">
                                <div class="title">
                                    New
                                </div>
                                <div class="number">
                                    719
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="uppercase">
                            <th colspan="2">
                                MEMBER
                            </th>
                            <th>
                                Earnings
                            </th>
                            <th>
                                CASES
                            </th>
                            <th>
                                CLOSED
                            </th>
                            <th>t
                                RATE
                            </th>
                        </tr>
                        </thead>
                        <tr>
                            <td class="fit">
                                <img class="user-pic" src="../../assets/admin/layout3/img/avatar4.jpg">
                            </td>
                            <td>
                                <a href="javascript:;" class="primary-link">Brain</a>
                            </td>
                            <td>
                                $345
                            </td>
                            <td>
                                45
                            </td>
                            <td>
                                124
                            </td>
                            <td>
                                <span class="bold theme-font">80%</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="fit">
                                <img class="user-pic" src="../../assets/admin/layout3/img/avatar5.jpg">
                            </td>
                            <td>
                                <a href="javascript:;" class="primary-link">Nick</a>
                            </td>
                            <td>
                                $560
                            </td>
                            <td>
                                12
                            </td>
                            <td>
                                24
                            </td>
                            <td>
                                <span class="bold theme-font">67%</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="fit">
                                <img class="user-pic" src="../../assets/admin/layout3/img/avatar6.jpg">
                            </td>
                            <td>
                                <a href="javascript:;" class="primary-link">Tim</a>
                            </td>
                            <td>
                                $1,345
                            </td>
                            <td>
                                450
                            </td>
                            <td>
                                46
                            </td>
                            <td>
                                <span class="bold theme-font">98%</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="fit">
                                <img class="user-pic" src="../../assets/admin/layout3/img/avatar7.jpg">
                            </td>
                            <td>
                                <a href="javascript:;" class="primary-link">Tom</a>
                            </td>
                            <td>
                                $645
                            </td>
                            <td>
                                50
                            </td>
                            <td>
                                89
                            </td>
                            <td>
                                <span class="bold theme-font">58%</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light tasks-widget">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase">KEYWORD</span>
                        <span class="caption-helper">16 pending</span>
                    </div>
                    <div class="inputs">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                <i class="icon-magnifier"></i>
                                {#										<input type="text" class="form-control form-control-solid" placeholder="search...">#}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="task-content">
                        <div class="scroller" data-always-visible="1" data-rail-visible1="0"
                             data-handle-color="#D7DCE2">
                            <!-- START TASK LIST -->
                            <ul class="task-list">

                                <li>
                                    <div class="task-checkbox">
                                        <input type="checkbox" class="liChild" value=""/>
                                    </div>
                                    <div class="task-title">
												<span class="task-title-sp">
												Technical Management Meeting </span>
                                        <span class="label label-sm label-warning">Company</span>
                                    </div>
                                    <div class="task-config">
                                        <div class="task-config-btn btn-group">
                                            <a class="btn btn-xs default" href="javascript:;" data-toggle="dropdown"
                                               data-hover="dropdown" data-close-others="true">
                                                <i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <a href="javascript:;">
                                                        <i class="fa fa-check"></i> Complete </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <i class="fa fa-pencil"></i> Edit </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <i class="fa fa-trash-o"></i> Cancel </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="last-line">
                                    <div class="task-checkbox">
                                        <input type="checkbox" class="liChild" value=""/>
                                    </div>
                                    <div class="task-title">
												<span class="task-title-sp">
												KeenThemes Investment Discussion </span>
                                        <span class="label label-sm label-warning">KeenThemes </span>
                                    </div>
                                    <div class="task-config">
                                        <div class="task-config-btn btn-group">
                                            <a class="btn btn-xs default" href="javascript:;" data-toggle="dropdown"
                                               data-hover="dropdown" data-close-others="true">
                                                <i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <a href="javascript:;">
                                                        <i class="fa fa-check"></i> Complete </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <i class="fa fa-pencil"></i> Edit </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <i class="fa fa-trash-o"></i> Cancel </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- END START TASK LIST -->
                        </div>
                    </div>
                    <div class="task-footer">
                        <div class="btn-arrow-link pull-right">
                            <a href="javascript:;">See All Tasks</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
        <div class="col-md-6 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase">For WHO?</span>
                        {#								<span class="caption-helper">45 pending</span>#}
                    </div>
                    <div class="inputs">
                        <div class="portlet-input input-inline input-small ">
                            <div class="input-icon right">
                                <i class="icon-magnifier"></i>
                                {#										<input type="text" class="form-control form-control-solid" placeholder="search...">#}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="scroller" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                        <div class="general-item-list">
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <img class="item-pic" src="../../assets/admin/layout3/img/avatar4.jpg">
                                        <a href="" class="item-name primary-link">Nick Larson</a>
                                        <span class="item-label">3 hrs ago</span>
                                    </div>
                                    <span class="item-status"><span class="badge badge-empty badge-success"></span> Open</span>
                                </div>
                                <div class="item-body">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <img class="item-pic" src="../../assets/admin/layout3/img/avatar3.jpg">
                                        <a href="" class="item-name primary-link">Mark</a>
                                        <span class="item-label">5 hrs ago</span>
                                    </div>
                                    <span class="item-status"><span class="badge badge-empty badge-warning"></span> Pending</span>
                                </div>
                                <div class="item-body">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat tincidunt ut
                                    laoreet.
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <img class="item-pic" src="../../assets/admin/layout3/img/avatar6.jpg">
                                        <a href="" class="item-name primary-link">Nick Larson</a>
                                        <span class="item-label">8 hrs ago</span>
                                    </div>
                                    <span class="item-status"><span class="badge badge-empty badge-primary"></span> Closed</span>
                                </div>
                                <div class="item-body">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
    </div>
    </div>
    <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->


    </div>
{% endblock %}