<!DOCTYPE html>
<html>
<head>
    <title>Motion9</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    {% load humanize %}
    {% load mathfilters %}

    <link rel="stylesheet" href="{% static 'css/jquery.mobile-1.4.1.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/report_form.css' %}"/>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="{% static 'js/jquery.mobile-1.4.1.min.js' %}"></script>
    <script src="{% static 'js/common_js.js' %}"></script>
    <script src="{% static 'js/common_js_mobile.js' %}"></script>
    <script src="{% static 'js/report_form.js' %}"></script>
    <script>

        var urlRequestSurvey = "{% url 'request_survey' %}";
        var url_for_login_next = "{% url 'mobile_login_page' %}?next={{ request.get_full_path }}";

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-53577084-1', 'auto');
        ga('require', 'displayfeatures');
        {% if user.is_authenticated %}
            ga('set', '&uid', '{{ user.email }}');
        {% endif %}
        ga('send', 'pageview');

    </script>

    {% block header %}
    {% endblock %}

</head>

<body>

<div style="text-align:center; height:40px; width:100%;">
    <a href="{% url 'mobile:mobile_index' %}" target="_self">
        <img src="{% static "img/LOGO_black.png" %}" class="main-logo-img" style="height:40px;"></a>
</div>

<form value="{{ survey.survey_id }}">
    {% csrf_token %}
    {% for survey_group in survey %}
        <div data-role="page" id="page-num-{{ forloop.counter0 }}" style="margin-top:40px; background: white; ">
            <div role="main" class="ui-content">
                {% for survey_items in survey_group %}
                    <div class="report-box">
                        <fieldset data-role="controlgroup">
                            <legend class="report-radio-title">{{ survey_items.label_index }}. {{ survey_items.question }} </legend>
                            {% for option in survey_items.options %}
                                <input type="radio" name="radio-name-{{ survey_items.label_index }}"
                                       id="radio-id-{{ forloop.counter }}" value="{{ option.id }}">
                                <label class="label-content"
                                       for="radio-id-{{ forloop.counter }}">{{ option.content }}</label>
                            {% endfor %}
                        </fieldset>
                    </div>
                {% endfor %}
                <div style="text-align: center;">
                    {% if forloop.first %}
                    {% else %}
                        <a href="#page-num-{{ forloop.counter0|sub:1 }}" class="black-btn">뒤로가기</a>
                    {% endif %}
                    <a href="#page-num-{{ forloop.counter }}" class="black-btn">다음</a>
                </div>

                <div style="text-align: center; margin-top : 20px;">
                    {{ forloop.counter }}/{{ survey|length|add:'1' }}
                </div>

            </div>
        </div>
    {% endfor %}

    <div data-role="page" id="page-num-{{ survey|length }}" style="margin-top:50px; background: white; ">
        <div role="main" class="ui-content">
            <div class="report-radio-title">
                그 외 화장품 관련 분석 요청
            </div>
            <textarea id='reportText' class="textarea-box"
                      onclick="document.getElementById('reportText').value='';">
                ex) 수분크림은 꼭 필요해요.
                비오템 아쿠아 로션 리뷰 분석해주세요.
            </textarea>

            <div style="text-align: center; margin-top : 50px;">
                <a href="#page-num-{{ survey|length|sub:1 }}" class="black-btn">뒤로가기</a>
                <a href="#" id="report-btn" survey_length="{{ survey|length }}" survey_id="{{ survey_id }}"
                   url="{% url 'mobile:mobile_survey_list' %}" class="black-btn" style="width:70px;">보고서 요청</a>
            </div>
            <div style="text-align: center; margin-top : 20px;">
                {{ survey|length|add:'1' }}/{{ survey|length|add:'1' }}
            </div>
        </div>
    </div>

</form>

</body>

</html>