{% extends "web_base.html" %}
{% block header %}
{% load static %}
{% load humanize %}
{% load mathfilters %}

<script src="{% static 'js/imagesloaded.pkgd.min.js'%}"></script>
{#<script src="{% static "swiper/idangerous.swiper.js" %}"></script>#}
{#<link rel="stylesheet" href="{% static 'swiper/idangerous.swiper.css' %}"/>#}
<script src="{% static 'js/masonry.pkgd.min.js'%}"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script src="{% static "js/shopping_product_web.js" %}"></script>
{#<link rel="stylesheet" href="{% static 'css/my_page_interesting_set.css'%}"/>#}
{#<script src="{% static 'js/my_page_interesting_set.js'%}"></script>#}
<link rel="stylesheet" href="{% static 'css/report_web.css'%}"/>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>
<link rel="stylesheet" href="{% static "css/shopping_product_web.css" %}" type="text/css" />
<script src="{% static 'js/report.js'%}"></script>
<link rel="stylesheet" href="{% static 'css/report_form.css' %}"/>
<script src="{% static 'js/report_form.js' %}"></script>
{#<link rel="stylesheet" href="{% static 'css/shopping_product.css'%}"/>#}
{% endblock %}


{% block content %}


<div class="row">

<form value="{{ survey.survey_id }}">
{%  csrf_token %}
    {% for survey_group in survey %}
                {% for survey_items in survey_group %}
                    <div class="report-box">
                        <fieldset data-role="controlgroup">
                            <legend class="report-radio-title">{{ survey_items.label_index }}. {{ survey_items.question }} </legend>
                            {% for option in survey_items.options %}
                                <input type="radio" name="radio-name-{{ forloop.parentloop.counter }}"
                                       id="radio-id-{{ forloop.counter }}" value="{{ option.id }}">
                                <label style="border:0px; background:#f9f9f9; font-size:15px; color:#292929;"
                                       for="radio-id-{{ forloop.counter }}">{{ option.content }}</label>
                            {% endfor %}
                        </fieldset>
                    </div>
                {% endfor %}
    {% endfor %}

            <div class="report-radio-title">
                그 외 화장품 관련 분석 요청
            </div>
            <textarea id='reportText'
                      style="padding:10px 12px; border:1px solid #e5e5e5; font-size:12px; color:#a9a9a9; margin:0; background:rgba(253,245,247,0.38); box-shadow:none; border-radius:0px;"
                      onclick="document.getElementById('reportText').value='';">
                ex) 수분크림은 꼭 필요해요.
                비오템 아쿠아 로션 리뷰 분석해주세요.
            </textarea>

            <div style="text-align: center; margin-top : 50px;">
                <a href="#" id="report-btn" survey_id="{{ survey.survey_id }}" class="black-btn" style="width:70px;">보고서 요청</a>
            </div>


</form>

</div>


{% endblock %}
