<!DOCTYPE html>
{% extends "mobile_base.html" %}
{% block header %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/report_form.css' %}"/>

    <script src="{% static 'js/report_form.js' %}"></script>
{% endblock %}

{% block content %}

<div style="text-align:center;">
    <div class="ui-content" style="border: 1px solid #E5E5E5;margin: 30px;padding: 25px;font-size: 13px; text-align:left;">
        화장품 분석 보고서를 받아 보시기 위해 먼저 간단히 MOTION9에 가입하셔야 합니다.<br/><br/>
        5가지 문항 입력 후 최소 하루 최대 이틀 내로 <br/>고객님만을 위한 화장품 분석 보고서를 받아 보실 수 있습니다.
    </div>
    <a href="{% url 'mobile_report_form' %}" class="black-btn" style="padding: 40px; font-size: 11px; width: auto; margin: 0 30px;" target="_self">9초만에 가입하고 분석 보고서 받기</a>
</div>

{% endblock %}