<head>
<meta charset="utf-8">
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript">

    $(function() {
        function returnOnPaymentSuccess() {
            try {
                window.opener.onPaymentSuccess(payment_id);
            } catch (err) {
                alert(err.description || err) //or console.log or however you debug
            }
        }

        function returnOnPaymentFail() {
            try {
                window.opener.onPaymentFail();
            } catch (err) {
                alert(err.description || err) //or console.log or however you debug
            }
        }
        var is_success = "{{ is_success }}";
        var payment_id = "{{ payment_id }}";

        if ( is_success == "True" ) {
            returnOnPaymentSuccess(payment_id);
        } else {
            returnOnPaymentFail();
        }
        window.close();

    });

</script>
</head>
<body>
is explorer's return page</br>

<span>message</span> : {{ message }}<br/>
<span>return_message</span> : {{ return_message }}<br/>
<span>is_success</span> : {{ is_success }}<br/>
<span>service_id</span> : {{ service_id }}<br/>
<span>order_id</span> : {{ order_id }}<br/>
<span>order_date</span> : {{ order_date }}<br/>
<span>transaction_id</span> : {{ transaction_id }}<br/>
<span>auth_amount</span> : {{ auth_amount }}<br/>
<span>auth_date</span> : {{ auth_date }}<br/>
<span>response_code</span> : {{ response_code }}<br/>
{% for message in response_message %}
    <span>response_message</span> : {{ message }}<br/>
{% endfor %}
<span>detail_response_code</span> : {{ detail_response_code }}<br/>
{% for message in detail_response_message %}
    <span>detail_response_message</span> : {{ message }}<br/>
{% endfor %}
</body>