<body>
is explorer's return page</br>

<span>message</span> : {{ message }}<br/>
<span>return_message</span> : {{ return_message }}<br/>
<span>is_success</span> : {{ is_success }}<br/>
<span>service_id</span> : {{ service_id }}<br/>
<span>order_id</span> : {{ order_id }}<br/>
<span>order_date</span> : {{ order_date }}<br/>
<span>transaction_id</span> : {{ transaction_id }}<br/>
<span>auth_amount</span> : {{ auth_amount }}<br/>
<span>auth_date</span> : {{ auth_date }}<br/>
<span>response_code</span> : {{ response_code }}<br/>
<span>response_message</span> : {{ response_message }}<br/>
<span>detail_response_code</span> : {{ detail_response_code }}<br/>
<span>detail_response_message</span> : {{ detail_response_message }}<br/>
</body>