{% extends "mobile_base.html" %}
{% block header %}
{% load static %}
{% load humanize %}
<script src="{% static 'js/imagesloaded.pkgd.min.js'%}"></script>
<script src="{% static "swiper/idangerous.swiper.js" %}"></script>
<script src="{% static "js/set_detail.js" %}"></script>

<link rel="stylesheet" href="{% static 'swiper/idangerous.swiper.css' %}"/>
<link rel="stylesheet" href="{% static 'css/set_detail.css' %}"/>

{% endblock %}
{% block title %}
    <h2 class="ui-title">세트 정보</h2>
{% endblock %}
{% block content %}
<div class="category-box">
    <div class="select-wrapper">
        <div class="select-box-border">
            <select id="mainCategoryList" data-mini="true" data-inline="true" data-shadow="false">
                <option value="#subSetCategory">세트상품</option>
                <option value="#subProductCategory">모든제품</option>
            </select>
        </div>
    </div>
    <div class="select-wrapper">
        <select id="subCategoryList" data-mini="true" data-inline="true" data-shadow="false">
            <option {% if current_category == '18' %} selected="selected" {% endif %} value="18">라이프 스타일</option>
            <option {% if current_category == '19' %} selected="selected" {% endif %}  value="19">계절</option>
            <option {% if current_category == '20' %} selected="selected" {% endif %}  value="20">피부상태</option>
            <option {% if current_category == '21' %} selected="selected" {% endif %}  value="21">프리미엄</option>
        </select>
    </div>
    <div class="clearfix"></div>
</div>
<div class="product-img">
    <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
             <img src="{{ product.small_img_url }}"/>
           </div>

        {% for image in product.images %}
            {% if forloop.first %}
            {% else %}
                <div class="swiper-slide">
                    <img src="{{image}}" />
                </div>
            {% endif %}
        {% endfor %}
        </div>
        <div class="pagination">
        </div>
    </div>
    <div class="product-title">
        {{ set.name }}
        <div class="product-price">
            {{ set.discount_price|intcomma }}원 <span class="item-original-price">{{ set.original_price|intcomma }}원</span> (<span>{{ product.discount_rate }}</span>% 할인)
        </div>
        {% if set.is_interested %}
            <a href="#" class="interest-btn btn-for-interest"  data-type="s" data-product="{{ set.id }}">관심하기</a>
        {% else %}
            <a href="#" class="interest-btn btn-for-interest interest-done"  data-type="s" data-product="{{ set.id }}">관심취소</a>
        {% endif %}
    </div>
</div>
<div>
    <ul class="tab-menu">
        <li>
            <a href="#productInfo" class="tab-btn product-info-btn">상품 정보</a>
        </li>
        <li>
            <a href="#productItems" class="tab-btn product-items-btn selected-product-items-btn">세트 구성</a>
        </li>
        <li>
            <a href="#productRule" class="tab-btn product-rule-btn">상품 정보 고시</a>
        </li>
    </ul>
    <div class="tab-content tab-selected" id="productItems">
        <div class="custom-set-btn-box">
            <a href="{% url 'mobile_customize_set_make' set_id=set.id %}" data-ajax="false"><img src="{% static "img/custom.png" %}"/></a>
        </div>
        {% for product in set.products %}
        <div class="product-item">
            <div class="product-item-img">
                <img src="{{ product.big_img_url }}"/>
            </div>
            <div class="product-item-contents">
                <a href="#" class="view-product-btn" data-product="{{product.id}}">{{ product.name|truncatechars:18 }}</a>
            </div>
            <div class="clearfix"></div>
        </div>
        {% endfor %}
    </div>
    <div class="tab-content" id="productInfo">
        <div class="product-detail-info-wrapper">
            <div class="product-detail-info-header">상품특징</div>
            <div class="product-detail-info">
                {{ set.description }}
            </div>
        </div>
        <div class="product-detail-info-wrapper">
            <div class="product-detail-info-header">사용방법</div>
            <div class="product-detail-info">{{ set.description2 }}</div>
        </div>
    </div>
    <div class="tab-content" id="productRule">
        <table class="product-info-table">
            <tr>
                <td class="item-spec-head">사이즈 및 용량</td>
                <td>{{ set.capacity }}</td>
            </tr>
            <tr>
                <td class="item-spec-head">제품 주요 사양</td>
                <td>{{ set.fit_skin_type }}</td>
            </tr>
            <tr>
                <td class="item-spec-head">사용기한</td>
                <td>{{ set.production_date }}</td>
            </tr>
            <tr>
                <td class="item-spec-head">사용 방법</td>
                <td>{{ set.usage }}</td>
            </tr>
            <tr>
                <td class="item-spec-head">제조자 및 제조판매업자</td>
                <td>{{ set.maker }}</td>
            </tr>
            <tr>
                <td class="item-spec-head">제조국</td>
                <td>{{ set.country }}</td>
            </tr><tr>
                <td class="item-spec-head">주요성분 및 전성분</td>
                <td>{{ set.ingredient }}</td>
            </tr>
            <tr>
                <td class="item-spec-head">식풍의약품안전청 심사필 유무</td>
                <td>{{ set.judge_result }}</td>
            </tr>
            <tr>
                <td class="item-spec-head">사용시 주의사항</td>
                <td>{{ set.precautions }}</td>
            </tr>
            <tr>
                <td class="item-spec-head">품질 보증기준</td>
                <td>{{ set.quality_guarantee_standard }}</td>
            </tr>
            <tr>
                <td class="item-spec-head">소비자 상담관련 전화번호</td>
                <td>02-871-4510</td>
            </tr>
        </table>
    </div>
</div>

<div data-role="popup" id="purchaseDialog" data-overlay-theme="a" data-theme="a" data-dismissible="false" style="width:300px;">
    <div data-role="header" data-theme="a">
    <h1 style="font-size: 18px;">수량 선택</h1>
    </div>
    <div role="main" class="ui-content">
        <div id="purchaseDialogSelect">
            <select data-inline="true" id="howMany" data-shadow="false">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </div>
        <div style="text-align: center;">
            <a href="#" data-product="{{ set.id }}" data-mobile="true" data-type="s" class="gold-btn btn-for-purchase"  style="margin-right:2%;">구매</a><a href="#" class="gold-btn" data-rel="back">닫기</a>
        </div>
    </div>
</div>


<div data-role="popup" id="productDetailDialog" data-overlay-theme="a" data-theme="a" data-dismissible="false" style="width:300px;">
    <div data-role="header" data-theme="a">
    <h5 style="font-size: 14px;" id="popupDetailName"></h5>
    </div>
    <div role="main" class="ui-content">
        <div id="popupDetailImg">
            <img src=""/>
        </div>
        <div id="popupDetailDesc">

        </div>
        <div style="text-align: center;">
            <a href="#" class="gold-btn" id="popupDetailBtn" style="margin-right:2%;">자세히</a><a href="#" class="gold-btn" data-rel="back">닫기</a>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div data-role="footer" data-position="fixed">
    <div class="footer-bar">
        <a href="#purchaseDialog" class="gold-btn" data-rel="popup" data-position-to="window" data-transition="pop" style="margin-right:2%;">구매</a><a href="#" class="gold-btn btn-for-cart" data-type="s" data-product="{{ set.id }}">장바구니</a>
    </div>
</div>

{% endblock %}