{% extends "web_base.html" %}
{% block header %}
{% load static %}
{% load humanize %}
{% load mathfilters %}

<script src="{% static "js/imagesloaded.pkgd.min.js" %}"></script>
<script src="{% static "js/masonry.pkgd.min.js" %}"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="{% static "js/shopping_product_web.js" %}"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>
<link rel="stylesheet" href="{% static "css/shopping_product_web.css" %}" type="text/css" />
{% endblock %}

{% block ad_area %}
<div class="ad-area">
    <!-- Jssor Slider Begin -->
    <!-- You can move inline styles to css file or css block. -->
    <div id="slider1_container" style="position: relative; margin: 0 auto;
        top: 0px; left: 0px; width: 1300px; height: 360px; overflow: hidden;">
        <!-- Slides Container -->
        <div u="slides" style="cursor: move; position: absolute; left: 0px; right: 0px; margin: auto; top: 0px; width: 1300px;
            height: 360px; overflow: hidden;">
            {% for adarea_item in adarea_items %}
                <div>
                    <img u="image" style="width:100%; height:100%;" src="{{ adarea_item.image_url }}" href="{{ adarea_item.link_url }}" />
{#                    <a class="btn btn-stroke-black" href="{{ adarea_item.link_url }}">SHOP COLLECTION</a>#}
                    <a class="btn-stroke-black" href="{% url 'shop_set' category_id=adarea_item.category_id %}" style="position: absolute; height: auto; bottom: 0; left: 50%; margin: 0px 0px 50px -90px;">
                        SHOP COLLECTION
                    </a>
                    <div class="item-title" style="position: absolute; height: auto; bottom: 0; left: 0; right: 0; margin-bottom: 165px; text-align: center;">
                        {{ adarea_item.title }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Bullet Navigator Skin Begin -->
        <style>
            /* jssor slider bullet navigator skin 21 css */
            /*
            .jssorb21 div           (normal)
            .jssorb21 div:hover     (normal mouseover)
            .jssorb21 .av           (active)
            .jssorb21 .av:hover     (active mouseover)
            .jssorb21 .dn           (mousedown)
            */
            .jssorb21 div, .jssorb21 div:hover, .jssorb21 .av
            {
                background: url("{% static 'img/b21.png' %}") no-repeat;
                overflow:hidden;
                cursor: pointer;
            }
            .jssorb21 div { background-position: -5px -5px; }
            .jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
            .jssorb21 .av { background-position: -65px -5px; }
            .jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }
        </style>
        <!-- bullet navigator container -->
        <div u="navigator" class="jssorb21" style="position: absolute; bottom: 15px; left: 6px;">
            <!-- bullet navigator item prototype -->
            <div u="prototype" style="POSITION: absolute; WIDTH: 19px; HEIGHT: 19px; text-align:center; line-height:19px; color:White; font-size:12px;"></div>
        </div>
        <!-- Bullet Navigator Skin End -->

        <!-- Arrow Navigator Skin Begin -->
        <style>
            /* jssor slider arrow navigator skin 21 css */
            /*
            .jssora21l              (normal)
            .jssora21r              (normal)
            .jssora21l:hover        (normal mouseover)
            .jssora21r:hover        (normal mouseover)
            .jssora21ldn            (mousedown)
            .jssora21rdn            (mousedown)
            */
            .jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn
            {
            	position: absolute;
            	cursor: pointer;
            	display: block;
                background: url("{% static 'img/a21.png' %}") center center no-repeat;
                overflow: hidden;
            }
            .jssora21l { background-position: -3px -33px; }
            .jssora21r { background-position: -63px -33px; }
            .jssora21l:hover { background-position: -123px -33px; }
            .jssora21r:hover { background-position: -183px -33px; }
            .jssora21ldn { background-position: -243px -33px; }
            .jssora21rdn { background-position: -303px -33px; }
        </style>
        <!-- Arrow Left -->
        <span u="arrowleft" class="jssora21l" style="width: 55px; height: 55px; top: 123px; left: 8px;">
        </span>
        <!-- Arrow Right -->
        <span u="arrowright" class="jssora21r" style="width: 55px; height: 55px; top: 123px; right: 8px">
        </span>
        <!-- Arrow Navigator Skin End -->
        <a style="display: none" href="http://www.jssor.com">javascript</a>
    </div>
    <!-- Jssor Slider End -->
{#    <div class="ad-area-info">#}
{#        <div class="ad-area-info-title">#}
{#            서퍼들을 위한 세트#}
{#        </div>#}
{#        <div class="ad-area-info-contents">#}
{#            -abcdefekjlefkef#}
{#        </div>#}
{#        <div style="margin-top : 20px;">#}
{#            <a href="#" class="ad-area-btn">View Collection</a>#}
{#        </div>#}
{#    </div>#}
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="main-container float-left">
        <div class="box-css" style="margin-bottom: 50px;">
            <div class="product-category">
                Products >  {{ current_category }}
            </div>
            <div id="productGrid" style="margin-left: 20px; margin-bottom: 20px;">
                {% for product in products.data %}
                <div class="product-item">
                    <div class="product-item-img"  id="item-{{product.id}}" data-attr="{{product.id}}">
                        <div class="product-opacity-bg product-hover-area">
                            <a href="{% url 'product' product_id=product.id %}"><img src="{% static "img/detail_black.png" %}" class="icon"/></a>
                        </div>
                        <img src="{{product.big_img_url}}"/>
                    </div>
                    <div class="product-item-info">
                        <div class="product-item-brand">
                            {{ product.brandname }}
                        </div>
                        <div class="product-item-name">
                            <a href="{% url 'product' product_id=product.id %}" title="{{ product.name }}">{{product.name}}</a>
                        </div>
                        <div class="product-item-info-contents">
                           카테고리 > {{ product.category_name }}<br/>
                           가격 : {{ product.discount_price|intcomma }}원 <br/>
                           용량 : {{ product.capacity }}
                        </div>
                        <div class="product-hover-area">
                            <div class="product-item-desc"><span class="text-deco-through">{{ product.original_price|intcomma }}원</span> -> <span>{{ product.discount_price|intcomma }}원</span></div>
                            <div class="product-item-btn-group">
                                {% if product.is_interested %}
                                    <div class="product-item-btn"><img src="{% static "img/interested.png" %}"/> <a href="#" data-type="p" data-product="{{ product.id }}" class="btn-for-interest interest-done">관심취소</a>&nbsp;&nbsp;</div>
                                {% else %}
                                    <div class="product-item-btn"><img src="{% static "img/interested.png" %}"/> <a href="#" data-type="p" data-product="{{ product.id }}" class="btn-for-interest">관심하기</a>&nbsp;&nbsp;</div>
                                {% endif %}
                                <div class="product-item-btn">&nbsp;&nbsp;<img src="{% static "img/Add_to_basket_black.png" %}"/><a href="#" data-type='p' data-product="{{ product.id }}" class="btn-for-cart"> 장바구니</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
        <div class="paging-area">
            <ul class="tsc_pagination tsc_paginationC tsc_paginationC09">
              {% if not products.page_hasPrev %}
                  <li><a href="#" class="previous disabled" onClick="javascript:return false;">Prev</a></li>
              {% else %}
                  <li><a href="{% url 'shop_product' page_num=products.page_left_count|sub:1 %}" class="previous">Prev</a></li>
              {% endif %}
              {% for pageNum in products.page_range %}
                 {% if request.GET.brandname != null %}
                     {% if current_category_id != null %}
                        <li><a href="{% url 'shop_product' page_num=pageNum category_id=current_category_id%}?brandname={{ request.GET.brandname }}" {% if pageNum == products.page_num %} class="current" {% endif %}>{{ pageNum  }}</a></li>
                     {% else %}
                        <li><a href="{% url 'shop_product' page_num=pageNum%}?brandname={{ request.GET.brandname }}" {% if pageNum == products.page_num %} class="current" {% endif %}>{{ pageNum  }}</a></li>
                     {% endif %}
                 {% else %}
                     {% if current_category_id != null %}
                        <li><a href="{% url 'shop_product' page_num=pageNum category_id=current_category_id%}" {% if pageNum == products.page_num %} class="current" {% endif %}>{{ pageNum  }}</a></li>
                     {% else %}
                        <li><a href="{% url 'shop_product' page_num=pageNum%}" {% if pageNum == products.page_num %} class="current" {% endif %}>{{ pageNum  }}</a></li>
                     {% endif %}
                 {% endif %}
              {% endfor %}
              {% if not products.page_hasNext  %}
                <li><a href="#" class="next disabled" onClick="javascript:return false;">Next</a></li>
              {% else %}
                <li><a href="{% url 'shop_product' page_num=products.page_right_count|add:1 %}" class="next">Next</a></li>
              {% endif %}
            </ul>
        </div>
    </div>
    <div class="nav-container float-left">
        <div class="box-css">
            <div class="filter-area">
                <div class="product-category">
                    가격
                </div>
                <div class="filter-area-contents">
                    <div class="price-ranger">
                        <div id="priceRange"></div>
                    </div>
                    <div class="price-filter">
                        가격 : <span id="sPrice"></span>원 - <span id="fPrice"></span>원
                        <a href="#" class="basic-btn filter-btn">filter</a>
                    </div>
                </div>
            </div>
            <div class="filter-area">
                <div class="product-category">
                    브랜드
                </div>
                <div class="filter-area-contents">
                    {% for brand in brands %}
                        <span class="brand-title"><a href="{% url 'shop_product' %}?brandname={{brand.id}}" {% if brand.id == request.GET.brandname|add:0 %} class="filter-selected" {% endif %}>{{ brand.name  }}</a></span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}