{% extends "mobile_base.html" %}
{% block header %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
<link rel="stylesheet" href="{% static 'css/shopping_product.css'%}"/>

<script src="{% static 'js/imagesloaded.pkgd.min.js'%}"></script>
<script src="{% static 'js/masonry.pkgd.min.js'%}"></script>
<script src="{% static 'js/shopping_product.js'%}"></script>
{% endblock %}

{% block title %}
        <div style="text-align:center; height:100%; margin-top:4px">
            <a href="{% url 'mobile:mobile_index' %}" target="_self">
                <img src="{% static "img/LOGO_black.png" %}" class="main-logo-img">
            </a>
        </div>
{#    <h2 class="ui-title">Products</h2>#}
{% endblock %}

{% block content %}
<div class="main-header-area">
    <div class="slider">
        <div class="slider__wrapper">
        {% for adarea_item in adarea_items %}
            <div class="slider__item">
                <img src="{{ adarea_item.image_url }}" />
                <div class="shop-collection-wrapper">
                    <a class="btn-shop-collection btn-stroke-black" target="_self" href="{% url 'mobile_shop_set' category_id=adarea_item.category_id %}" >SHOP COLLECTION</a>
                </div>
                <div class="item-title">
                    {{ adarea_item.title }}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
<div class="category-box">
    <div class="select-wrapper">
      <div class="select-box-border">
        <select id="mainCategoryList" data-mini="true" data-inline="true" data-shadow="false">
            <option value="#subProductCategory">Products</option>
            <option value="#subSetCategory">Collection</option>
        </select>
      </div>
    </div>
    <div class="select-wrapper">
        <select id="subCategoryList" class="sub-category-list show-sub-category" data-mini="true" data-inline="true" data-shadow="false">
            <option {% if current_category_id == '1' %} selected="selected" {% endif %} value="1">스킨</option>
            <option {% if current_category_id == '2' %} selected="selected" {% endif %} value="2">로션</option>
            <option {% if current_category_id == '5' %} selected="selected" {% endif %} value="5">에센스</option>
            <option {% if current_category_id == '4' %} selected="selected" {% endif %} value="4">비비크림, 선크림</option>
            <option {% if current_category_id == '14' %} selected="selected" {% endif %} value="14">수분크림, 아이크림</option>
            <option {% if current_category_id == '23' %} selected="selected" {% endif %} value="23">마스크/팩</option>
            <option {% if current_category_id == '3' %} selected="selected" {% endif %} value="3">클렌징/스크럽</option>
            <option {% if current_category_id == '33' %} selected="selected" {% endif %} value="33">립밤</option>
            <option {% if current_category_id == '24' %} selected="selected" {% endif %} value="24">바디</option>
            <option {% if current_category_id == '22' %} selected="selected" {% endif %} value="22">헤어</option>
            <option {% if current_category_id == '25' %} selected="selected" {% endif %} value="25">향수</option>
            <option {% if current_category_id == '26' %} selected="selected" {% endif %} value="26">기타</option>
        </select>

    </div>
    <div class="clearfix"></div>
</div>
<div id="productGrid">
    {% for product in products.data %}
    <div class="product-item" >

           <div class="item-image">
               <a href="{% url 'mobile_product' product_id=product.id %}" style="line-height:0;display:block;" data-ajax="false">
               <img src="{{product.big_img_url}}" style="max-width:100%; max-height:100%; width:auto; height:auto;" />
               </a>
           </div>
           <div class="item-title" >
               <a href="{% url 'mobile_product' product_id=product.id %}"  data-ajax="false" title="{{ product.name }}">[{{ product.brandname }}] {{product.name}}</a>
               <div class="item-price">
                   {{product.discount_price|intcomma}}원 <span class="item-original-price">{{product.original_price|intcomma}}원</span> <span class="discount-rate">{{ product.discount_rate }}%</span>
               </div>
           </div>
           <div class="interest-btn">
               {% if product.is_interested %}
                   <a href="#" class=" btn-for-interest interest-done"  data-type="p" data-product="{{ product.id }}">관심취소</a>
               {% else %}
                   <a href="#" class=" btn-for-interest"  data-type="p" data-product="{{ product.id }}">관심하기</a>
               {% endif %}
           </div>
    </div>
    {% endfor %}
</div>
<div class="paging-area">
    <ul class="pagination">
      {% if not products.page_hasPrev %}
          <li class="disabled"><a href="#" data-ajax="false" class="previous" onClick="javascript:return false;">Prev</a></li>
      {% else %}
          {% if current_category_id != null %}
            <li><a  data-ajax="false" href="{% url 'mobile_shop_product' page_num=products.page_left_count|sub:1 category_id=current_category_id%}" class="previous">Prev</a></li>
          {% else %}
            <li><a  data-ajax="false" href="{% url 'mobile_shop_product' page_num=products.page_left_count|sub:1 %}" class="previous">Prev</a></li>
          {% endif %}
      {% endif %}

      {% for pageNum in products.page_range %}

         {% if current_category_id != null %}
            <li {% if pageNum == products.page_num %} class="active" {% endif %}><a href="{% url 'mobile_shop_product' page_num=pageNum category_id=current_category_id%}" data-ajax="false">{{ pageNum  }}</a></li>
         {% else %}
            <li {% if pageNum == products.page_num %} class="active" {% endif %}><a href="{% url 'mobile_shop_product' page_num=pageNum%}" data-ajax="false">{{ pageNum  }}</a></li>
         {% endif %}
      {% endfor %}
      {% if not products.page_hasNext  %}
        <li class="disabled"><a data-ajax="false"  href="#" class="next" onClick="javascript:return false;">Next</a></li>
      {% else %}
          {% if current_category_id != null %}
            <li><a data-ajax="false"  href="{% url 'mobile_shop_product' page_num=products.page_right_count|add:1 category_id=current_category_id %}" class="next">Next</a></li>
          {% else %}
            <li><a data-ajax="false"  href="{% url 'mobile_shop_product' page_num=products.page_right_count|add:1%}" class="next">Next</a></li>
          {% endif %}
      {% endif %}

    </ul>
</div>
{% endblock %}