{% extends "mobile_base.html" %}
{% block header %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
<link rel="stylesheet" href="{% static 'css/shopping_product.css'%}"/>

<script src="{% static 'js/imagesloaded.pkgd.min.js'%}"></script>
<script src="{% static 'js/masonry.pkgd.min.js'%}"></script>
<script src="{% static 'js/shopping_product.js'%}"></script>
{% endblock %}

{% block title %}
    <h2 class="ui-title">단일제품</h2>
{% endblock %}

{% block content %}
<div class="main-header-img">
    <img src="{% static "img/black.jpg" %}"/>
</div>
<div class="category-box">
    <div class="select-wrapper">
      <div class="select-box-border">
        <select id="mainCategoryList" data-mini="true" data-inline="true" data-shadow="false">
            <option value="#subProductCategory">모든제품</option>
            <option value="#subSetCategory">세트상품</option>
        </select>
      </div>
    </div>
    <div class="select-wrapper">

        <select id="subCategoryList" class="sub-category-list show-sub-category" data-mini="true" data-inline="true" data-shadow="false">
            <option  {% if current_category == 1 %} selected="selected" {% endif %}  value="1">스킨</option>
            <option  {% if current_category == 2 %} selected="selected" {% endif %} value="2">로션</option>
            <option  {% if current_category == 4 %} selected="selected" {% endif %} value="4">선크림, BB크림</option>
            <option  {% if current_category == 5 %} selected="selected" {% endif %} value="5">에센스</option>
            <option  {% if current_category == 12 %} selected="selected" {% endif %} value="12">모이스춰라이저</option>
            <option  {% if current_category == 14 %} selected="selected" {% endif %} value="14">수분크림, 아이크림</option>
            <option  {% if current_category == 16 %} selected="selected" {% endif %} value="16">스페셜케어</option>
            <option  {% if current_category == 3 %} selected="selected" {% endif %} value="3">클렌징, 스크럽</option>
            <option  {% if current_category == 17 %} selected="selected" {% endif %} value="17">메이크업</option>
        </select>

    </div>
    <div class="clearfix"></div>
</div>
<div id="productGrid">
    {% for product in products.data %}
    <div class="product-item" >

           <div class="item-image">
               <a href="{% url 'mobile_product' product_id=product.id %}" style="line-height:0;display:block;" data-ajax="false"><img src="{{product.big_img_url}}"/></a>
           </div>
           <div class="item-title" >
               <a href="{% url 'mobile_product' product_id=product.id %}"  data-ajax="false" title="{{ product.name }}">[{{ product.brandname }}] {{product.name}}</a>
               <div class="item-price">
                   {{product.discount_price|intcomma}}원 <span class="item-original-price">{{product.original_price|intcomma}}원</span> <span class="discount-rate">{{ product.discount_rate }}</span>
               </div>
           </div>
           <div class="interest-btn">
               {% if product.is_interested %}
                   <a href="#" class=" btn-for-interest interest-done"  data-type="p" data-product="{{ product.id }}">관심취소</a>
               {% else %}
                   <a href="#" class=" btn-for-interest"  data-type="p" data-product="{{ product.id }}">관심하기</a>
               {% endif %}
           </div>
    </div>
    {% endfor %}
</div>
<div class="paging-area">
    <ul class="pagination">
      {% if not products.page_hasPrev %}
          <li class="disabled"><a href="#" data-ajax="false" class="previous" onClick="javascript:return false;">Prev</a></li>
      {% else %}
          <li><a  data-ajax="false" href="{% url 'mobile_shop_product' page_num=products.page_left_count|sub:1 %}" class="previous">Prev</a></li>
      {% endif %}

      {% for pageNum in products.page_range %}
        <li {% if pageNum == products.page_num %} class="active" {% endif %}><a  data-ajax="false"  href="{% url 'mobile_shop_product' page_num=pageNum %}" >{{ pageNum  }}</a></li>
      {% endfor %}
      {% if not products.page_hasNext  %}
        <li class="disabled"><a data-ajax="false"  href="#" class="next" onClick="javascript:return false;">Next</a></li>
      {% else %}
        <li><a data-ajax="false"  href="{% url 'mobile_shop_product' page_num=products.page_right_count|add:1 %}" class="next">Next</a></li>
      {% endif %}

    </ul>
</div>
{% endblock %}