{% extends "mobile_base.html" %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/common_style.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/shopping_product.css') }}"/>

<script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/shopping_product.js') }}"></script>
{% endblock %}

{% block title %}
    <h2 class="ui-title">쇼핑</h2>
{% endblock %}

{% block content %}
<div data-role="controlgroup" data-type="horizontal">
    <select id="categoryList">
        <option value="#">카테고리 선택</option>
        <option value="all">모두 보기</option>
        {% for category in categories %}
           <option value="{{ category.key }}">{{ category.name }}</option>
        {% endfor %}
    </select>
</div>
<div id="productGrid">
    {% for product in products.data %}
    <div class="product-item" id="item-{{ product.key }}" data-attr="{{ product.key }}">
        <div class="product-img">
            <a href="/product/{{ product.key }}" data-ajax="false"><img src="{{ product.big_img_url}}" alt="" /></a>
        </div>
        <div class="product-contents">
            <div class="product-info">
                [{{ product.brandname }}]<br/>
                {% if (product.name|length) > 16 %}
                    <a href="{{ url_for('productMobile',product_key = product.key) }}" data-ajax="false">{{product.name[:16] }}..</a>
                {% else %}
                    <a href="{{ url_for('productMobile', product_key=product.key) }}"  data-ajax="false">{{product.name  }}</a>
                {% endif %}

                <div class="product-price-box">
                    Price : <b>￦{{ product.discount_price }} ({{product.capacity}})</b><br/>
                    Category : <b>{{ product.category.name}}</b>
                </div>
            </div>
        </div>
        <div class="product-bottom-menu">
            <ul class="menu-links clearfix">
            {% if product.isInterested  %}
                <li class=""><a href="#" data-product="{{ product.key }}" class="btn-for-interest btn-motion9-disable">관심</a></li>
            {%  else  %}
                <li class=""><a href="#" data-product="{{ product.key }}" class="btn-for-interest">관심</a></li>
            {% endif %}
                <li class=""><a href="#" class="btn-for-cart" data-product="{{ product.key }}">장바구니</a></li>
            </ul>
        </div>
    </div>

    {% endfor %}

</div>
<div class="paging-area">
    <ul class="pagination">
      <li {% if not products.page_hasPrev  %} class="disabled" {% endif %}><a href="#">&laquo;</a></li>
      {% for pageNum in range(products.page_left_count, products.page_right_count+1 )%}
          {% if current_category != None %}
            <li><a href="{{ url_for('mshoppingProduct', pageNum = pageNum, category_key = current_category) }}" data-ajax="false">{{ pageNum  }}</a></li>
          {% else %}
             <li><a href="{{ url_for('mshoppingProduct', pageNum = pageNum) }}"  data-ajax="false">{{ pageNum  }}</a></li>
          {% endif %}
      {% endfor %}
      <li {% if not products.page_hasNext  %} class="disabled" {% endif %}><a href="#">&raquo;</a></li>
    </ul>
</div>
{% endblock %}