{% extends "mobile_base.html" %}
{% block header %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
<link rel="stylesheet" href="{% static 'css/shopping_set.css'%}"/>
<script src="{% static 'js/shopping_set.js'%}"></script>
{% endblock %}

{% block title %}
    <h2 class="ui-title">세트상품</h2>
{% endblock %}

{% block content %}
<div class="main-header-img">
    <img src="{% static "img/black.jpg" %}"/>
</div>
<div class="category-box">
    <div class="select-wrapper">
      <div class="select-box-border">
        <select id="mainCategoryList" data-mini="true" data-inline="true" data-shadow="false">
            <option value="#subSetCategory">세트상품</option>
            <option value="#subProductCategory">모든제품</option>
        </select>
      </div>
    </div>
    <div class="select-wrapper">
        <select id="subCategoryList" data-mini="true" data-inline="true" data-shadow="false">
            <option {% if current_category == 18 %} selected="selected" {% endif %} value="18">라이프 스타일</option>
            <option {% if current_category == 19 %} selected="selected" {% endif %}  value="19">계절</option>
            <option {% if current_category == 20 %} selected="selected" {% endif %}  value="20">피부상태</option>
            <option {% if current_category == 21 %} selected="selected" {% endif %}  value="21">프리미엄</option>
        </select>
    </div>
    <div class="clearfix"></div>
</div>
<div id="productGrid">
    {% for set in sets.data %}
    <div class="product-item">
        <div class="item-image">
            <img src="{{ set.big_img_url }}"/>
            <div class="product-title">
                <a href="{% url 'mobile_set' set_id=set.id %}" data-ajax="false">자세히 보기</a>
            </div>
        </div>
        <div>
            <div class="item-contents-left">
                <div style="margin-bottom: 16px;">
                    <div>
                        <img src="{% static "img/sim_detail.png" %}"/>
                    </div>
                    <div>
                        {{ set.description }}
                    </div/>
                </div>
                <div>
                    <div>
                        <img src="{% static "img/set_comp.png" %}"/>
                    </div>
                    <div>
                        에센스, 비비크림, 로션, 스
                    </div/>
                </div>
            </div>
            <div class="item-contents-right">
                <div class="item-price">
                    {{ set.discount_price|intcomma }}원
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="interest-btn">
           {% if set.is_interested %}
               <a href="#" class="btn-for-interest interest-done"  data-type="s" data-product="{{ set.id }}">관심취소</a>
           {% else %}
               <a href="#" class="btn-for-interest"  data-type="s" data-product="{{ set.id }}">관심하기</a>
           {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<div class="paging-area">
    <ul class="pagination">
      {% if not sets.page_hasPrev %}
          <li class="disabled"><a href="#" data-ajax="false" class="previous" onClick="javascript:return false;">Prev</a></li>
      {% else %}
          <li><a  data-ajax="false" href="{% url 'mobile_shop_set' page_num=sets.page_left_count|sub:1 %}" class="previous">Prev</a></li>
      {% endif %}

      {% for pageNum in sets.page_range %}
        <li {% if pageNum == sets.page_num %} class="active" {% endif %}><a  data-ajax="false"  href="{% url 'mobile_shop_set' page_num=pageNum %}" >{{ pageNum  }}</a></li>
      {% endfor %}
      {% if not sets.page_hasNext  %}
        <li class="disabled"><a data-ajax="false"  href="#" class="next" onClick="javascript:return false;">Next</a></li>
      {% else %}
        <li><a data-ajax="false"  href="{% url 'mobile_shop_set' page_num=sets.page_right_count|add:1 %}" class="next">Next</a></li>
      {% endif %}
    </ul>
</div>
{% endblock %}