{% extends "web_base.html" %}
{% block header %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
<link rel="stylesheet" href="{% static 'css/shopping_set_web.css'%}"/>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="{% static 'js/shopping_set_web.js'%}"></script>
{% endblock %}

{% block ad_area %}
<div class="ad-area">
    <div class="ad-area-info">
        <div class="ad-area-info-title">
            서퍼들을 위한 세트
        </div>
        <div class="ad-area-info-contents">
            -abcdefekjlefkef
        </div>
        <div style="margin-top : 20px;">
            <a href="#" class="ad-area-btn">View Collection</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="main-container float-left">
        <div class="box-css">
            <div class="set-category">
                Collection > {{ current_category }}
            </div>
            {% for set in custom_sets %}
            <div class="set-item" style="background: url('{{ set.big_img }}') top left no-repeat;">
                <div class="set-item-info">
                    <div class="set-item-info-title">
                        간략설명
                    </div>
                    <div class="set-item-info-contents">
                        {{ set.description }}
                    </div>
                    <div class="set-item-info-title">
                        세트구성
                    </div>
                    <div class="set-item-info-contents">
                        BB크림, 스킨, 로션, 에센스, 발모제, 탈모제, 썬크림
                    </div>
                    <div class="set-item-info-bottom">
                        {{ set.discount_price|intcomma }}원 &nbsp;&nbsp;<a href="{% url "customize_set_detail" set_id=set.id %}" class="basic-btn">자세히 보기</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="paging-area">
            <ul class="tsc_pagination tsc_paginationC tsc_paginationC09">
              {% if not custom_sets.page_hasPrev %}
                  <li><a href="#" class="previous disabled" onClick="javascript:return false;">Prev</a></li>
              {% else %}
                  <li><a href="{% url 'shop_custom_set' page_num=custom_sets.page_left_count|sub:1 %}" class="previous">Prev</a></li>
              {% endif %}

              {% for pageNum in custom_sets.page_range %}
                 {% if current_category_id != null %}
                    <li><a href="{% url 'shop_custom_set' page_num=pageNum category_id=current_category_id%}" {% if pageNum == custom_sets.page_num %} class="current" {% endif %}>{{ pageNum  }}</a></li>
                 {% else %}
                    <li><a href="{% url 'shop_custom_set' page_num=pageNum%}" {% if pageNum == custom_sets.page_num %} class="current" {% endif %}>{{ pageNum  }}</a></li>
                 {% endif %}
              {% endfor %}
              {% if not custom_sets.page_hasNext  %}
                <li><a href="#" class="next disabled" onClick="javascript:return false;">Next</a></li>
              {% else %}
                <li><a href="{% url 'shop_custom_set' page_num=custom_sets.page_right_count|add:1 %}" class="next">Next</a></li>
              {% endif %}
            </ul>
        </div>
    </div>
    <div class="nav-container float-left">
        <div class="box-css">
            <div class="filter-area">
                <div class="set-item-info-title">
                    Filter by 가격
                </div>
                <div class="filter-area-contents">
                    <div class="price-ranger">
                        <div id="priceRange"></div>
                    </div>
                    <div class="price-filter">
                        가격 : <span id="sPrice"></span>원 - <span id="fPrice"></span>원 &nbsp;
                        <a href="#" class="basic-btn filter-btn">filter</a>
                    </div>
                </div>
            </div>
            <div class="filter-area">
                <div class="set-item-info-title">
                    Filter by 태그
                </div>
                <div class="filter-area-contents">
                    <ul>
                        <li><a href="#" class="filter-selected">검은 피부</a></li>
                        <li><a href="#">노화 방지</a></li>
                        <li><a href="#">프리미엄</a></li>
                        <li><a href="#">잦은 자외선 노출</a></li>
                    </ul>
                </div>
            </div>
            <div class="filter-area">
                <div class="set-item-info-title">
                    Filter by 컬렉션
                </div>
                <div class="filter-area-contents">
                    <ul>
                        <li><a href="{% url 'shop_set' category_id=18 %}" {% if current_category_id|add:0 == 18 %}class="filter-selected" {% endif %}>쿨가이 컬렉션</a></li>
                        <li><a href="{% url 'shop_set' category_id=30 %}" {% if current_category_id|add:0 == 30 %}class="filter-selected" {% endif %}>꽃중년 컬렉션</a></li>
                        <li><a href="{% url 'shop_set' category_id=27 %}" {% if current_category_id|add:0 == 27 %}class="filter-selected" {% endif %}>스포츠 컬렉션</a></li>
                        <li><a href="{% url 'shop_set' category_id=28 %}" {% if current_category_id|add:0 == 28 %}class="filter-selected" {% endif %}>비즈니스맨 컬렉션</a></li>
                        <li><a href="{% url 'shop_set' category_id=31 %}" {% if current_category_id|add:0 == 31 %}class="filter-selected" {% endif %}>계절 컬렉션</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}