{% extends "mobile_base.html" %}
{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/common_style.css'%}"/>
<link rel="stylesheet" href="{% static 'css/shopping_set.css'%}"/>
<script src="{% static 'js/shopping_set.js'%}"></script>
{% endblock %}

{% block title %}
    <h2 class="ui-title">세트상품</h2>
{% endblock %}

{% block content %}
<div class="main-header-img">
    <img src="{% static "img/black.jpg" %}"/>
</div>
<div class="category-box">
    <div class="select-wrapper">
      <div class="select-box-border">
        <select id="mainCategoryList" data-mini="true" data-inline="true" data-shadow="false">
            <option value="#">세제품</option>
            <option value="#">단일상품</option>
        </select>
      </div>
    </div>
    <div class="select-wrapper">
        <select id="subCategoryList" data-mini="true" data-inline="true" data-shadow="false">
            <option value="#">피부가 꺼먼새끼</option>
            <option value="#">운동 많이 하는 새끼</option>
            <option value="#">그냥 피부 더러운 새끼</option>
            <option value="#">못생긴 새끼</option>
        </select>
    </div>
    <div class="clearfix"></div>
</div>
<div id="productGrid">
    <div class="product-item">
        <div class="item-image">
            <img src="{% static "img/surfer.jpg" %}"/>
            <div class="product-title">
                <a href="#">자세히 보기</a>
            </div>
        </div>
        <div>
            <div class="item-contents-left">
                <div style="margin-bottom: 16px;">
                    <div>
                        <img src="{% static "img/sim_detail.png" %}"/>
                    </div>
                    <div>
                        어쩌구 저쩌고 설명
                    </div/>
                </div>
                <div>
                    <div>
                        <img src="{% static "img/set_comp.png" %}"/>
                    </div>
                    <div>
                        에센스, 비비크림, 로션, 스
                    </div/>
                </div>
            </div>
            <div class="item-contents-right">
                <div class="item-price">
                    90,000원
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <a href="#" class="interest-btn">&nbsp;</a>
    </div>
    <div class="product-item">
        <div class="item-image">
            <img src="{% static "img/surfer.jpg" %}"/>
            <div class="product-title">
                <a href="#">자세히 보기</a>
            </div>
        </div>
        <div>
            <div class="item-contents-left">
                <div style="margin-bottom: 16px;">
                    <div>
                        <img src="{% static "img/sim_detail.png" %}"/>
                    </div>
                    <div>
                        어쩌구 저쩌고 설명
                    </div/>
                </div>
                <div>
                    <div>
                        <img src="{% static "img/set_comp.png" %}"/>
                    </div>
                    <div>
                        에센스, 비비크림, 로션, 스
                    </div/>
                </div>
            </div>
            <div class="item-contents-right">
                <div class="item-price">
                    90,000원
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <a href="#" class="interest-btn">&nbsp;</a>
    </div>
</div>
<div class="paging-area">
    <ul class="pagination">
      <li {% if not products.page_hasPrev  %} class="disabled" {% endif %}><a href="#">&laquo;</a></li>
      {% for pageNum in pageList%}
          {% if current_category != None %}
            <li><a href="#" data-ajax="false">{{ pageNum  }}</a></li>
          {% else %}
             <li><a href="#"  data-ajax="false">{{ pageNum  }}</a></li>
          {% endif %}
      {% endfor %}
      <li {% if not products.page_hasNext  %} class="disabled" {% endif %}><a href="#">&raquo;</a></li>
    </ul>
</div>
{% endblock %}