<!DOCTYPE html>
<html>
<head>
    <title>Motion9</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    {% load static %}

    <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/common_style_web.css" %}"/>
    <link rel="stylesheet" href="{% static "jqmodal/jqModal.css"%}"/>
    <link rel="stylesheet" href="{% static "css/login_web.css" %}"/>
    <link rel="stylesheet" href="{% static "css/tsc_pagination.css" %}"/>
    <style>
        body {
            min-width: 970px;
        }
    </style>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="{% static 'js/jssor.slider.mini.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>

{#    <script src="{% static 'js/jssor.core.js' %}"></script>#}
{#    <script src="{% static 'js/jssor.slider.js' %}"></script>#}
{#    <script src="{% static 'js/jssor.utils.js' %}"></script>#}
    <script src="{% static 'js/common_js.js' %}"></script>
    <script src="{% static 'js/common_js_web.js' %}"></script>
    <script src="{% static 'js/uservoice.js' %}"></script>
    <script src="{% static 'jqmodal/jqModal.js' %}"></script>
    <script src="{% static 'js/login_web.js' %}"></script>

    <script>

    var url_for_login_next = "{% url 'login_page' %}?next={{ request.get_full_path }}";

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53577084-1', 'auto');
      ga('require', 'displayfeatures');
      {% if user.is_authenticated %}
      ga('set', '&uid', '{{ user.email }}');
      {% endif %}
      ga('send', 'pageview');

    </script>
    {% block header %}
    {% endblock %}
</head>
<body id="top">
<div id="nav-top-btn">
    <a href="#top">TOP 으로</a>
</div>
<div id="header">
    <div id="header-wrapper">
        <div id="brand">
            <a href="{% url 'index' %}"><img style="display:block; max-width:100%;height:100%;" src="{% static 'img/logo.png' %}"/></a>
        </div>

        <div id="header-main-menu">
            <ul id="header-main-menu-list">

                {% if current_page and current_page == 'shop_product' %}
                    <li><a href="#" data-attr="menuCollection">Collection</a></li>
                    <li><a href="#" class="selected" data-attr="menuProduct">Products</a></li>
                {% elif current_page and current_page == 'shop_set' %}
                    <li><a href="#" class="selected" data-attr="menuCollection">Collection</a></li>
                    <li><a href="#" data-attr="menuProduct">Products</a></li>
                {% else %}
                    <li><a href="#" data-attr="menuCollection">Collection</a></li>
                    <li><a href="#" data-attr="menuProduct">Products</a></li>
                {% endif %}
                <li><a href="{%  url 'customize_set' %}" data-directly="true">My Collection</a></li>

                <li><a href="#" data-attr="menuHelp">Help</a></li>
                <li class="clearfix"></li>
            </ul>
            <ul id="header-right-menu-list">
                <!--
                <li><span><input type="text" class="header-search rounded" placeholder="Search.."></span></li>
                -->
                <li><a href="{% url 'mypage' %}">My Page</a></li>
                <li><a href="{% url 'mypage_cart' %}">Cart</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout'%}" class="">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login_page' %}">Login</a></li>
                    <li><a href="{% url 'registration_page' %}">회원가입</a></li>
                {% endif %}
                <li><a href="#" id="headerSearchBtn" data-attr="menuSearch">검색</a></li>

                <li class="clearfix"></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="header-sub-menu-wrapper">
        <div id="menuBest" class="header-sub-menu">
            <a href="#">전체</a><span class="header-sub-menu-divider">/</span>
            <a href="#">세트</a><span class="header-sub-menu-divider">/</span>
            <a href="#">단일제품</a>
        </div>
        <div id="menuCollection" class="header-sub-menu">
            <a href="{% url 'shop_set' %}">전체</a><span class="header-sub-menu-divider">/</span>
            <a href="{% url 'shop_set' category_id=18 %}">쿨가이 컬렉션</a><span class="header-sub-menu-divider">/</span>
            <a href="{% url 'shop_set' category_id=30 %}">꽃중년 컬렉션</a><span class="header-sub-menu-divider">/</span>
            <a href="{% url 'shop_set' category_id=27 %}">스포츠 컬렉션</a><span class="header-sub-menu-divider">/</span>
            <a href="{% url 'shop_set' category_id=28 %}">비즈니스맨 컬렉션</a><span class="header-sub-menu-divider">/</span>
            <a href="{% url 'shop_set' category_id=31 %}">계절 컬렉션</a>
        </div>
        <div id="menuProduct" class="header-sub-menu">
            <a href="{% url 'shop_product' %}">전체</a><span class="header-sub-menu-divider">/</span>
            <a href="{% url 'shop_product' category_id=1 %}">스킨</a><span class="header-sub-menu-divider">/</span>
            <a href="{% url 'shop_product' category_id=2 %}">로션</a><span class="header-sub-menu-divider">/</span>
            <a href="{% url 'shop_product' category_id=5 %}">에센스</a><span class="header-sub-menu-divider">/</span>
            <a href="{% url 'shop_product' category_id=4 %}">비비크림, 선크림</a><span class="header-sub-menu-divider">/</span>
            <a href="{% url 'shop_product' category_id=14 %}">수분크림, 아이크림</a><span class="header-sub-menu-divider">/</span>
            <a href="{% url 'shop_product' category_id=23 %}">마스크/팩</a><span class="header-sub-menu-divider">/</span>
            <a href="{% url 'shop_product' category_id=3 %}">클렌징/스크럽</a><span class="header-sub-menu-divider">/</span>
            <a href="{% url 'shop_product' category_id=33 %}">립밤</a><span class="header-sub-menu-divider">/</span>
            <a href="{% url 'shop_product' category_id=24 %}">바디</a><span class="header-sub-menu-divider">/</span>
            <a href="{% url 'shop_product' category_id=22 %}">헤어</a><span class="header-sub-menu-divider">/</span>
            <a href="{% url 'shop_product' category_id=25 %}">향수</a><span class="header-sub-menu-divider">/</span>
            <a href="{% url 'shop_product' category_id=26 %}">기타</a>
        </div>
        <div id="menuHelp" class="header-sub-menu">
            <a href="javascript:$('#uvTabLabel')[0].click();">고객센터</a><span class="header-sub-menu-divider">/</span>
            <a href="{% url 'help_faq' %}">FAQ</a><span class="header-sub-menu-divider">/</span>
            <a href="javascript:$('#uvTabLabel')[0].click();">온라인 문의</a>
        </div>
        <div id="headerSearch" class="header-sub-menu">
            <span><b>인기 검색어 : &nbsp;</b></span>
            <a href="#">미샤</a><span class="header-sub-menu-divider">/</span>
            <a href="#">꽃을든 남자</a><span class="header-sub-menu-divider">/</span>
            <a href="#">헤라옴므</a>
            <span><input type="text" class="header-search" placeholder="Search.."><a href="#" class="gold-btn menu-search-btn">검색</a></span>
        </div>
    </div>
</div>

<div style="height:61px"></div>

{% block ad_area %}
{% endblock %}

<div class="container">

    {% block content %}
    {% endblock %}
    <p/>
    <div class="clearfix"></div>
</div>
<div class="footer-div">
    <div class="footer-contents">
        (주) 아스델 | 대표이사 : 한도건 | 사업자 등록번호 : 119-86-58979<br/>
        통신판매업신고 : 2013-서울관악-0392 | 개인정보관리책임자 : parkjuram@naver.com<br/>
        서울시 관악구 관악로1 서울대학교 35동 214-7호 | Tel : 02-554-4511 <br/>
        © Arsdale Co.,Ltd. All rights reserved.<br/>
        <a target="_blank" href="{% url 'mobile_agreement_of_utilization' %}">이용약관</a>
        <a target="_blank" href="{% url 'mobile_privacy' %}">개인정보취급방침</a>
    </div>
</div>

<div id="loginBox" class="login-box">
    <form id="facebookLoginForm" method="post" action="{% url 'check_facebook_token' next='index' %}">
        <input type="hidden" id="fbEmail" name="email"/>
        <input type="hidden" id="fbToken" name="token"/>
    </form>
    <div class="login-box-header">
        Login
    </div>
    <form method="post" data-form="login-popup-form" action="{% url 'login' %}" >
        <div class="form-box">
            <label for="email">이메일</label>
            <input type="text" name="email" id="email"/>
        </div>
        <div class="form-box">
            <label for="password">비밀번호</label>
            <input type="password" name="password" id="password"/>
        </div>
        <div class="form-btns">
            <a href="#" class="basic-btn login-submit-btn" data-form="login-popup-form" style="padding : 8px 40px;">Login</a> &nbsp;&nbsp;&nbsp;
            <a href="#" class="fb-login-btn facebook-btn">Facebook Login</a>
        </div>
    </form>
</div>
</body>
</html>
