
.origin-product-img img{
    width : 268px;
}

.product-info{
    font-size: 14px;
    padding : 8px;
    background-color: #ffffff;
}

.available-product{
    position: relative;
    min-width : 618px;
}

.available-product .product-img{
    width : 165px;
    float : left;
}

.available-product .product-img img{
    width : 165px;
    height :165px;
}

.available-product .product-info{
    width : 445px;
    float : left;
}





.available-product-hover-menu{
    display : none;
    width : 100px;
    position: absolute;
    top : 30px;
    right : 20px;
    background-color: transparent;
    padding : 14px 0;
    text-align: center;
}





.available-product-btn {
	-moz-box-shadow: 0px 0px 0px 0px #1c1b18;
	-webkit-box-shadow: 0px 0px 0px 0px #1c1b18;
	box-shadow: 0px 0px 0px 0px #1c1b18;
	background-color:black;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-size:16px;
	font-weight:bold;
	padding:22px 12px;
	text-decoration:none;
    width : 90px;
    height : 90px;
    text-align: center;
    color : white;
}

.available-item-btn {
	-moz-box-shadow: 0px 0px 0px 0px #1c1b18;
	-webkit-box-shadow: 0px 0px 0px 0px #1c1b18;
	box-shadow: 0px 0px 0px 0px #1c1b18;
	background-color:black;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-size:16px;
	font-weight:bold;
	padding:12px 12px;
	text-decoration:none;
    width : 90px;
    height : 45px;
    text-align: center;
    color : white;
}


.available-item-btn:hover{
    color : #e7e7e7;
    text-decoration: none;
}

.available-item-btn:active {
	position:relative;
	top:1px;
}

#product-detail-modal{
    border-radius: 0;
}

#product-detail-modal .product-btn-area{
    margin-top : 16px;
}

#product-detail-modal .price-area{
    padding : 10px;
}

#product-detail-modal .product-img{
    text-align: center;
}

#product-detail-modal .product-img img{
    height: 100%;

}

#product-detail-modal .product-description{
    overflow-y: auto;
}

#modalProductInfo{
   padding : 10px;
}

.available-products-list{
    display: none;
}

.available-item{
    position: relative;
    width : 450px;
    border-top: 1px dashed #797979;
    margin-left : 160px;
    font-size: 12px;
}

.available-product-img{
    width : 100px;
    float : left;
}

.available-product-img img{
    width : 100px;
    height : 100px;
}

.available-product-info{
    width : 340px;
    float:left;
    margin-left : 10px;
    padding-top : 18px;
}

.available-item-hover-menu{
    display : none;
    width : 90px;
    position: absolute;
    top : 30px;
    right : 10px;
    background-color: transparent;
    padding : 8px 0;
    text-align: center;
}

.set-table-item-img{
    width : 50px;
    padding: 0 !important;
}

.set-table-item-img img {
    width : 50px;
    height : 50px;
}

.set-table-item-category{
    width : 70px;
}

.set-table-item-info{
    width : 230px;
}

.custom-set-table{
    font-size: 12px;
    max-height : 250px;
    overflow-y: auto;
}

#originProductWrapper{
    width : 368px;
    font-size: 12px;
    z-index: 99;
}
