
.changeable-item-img{
    width : 80px;
    height : 80px;
    margin-right : 12px;
    float: left;
}

.changeable-item-img img{
    width : 80px;
    height : 80px;
}

.changeable-item-name{
    width : 100%;
    height : 100%;
    overflow : hidden;
    float: left;
    padding-top : 10px;
    text-align : center;
}

.changeable-btn{

    border: 1px solid #dddddd;
    margin: 10px;
    border-radius: 3px;
    background-color: white;
    height : 30px;
    line-height : 30px;
    /*background-image: url('../img/arrow_down.png');*/
    /*background-size: 12px 10px;*/
    /*margin-right: 15px;*/
    background : url('../img/arrow_down.png') 90% 50% no-repeat;
    background-size: 16px 12px;
    cursor : pointer;
}

.change-list-wrapper{
    width : 95%;
    padding : 10px 0 10px 5%;
}

.changeable-collapse-btn{
    width : 100%;
    display : inline-block;
    /*background : url('../img/down_arrow.png') 90% 50% no-repeat;*/
    /*background-size : 16px 12px;*/
    cursor : pointer;
}

li.available-item{
    padding-left : 5% !important;
    width : 95% !important;
}

.available-item-type{
    font-size : 14px;
    width : 30px;
    float : left;
    margin-right : 16px;
    padding-top : 30px;
}

.available-item-type img{
    width : 30px;
}

.available-item-img{
    width : 80px;
    height : 80px;
    float : left;
    margin-right : 12px;

}

.available-item-img img{
    width : 80px;
    height : 80px;
}

.available-item-info{
    position : relative;
    padding-top : 10px;
    padding-bottom : 10px;
    width : 190px;
    height: 100%;
    float: left;
}

.available-item-btns a{
    width : 70px !important;
    float: left;


}

.available-item-btns a:first-child{
    margin-right : 6px;
}

.available-item-name{
    height : 100%;
    width : 100%;
    overflow : hidden;
}
.available-item-price{
    height : 25px;
    width : 100%;
    overflow : hidden;
}


.changeable-item-box-wrapper {
    border: 1px solid #dddddd;
    margin: 10px;
    border-radius: 3px;
    background-color: white;
    height : 30px;
    line-height : 30px;
}

.select-wrapper {
    border: 1px solid #dddddd;
    margin: 20px;
    border-radius: 3px;
    background-color: white;
    height : 44px;

}

.ui-select .ui-btn {
    line-height: 44px;
    padding: 0;
}

.ui-icon-carat-d:after {
    background-image: url('../img/arrow_down.png');
    background-size: 12px 10px;
    margin-right: 15px;
}


.product-item{
    width : 80%;
    padding : 9px 10px;
    height : auto;
    /*border-bottom : 1px solid #e5e5e5;*/
}

.product-item:nth-child(odd){
    background-color : white;
}

.product-item:nth-child(even){
    background-color : transparent;
}

.product-item-img{
    width : auto;
    height: auto;
    /*max-width : 82px;*/
    /*margin-right : 3%;*/
    float : left;
    text-align : left;
    position : relative;
}


.product-item-contents{
    width : 100%;
    padding : 2px 15%;
    /*font-weight:bold;*/
    text-align:left;
    /*font-size : 13px;*/
}

.footer-bar{
    text-align :center;
    width : 100%;
    height : 100%;
    padding : 9px 1%;
    background-color : white;
    border-color : white;
}

.footer-bar .gold-btn{
    font-size: 14px;
    border : 1px solid white;
    width : 38%;
}