
#changeProductWrapper{
    font-size: 12px;
    margin-bottom: 90px;
}

.change-product-header{
    color : #999999;
    padding: 0px 0 0px 16px;
    margin-top : 18px;
    margin-left: 12px;
    font-size: 12px;
    font-weight: bold;
    border-left: 4px solid black;
}

.available-product{
    height: 120px;
    position: relative;
    margin-top: 8px;
}

.available-product .product-item-name{
    font-size: 12px;
    font-weight: bold;
}

.available-product .product-img{
    width : 106px;
    height: 106px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float : left;
    margin-left: 12px;
    border: 1px solid #e5e5e5;
    position: relative;
}

.available-product .product-img img{
    max-height: 90%;
    max-width: 90%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.available-product .product-info{
    width : 510px;
    float : left;
    font-size: 10px;
    padding : 0 8px;
    line-height: 16px;
    background-color: #ffffff;
}


.available-list hr{
    margin: 16px 8px;
    border: none;
    border-top: 1px solid #e5e5e5;
}


.available-product-hover-menu{
    width : 140px;
    position: absolute;
    top : 30px;
    right : 20px;
    background-color: transparent;
    padding : 14px 0;
    text-align: center;
}

.available-product-hover-menu .available-product-btn {
    padding: 20px 20px 20px 20px;
}


#product-detail-modal{
    border-radius: 0;
}

#product-detail-modal .product-btn-area{
    margin-top : 16px;
}

#product-detail-modal .price-area{
    padding : 10px;
}

#product-detail-modal .product-img{
    text-align: center;
}

#product-detail-modal .product-img img{
    height: 100%;

}

#product-detail-modal .product-description{
    overflow-y: auto;
}

#modalProductInfo{
   padding : 10px;
}

.available-products-list{
    display: none;
}

.available-item{
    position: relative;
    width : 450px;
    border-top: 1px dashed #797979;
    margin-left : 160px;
    font-size: 12px;
}

.available-item-name{
    font-size: 12px;
    font-weight: bold;
}

.available-item-img{
    width : 62px;
    height : 62px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float : left;
    margin-top: 6px;
    border: 1px solid #e5e5e5;
    position: relative;
}

.available-item-img img{
    max-height: 90%;
    max-width: 90%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.available-item-info{
    width : 340px;
    float:left;
    margin-left : 10px;
    font-size: 10px;
    padding : 8px 0;
}

.available-item-hover-menu{
    width : 90px;
    position: absolute;
    top : 30px;
    right : 10px;
    background-color: transparent;
    padding : 8px 0;
    text-align: center;
}


.origin-product-area{
    margin-left: 12px;
    margin-right : 12px;
}

.custom-set-table table{
    margin : 12px 0;
    font-size: 12px;
    border-collapse: collapse;
}


.custom-set-table td{
    padding : 6px 0;
    text-align: center;
    border-top: 1px dashed #e5e5e5 ;
    border-bottom: 1px dashed #e5e5e5 ;
}

.set-table-item-img{
    min-width : 52px;
    min-height : 52px;
    max-width : 52px;
    max-height : 52px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #e5e5e5;
    position: relative;
}

.set-table-item-img img {
    max-height: 90%;
    max-width: 90%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.set-table-item-category{
    width : 60px;
}

.custom-set-item-tr .set-table-item-info{
    width : 230px;
    text-align: left;
    padding-left: 10px;
}

.custom-set-table{
    font-size: 12px;
    max-height : 500px;
    overflow-y: auto;
}

#originProductWrapper{
    width : 300px;
    font-size: 12px;
    /*z-index: 99;*/
}

.set-final-price-box{
    line-height: 20px;
    margin-top: 12px;
}

.set-final-info{
    margin-bottom : 20px;
}

.purchase-btn-area{
    margin-top : 16px;
}