
.changeable-item-img{
    width : 80px;
    height : 80px;
    margin-right : 12px;
    float: left;
}

.changeable-item-img img{
    width : 80px;
    height : 80px;
}

.changeable-item-name{
    width : 200px;
    height : 60px;
    overflow : hidden;
    float: left;
    padding-top : 10px;
}

.changeable-btn{
    text-align : right;
    font-size: 12px;
    font-weight: bold;
    margin-top : 10px;
    text-shadow : none;

}

.change-list-wrapper{
    width : 95%;
    padding : 10px 0 10px 5%;
}

.changeable-collapse-btn{
    width : 100%;
    display : inline-block;
    background : url('../img/down_arrow.png') 90% 50% no-repeat;
    background-size : 16px 12px;
    cursor : pointer;
}

li.available-item{
    padding-left : 5% !important;
    width : 95% !important;
}

.available-item-type{
    font-size : 14px;
    width : 30px;
    float : left;
    margin-right : 16px;
    padding-top : 30px;
}

.available-item-type img{
    width : 30px;
}

.available-item-img{
    width : 80px;
    height : 80px;
    float : left;
    margin-right : 12px;

}

.available-item-img img{
    width : 80px;
    height : 80px;
}

.available-item-info{
    position : relative;
    padding-top : 10px;
    width : 190px;
    float: left;
}

.available-item-btns a{
    width : 70px !important;
    float: left;


}

.available-item-btns a:first-child{
    margin-right : 6px;
}

.available-item-name{
    height : 36px;
    width : 100%;
    overflow : hidden;
}


.footer-bar{
    text-align :center;
    width : 100%;
    height : 38px;
    padding : 9px 1%;
    background-color : #d2bb8f;
}

.footer-bar .gold-btn{
    font-size: 14px;
    border : 1px solid white;
    width : 38%;
}
