
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Muli);

a {
    color : inherit !important;
    text-decoration : none;
}

a:hover{
    color : inherit !important;
    text-decoration : none;
}

a:visited{
    color : inherit !important;
    text-decoration : none;
}



.ui-select {
    margin-top : 0;
}

.ui-btn, label.ui-btn{
    border :0;
    border-style : none;
    background-color : transparent !important;
}

.ui-icon-carat-d:after{
    background-image : url('../img/down_arrow_category.png');
    background-size : 10px 6px;
    background-color : transparent !important;
    margin-left : 22px;
    right : 0.002em !important;
}

.ui-focus{
    box-shadow : none !important;
    -webkit-box-shadow : none !important;
    color : inherit !important;
    text-shadow : none!important;
}

.ui-header{
    background-color : #ffffff !important;
    border: 0;
    height: 50px;
    padding-bottom: 4px;
}

.ui-title{
    margin-top : 4px !important;
}


#loginForm{
    background: url("../img/menu_bg6.png") top left !important;
    color : white;
}



#menuPanel{
    /*width : 85%;*/
    background-color: #ffffff;
    /*background-color: #e9e9e9;*/
}

.menu-panel-search-box{
    background-color: #ffffff;
    /*background-color: #e5e5e5;*/
    padding: 8px 0;
}

.menu-panel-search-box .ui-input-search{
    width : 80%;

    margin : 8px auto;
}


#menuListView .ui-btn{
    font-size : 14px;
}


#menuPanel .ui-panel-inner, #cartPanel .ui-panel-inner{
    padding : 0;
    min-width: inherit;
    min-height: 700px !important;
}

ul.custom-menu-list{
    margin : 0;
    padding : 0px 10px 0px 10px;
    background-color: white;
}

ul.custom-menu-list li:nth-child(1){
    border-top : 1px solid #e5e5e5;
}

ul.custom-menu-list li{
    width : 100%;
    padding : 20px 0px 20px 0px;
    font-size : 14px;
    border-bottom : 1px solid #e5e5e5;
    position : relative;
}

ul.custom-menu-list li a{
    width : 95%;
    display:inline-block;
    padding-left : 5%;
}

ul.custom-menu-list li.list-collapsible{
    padding : 10px 0px 10px 0px;
}

ul.custom-menu-list a.collapse-btn{
    width : 95%;
    padding : 10px 0 10px 5%;
    display : inline-block;
    /*background : url('../img/down_arrow.png') 90% 50% no-repeat;*/
    background-size : 16px 12px;
}

ul.custom-menu-list ul.list-collapsed{
    background-color: #ffffff;
    /*background-color : #f3f3f3;*/
    margin-top: 10px;
    margin-bottom: -10px;
    width : 100%;
    display : none;
}

ul.custom-menu-list ul.list-collapsed li{
    width : 90%;
    padding : 10px 0 10px 10%;
    font-size: 12px;
    border-bottom : 1px solid #e5e5e5;
}

ul.custom-menu-list ul.list-collapsed li:last-child{
    border : 0;
}

.list-collapsed-opened{
    display: block !important;
}

img.profile-img{
    position: absolute;
    top : 3px;
    right : 10px;
    width : 30px;
    height : 30px;
}


.top-menu-btn img{
    height : 26px;
    margin : 10px 8px;
}


.basic-btn {
  width: 60px;
  display: inline-block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: black !important;
  font-size: 12px;
  background: #e5e5e5;
  padding: 14px 10px;
  text-decoration: none;
  text-align : center;
  text-shadow : none !important;
}

.basic-btn:visited{
    color : #black !important;
}

.basic-btn:hover {
  text-decoration: none !important;
  color : black !important;
}

.gold-btn {
  text-align : center;
  width: 60px;
  display : inline-block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: white !important;
  font-size: 12px;
  font-weight: normal;
  background: #d2bb8f;
  padding: 8px 10px;
  text-decoration: none !important;
  text-shadow : none !important;

}

.gold-btn:visited{
    color : #ffffff !important;
}

.gold-btn:hover {
  text-decoration: none !important;
  color : white !important;
}


.facebook-btn {
  width: 60px;
  display : inline-block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #fff !important;
  font-size: 12px;
  background: #3c599b;
  padding: 8px 10px;
  text-decoration: none;
  text-shadow : none !important;
}

.facebook-btn:visited{
    color : #fff !important;
}

.facebook-btn:hover {
  text-decoration: none;
  color : #e5e5e5 !important;
}




.ui-page{
    background-color : #FCFCFC;
}

.ui-panel-wrapper{
    background: inherit !important;

}

body{
    font-family: Muli, 'Nanum Gothic', Geneva, sans-serif;
    _font-family: 'Nanum Gothic', Muli, Geneva, sans-serif;
	font-size : 12px;
	background-color : #F3F3F3;
}

.ui-btn {
	font-family: 'Nanum Gothic';
}

.clearfix{
	clear:both;
}

ol, ul {
	list-style: none;
	padding:0;
	margin:0;
}


.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #428bca;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #2a6496;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #eeeeee;
  border-color: #dddddd;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.pager {
  padding-left: 0;
  margin: 20px 0;
  list-style: none;
  text-align: center;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  background-color: #ffffff;
  cursor: not-allowed;
}

.footer-div{
    font-size: 10px;
    font-weight: normal;
    padding: 10px 30px;
    line-height: 14px;
    text-align: right;
}

.paging-area{
    margin-top: 8px;
    text-align: center;
}



#cartPanel{
    /*width : 85%;*/
}

a.cart-delete-btn{
    display: inline-block;
    width : 8px !important;
    color: white !important;
    font-size: 12px;
    position: absolute;
    padding : 2px 5px !important;
    right: 12px;
    text-decoration: none;
    box-shadow: 0 1px 0 #fff;
    top: 9px;
    background-color: black;
    border-radius: 15px;
}

a.cart-delete-btn:hover{
    color : #e5e5e5;
}


#cartPanel .ui-btn{
    padding : 0;
    font-size : 12px;
    width :60px;
    float: left;
}

.cart-header{
    padding : 10px 0;
    text-align : center;
    font-weight : bold;
}

.cart-item-img{

    width : 50px;
    height : 50px;
    margin-left : 10px;
    margin-right : 10px;
    float: left;
}

.cart-item-img img{
    width : 50px;
    height : 50px;
}

.cart-select-box-wrapper{

}

.cart-select-box-wrapper label{
    width : 30px;
    font-size : 12px;
    font-weight : none;
    float: left;

}

.cart-item-info {
    float: left;
    width : 150px;
    font-size : 12px;
}

.cart-footer-bar{
    font-size : 14px;
    border-top : 1px solid #e5e5e5;
    width : 92%;
    padding : 10px 4%;
    background-color : white;
    height : 70px;
    text-align : center;
}