.faq-form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #ffffff;
    width : 600px;
    height : auto;
    font-size: 14px;
}

.faq-box-header{
    background-color: #ffffff;
    color: #ffffff;
    padding: 10px 0px;
    margin: 0px 0px 0px 0px;
}

.faq-list-container {
    width: 100%;
}

.faq-list {
    -webkit-font-smoothing: antialiased;
    display: block;
    font-size: 13px;
    /*height: 551px;*/
    height: auto;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-rendering: optimizelegibility;
}

.faq-item-title {
    margin-bottom: 15px;
    color: #212121;
    font-weight: bold;
}
.faq-item-content {
    -webkit-font-smoothing: antialiased;
    color: #212121;
    display: block;
    font-size: 13px;
    /*height: 80px;*/
    height: auto;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: left;
    text-rendering: optimizelegibility;
}