body {
    background-color: #fff !important;
}

a{
    text-decoration: none!important;

}

a:hover{
    text-decoration: none!important;

}

a:visited{
    text-decoration: none !important;

}

.container {
    width: 0;
    padding-right: 0!important;
    padding-left: 0!important;
    margin-right: 0!important;
    margin-left: 0!important;
    min-height: 0 !important;
}

.ad-area {
    margin-top: -66px;
    width: 100%;
    height: auto;
    max-height: 900px;
    overflow: hidden;
    background: #000;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.ad-area img {
    width: 100%;
    max-width: 100%;
    display: block;
    height: auto;
}

.index-content-wrapper {
    padding-top: 20px;
}

.index-content-row {
    align-content: center;
    width: 95%;
    margin: 0 auto;
}

.index-content-img {
    opacity: 0.7;
}

.index-content {
    width: 32%;
    height: auto;
    margin-bottom: 20px;
}

.index-content img {
    width: 100%;
    height: auto;
    border: 0;
}

.main-notice {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    /*font-size: 30px;*/
    /*font-weight: bold text-shadow : 1 px 1 px #FFFFFF;*/
    /*width:100%;*/
}

.main-notice .main-notice-survey-status {
    color: white;
}

.main-notice .main-notice-title {
    margin-top: 5%;
    font-size: 45px;
    color: white;
    font-family: muli;
    letter-spacing: 2px;
}
.main-notice .main-notice-subtitle {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
    color: white;
}
/*.main-notice .main-notice-button-group {*/
    /*margin-top: 30px;*/
/*}*/
/*.main-notice .main-notice-button-group a {*/
    /*color: white;*/
    /*background: blue;*/
/*}*/

#kakao-yellow-id-container {
    text-align: center;
    background: #FED600;
}
#kakao-yellow-id-container-mobile {
    text-align: center;
}

#how-it-works {
    background-color: #F6F9FB;
    text-align: center;
}

.how-it-works-container {
    padding-top: 100px;
    text-align: center;
    display: inline-block;
    background-color: #F6F9FB;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1125px;
}

.how-it-works-container .yellow-deco-bar {
    margin: 0 auto 0 auto;
    width: 64px;
    height: 6px;
    background: #ee9a25;
    margin: 0 auto 40px;
}


.how-it-works-container .grey-deco-bar {
    margin: 0 auto 0 auto;
    width: 64px;
    height: 6px;
    background: #aab9c0;
    margin: 0 auto 40px;
}
.how-it-works-container .how-it-works-title {
    margin-top: 40px;
    font-size: 2em;
}
.how-it-works-container .how-it-works-step {
    display: inline-block;
    margin-top:50px;

}
.how-it-works-container .how-it-works-step > div {
    width: 33%;
    float: left;
}
.how-it-works-container .how-it-works-step > div .step-title {
    font-size: 1.3em;
    font-weight: 700;
}
.how-it-works-container .how-it-works-step > div .step-content {
    font-size: 1.2em;
    color: #5f666e;
    height: 220px;
    margin: 0 15%;
    text-align: center;
    line-height: 1.5em
}
.how-it-works-container .how-it-works-step > div .step-content > p {
    margin: 1em 0;
}
.how-it-works-container .how-it-works-step > div .step-content span {
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.intro-top {
    position: relative;
}

.intro-right-top {
    position: absolute;
    top: 30%;
    right: 5%;
}

.intro-bottom {
    position: relative;
}
.intro-left-bottom {
      position: absolute;
  top: 30%;
  left: 5%;

}

.intro-container{
    font-size: 0;
}

.intro-container > div{
    display: inline-block;
    width:100%;
    text-align: center;
}
.intro-container > div > div {
    width: 50%;

}
.intro-container div img {
    width: 100%;
}
.intro-container .float-left {
    float: left;



}
.intro-container .float-right {
    float: right;
    text-align: left;
}
.intro-container div > .grey-deco-bar {
    margin: 0 5%!important;
    width: 64px;
    height: 6px;
    background: #aab9c0;
    margin: 0 auto 40px;
}
.intro-container div > .intro-item-title {
    margin: 40px 5% 0 5%;
    font-size: 24px;
    font-weight: 400;
}
.intro-container div > .intro-item-content {
    margin: 16px 5% 16px 5%;
}
.intro-container div > .intro-item-content > span {
    font-size: 17px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.intro-right-top{
    width: 40%!important;
    margin: auto;
    text-align: left;
}

.intro-left-bottom {
    margin: auto;
    width: 40%!important;
    text-align: left;
    text-align: left;

}
.closing-container {
    text-align: center;
    background: #15191D;
    height: auto;
    padding: 150px 0 150px 0;
    position: relative;

}
.closing-container .green-deco-bar {
    margin: 0 auto;
    width: 64px;
    height: 6px;
    background: #17bcb8;
    margin: 0 auto 40px;
}
.closing-container .closing-title {
    width: 70%;
    margin:0 auto;
    margin-top: 40px;
    font-size: 30px;
    color: white;
}
.closing-container .closing-content {
    margin: 40px auto;
    width: 40%;
    margin-top: 40px;
    font-size: 19px;
    color: #7b808a;
}
.closing-container .closing-button-group {
    margin-top: 30px;
}


.main-btn {
    width: 170px;
    height: 50px;
    line-height: 50px;
    /*border-radius: 4px;*/
    color: #000 !important;
    font-size: 14px;
    background: none repeat scroll 0 0 transparent !important;
    padding: 8px 10px;
    border: 2px solid #212121;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

a.main-btn:hover {
    width: 170px;
    height: 50px;
    line-height: 50px;
    /*border-radius: 4px;*/
    color: white !important;
    font-size: 14px;
    background: none repeat scroll 0 0 black !important;
    padding: 8px 10px;
    border: 2px solid #212121;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.report-count{
    text-align:center;
    color:red;
    font-size:16px;
    font-weight:bold;
}

.btn-start {
    -webkit-transition-property: all;
    -webkit-transition-duration: 300ms;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: all;
    -moz-transition-duration: 300ms;
    -moz-transition-timing-function: ease;
    -ms-transition-property: all;
    -ms-transition-duration: 300ms;
    -ms-transition-timing-function: ease;
    -o-transition-property: all;
    -o-transition-duration: 300ms;
    -o-transition-timing-function: ease;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease;
    height: 66px;
    line-height: 66px;
    background-color: #17bcb8;
    font-size: 14px;
    padding: 20px 40px;
    color: white!important;
    cursor: pointer;
}

.btn-start:hover{
    padding: 20px 80px;
     opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    font-size: 14px;
    color: white!important;
    text-decoration: none;
}

.btn-start-2 {
    -webkit-transition-property: all;
    -webkit-transition-duration: 300ms;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: all;
    -moz-transition-duration: 300ms;
    -moz-transition-timing-function: ease;
    -ms-transition-property: all;
    -ms-transition-duration: 300ms;
    -ms-transition-timing-function: ease;
    -o-transition-property: all;
    -o-transition-duration: 300ms;
    -o-transition-timing-function: ease;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease;
    height: 66px;
    line-height: 66px;
    background-color: transparent;
    font-size: 14px;
    padding: 20px 40px;
    color: #FFFFFF !important;
    cursor: pointer;
    border: 3px white solid;
}

.btn-start-2:hover{
    padding: 20px 80px;
     opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    font-size: 14px;
    color: white!important;
    text-decoration: none;
    background-color: #17bcb8;
    border: 3px #17bcb8 solid;
}

.hiw-footer ul {
    display: inline-block;
    list-style: none;
    margin: 5px 0 60px 0;
    padding: 16px 20px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #d5dce4;
    font-size: .75rem;
    color: #97A0A6;
    text-transform: uppercase;
}

.hiw-footer ul li {
    margin: 0 60px;
}

.main-notice-survey-status {
    padding: 20px 30px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 4px;
    margin: 0 auto;
    width: 600px;
    opacity: 0.7;
    font-size: 17px;
}

.survey-status-request-count {
    display: inline-block;
    border-right: 3px solid #fff;
    padding-right: 20px;
}

.survey-status-response-count {
    display: inline-block;
    padding-left: 20px;
}

.survey-status-request-count > span {
    color: #17bcb8;
    font-size : 18px;

}

.survey-status-response-count > span {
    color: #17bcb8;
    font-size : 18px;

}