
.ad-area{
    margin-top: -66px;
    width : 100%;
    height: auto;
    max-height: 900px;
    overflow: hidden;
    background: #000;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.ad-area img {
    width: 100%;
    max-width: 100%;
    display: block;
    height: auto;
}

.index-content-wrapper{
    padding-top: 20px;
}

.index-content-row {
    align-content: center;
    width:95%;
    margin: 0 auto;
}

.index-content{
    width : 32%;
    height : auto;
    margin-bottom: 20px;
}

.index-content img{
    width : 100%;
    height : auto;
    border: 0;
}

