.skin-color-box{
	margin-top : 4px;
	width : 90px;
	float: left;
	margin-right : 20px;
}

.profile-contents-box{
	width : 165px;
	float:left;
	font-size: 14px;
}

.purchase-row{
	padding : 0px 3px 0px 3px;
}

.purchased-list-btn{
	padding : .4em .6em; 
}

@media all and (min-width: 35em) {
	.skin-color-box{
		background-color: yellow;
	}
	
	.profile-contents-box{
	}
}

@media all and (min-width: 42em) {
	.skin-color-box{
		background-color: red;
	}
	
	.profile-contents-box{
	}
}


@media all and (min-width: 55em) {
	.skin-color-box{
		background-color: green;
	}
	
	.profile-contents-box{
	}
}

@media all and (min-width: 75em) {
	.skin-color-box{
		background-color: blue;
	}
	
	.profile-contents-box{
	}
}



#profileTabs{
	margin-top : 18px;
	padding : 0;
}


.user-name{
	margin-top : 0px;
    line-height: 30px;
}

.skin-color-str{
	font-size : 14px;
	font-weight:bold;
	margin : 2px auto;
	padding-top : 30px;
	color : #644370;
	text-align: center;
    text-shadow: none !important;
	margin-bottom: 12px;
}


.profile-skin-type{
	font-weight: bold;
	color : #985965;
}

.profile-content{
	margin-top : 4px;
}

.product-price-box{
	font-weight:bold;
    padding-top:12px;
    padding-left: 12px;
    text-align: left;
}

#interest{
	padding-top : 12px;
}

/* tab link */
.ui-tabs-anchor{
    background-color: #ececec !important;
    border-color: #b9b9b9 !important;
}

.ui-tabs-nav .ui-btn-active {
    background-color: #2b2b31 !important;
}

/*
    Service
*/

.service-links {
    background-color: #fbfbfb;
    overflow: hidden;
    position: relative;
    border-top: 1px solid #eee;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
     -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
}
.service-links li {float: left; width: 50%;}

.service-links:before {
    font-size: 80px;
    font-weight: 700;
    color: #8c8bc8;
    letter-spacing: -5px;
    position: absolute;
    white-space: nowrap;
    top: -6px;
    left: -7px;
}
.service-links a {
    display: block;
    padding: 8px 0;
    text-align: center;
    border-left: 1px solid #eee;
    font-size: 12px;
    text-shadow:none;
    font-weight:800;
    color: #777777;
    padding-bottom: 200px;
    margin-bottom: -190px;
    text-decoration: none;
}
.service-links li:first-child a {border-left-width: 0;}
.service-links a:hover {color: #515151 !important;}

.service-links [class*="icon-small-"] {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 22px;
    color: #53529b;
    -webkit-transition: all 0.16s ease;
    -moz-transition: all 0.16s ease;
    -ms-transition: all 0.16s ease;
    transition: all 0.16s ease;
}
.service-links .icon-small-prev, .service-links .icon-small-next {font-size: 22px;}
.service-links a:hover [class*="icon-small-"] {color: #d4e729;}

/*Green Links*/
.service-links.green {background: #b8c901; box-shadow: none;}
.service-links.green:before {color: #989f01;}
.service-links.green a {
    border-left: 1px solid #b4c201;
    -webkit-transition: all 0.16s ease;
    -moz-transition: all 0.16s ease;
    -ms-transition: all 0.16s ease;
    transition: all 0.16s ease;
}
.service-links.green a:hover {background: #989f01; box-shadow: inset 0 16px 10px -10px rgba(77, 83, 14, 0.8);}
.service-links.green [class*="icon-small-"] {color: #fff;}
.service-links.green a:hover [class*="icon-small-"] {color: #b8c901;}

/*Red Links*/
.service-links.red {background: #bf5d90;}
.service-links.red:before {color: #cc6b9e;}
.service-links.red a {border-left: 1px solid #ab447a;}
.service-links.red [class*="icon-small-"] {color: #fff;}
.service-links.red a:hover [class*="icon-small-"] {color: #FFB3DB;}

.service-desc p {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 16px;
}
.service-image img {display: block; width: 100%;}

.service-list{
    width :136px;
}


.service-list.team{
	padding: 0 0px 0 0;
}

.service-list .service-item{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}

.ui-block-a .team{
	padding: 0 3px 0 3px;
}

.ui-block-b .team{
	padding: 0 3px 0 3px;
}

.service-list.team .service-content {padding: 0px 0px 6px 0;}
.service-list.team .service-title {font-size: 10px; line-height: 18px; margin-bottom: 0; text-align: center;}
.service-list.team .service-title a {color: #644370; text-decoration: none;}
.service-list.team .service-subtitle {color: #bf5d90; text-transform: uppercase; margin-bottom: 22px;}
.service-list.team .service-image {margin: 0 0px 6px; width : 100%;}
.service-image img{width : 100%;}
.service-list.team .service-links li {width: 50%; font-size: 10px;}


/*Green Links*/
.service-links.green {background: #b8c901; box-shadow: none;}
.service-links.green:before {color: #989f01;}
.service-links.green a {
	text-decoration:none;
    border-left: 1px solid #b4c201;
    -webkit-transition: all 0.16s ease;
    -moz-transition: all 0.16s ease;
    -ms-transition: all 0.16s ease;
    transition: all 0.16s ease;
}
.service-links.green a:hover {background: #989f01; box-shadow: inset 0 16px 10px -10px rgba(77, 83, 14, 0.8);}
.service-links.green [class*="icon-small-"] {color: #fff;}
.service-links.green a:hover [class*="icon-small-"] {color: #b8c901;}


/*Comment Body*/
.comment-body {
	position: relative;
	margin-top: 6px;
	margin-bottom: 2px;
    padding: 10px 8px 0 100px;
    min-height: 90px;
}
.comment-avatar {
    position: absolute;
    top: 0;
    left: 0;
	width: 92px;
	height:100px;
}
.comment-avatar img {
	display: block;
	width : 92px;
	height : 100px;
}
.comment-avatar:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 15px;
    right: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 7px solid #fff;
}
.comment-author {
    line-height: 25px;
    margin-bottom: 6px;
}
.comment-author .link-author {
    font-size: 14px;
    font-weight: 700;
    color: #985965;
    text-decoration: none;
}
.comment-author .comment-meta {
    /*float: right;*/
    display:block;
    font-size: 13px;
    font-weight: 700;
    color: #7380b0;
    text-align: left;
    text-transform: uppercase;
}
.comment-author .comment-meta .link-reply {
    font-size: 12px;
    color: #bf5d90;
    margin-left: 20px;
}
.comment-author .comment-meta .link-reply i {vertical-align: -32%; margin: 0;}
.comment-entry {line-height: 24px;}


.tab-list{
    background: #979797;
    border-bottom : 1px solid #d8d9dd;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
}

.tab-list a{
    text-shadow: none;
    color : white !important;
    text-decoration: none;
}

.tab-list a:hover{
    color : #979797;
    text-decoration: none;
}

.tabs{
    margin: 0;
    padding : 0;
}

.tabs li{
    float: left;
    width : 120px;
    padding : 14px 8px;
    font-weight: bold;
    display: block;
    border-right : 1px solid #d8d9dd;
    text-align: center;
}



.tabs li:hover{
    background-color: black;
}

.tabs li.active{
    position: relative;
    background-color: #fff;
}
.tabs li.active{
    background-color: #fff;
}

