.ui-content{
    background-color : white;
}

a{
    color : inherit;
    text-shadow : none;
    text-decoration : none;
}

a:hover{
    text-shadow : none;
    color : inherit;
    text-decoration : none;
}


.select-wrapper {
    border: 1px solid #dddddd;
    margin: 20px;
    border-radius: 3px;
    background-color: white;
    height : 44px;
}

.ui-select .ui-btn {
    line-height: 44px;
    padding: 0;
}

.ui-icon-carat-d:after {
    background-image: url('../img/arrow_down.png');
}

.mypage-wrapper{
    height : 180px;
    text-shadow : none;
    background: url('../img/profile_bg.png') top center repeat-y #ECECEC;
    font-size : 14px;
    width : 100%;
    line-height : 18px;
    color : #424446;
    position : relative;
    padding-top : 20px;
}

.mypage-user-name{

    font-size : 18px;
    text-align : center;
    color :black;
}

.mypage-user-email{
    text-align : center;
}

.mypage-user-info{
    width : 100%;
    padding : 0 12%;
    margin-top : 6px;
    position : relative;
    line-height: 20px;

}

#mypage-next-btn{
    display : inline-block;
    position : absolute;
    top : 20px;
    left : 60%;
}

#mypage-prev-btn{
    display : inline-block;
    position : absolute;
    top : 20px;
    left : 6px;
}


.my-page-edit-box{
    margin-top : 16px;
    text-align : center;
}


.mypage-edit-btn{
   width: 100px;
  height : 16px;
  display : inline-block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #d2bb8f !important;
  font-size: 14px;
  background: white;
  padding: 8px 10px;
  text-decoration: none;
}

.mypage-edit-btn:visited{
    color: #d2bb8f !important;
}


.tab-menu{
    margin : 0;
    margin-top : 0px;
    margin-bottom : 12px;
    padding-top: 6px;
    background-color: white;
    height : 30px;
    overflow: hidden;
    border-bottom : 1px solid #e5e5e5;
}

.tab-menu li{

    text-align : center;
    width : 33%;
    float: left;

}

.tab-menu li a{
    display:inline-block;
    width : 100%;
    padding : 4px 2% 4px 2%;
}

.tab-menu li:nth-child(2) a{
    border-right : 1px solid #e5e5e5;
    border-left : 1px solid #e5e5e5;
}

a.tab-selected{
    color : #d2bb8f !important;
}
