.ui-content {
    background-color: #f2f2f2;
}

body {
    background-color:#f2f2f2;
}
a {
    color: inherit;
    text-shadow: none;
    text-decoration: none;
}

a:hover {
    text-shadow: none;
    color: inherit;
    text-decoration: none;
}

.select-wrapper {
    border: 1px solid #dddddd;
    margin: 20px;
    border-radius: 3px;
    background-color: white;
    height: 44px;

}

.ui-select .ui-btn {
    line-height: 44px;
    padding: 0;
}

.ui-icon-carat-d:after {
    background-image: url('../img/arrow_down.png');
    background-size: 12px 10px;
    margin-right: 15px;
}

.mypage-wrapper {
    height: auto;
    text-shadow: none;
    /*background: url('../img/profile_bg.png') top center repeat-y #ECECEC;*/
    background-color: white;
    font-size: 14px;
    /*width : 100%;*/
    line-height: 18px;
    color: #000000;
    position: relative;
    padding-top: 20px;
    margin: 15px;
    padding: 20px;
    padding-bottom: 0px;
    /*border: 1px solid #bcbfc3;*/
    /*box-shadow: 0 0 0.3em rgba(202, 203, 209, 0.2), 0 1px 0.3em rgba(0, 0, 0, 0.1);*/
    /*border-radius: 0.2em;*/
    background: #fff;
    font-size: 1em;
}

.mypage-user-name {

    font-size: 14px;
    text-align: left;
    color: black;
}

.mypage-user-email {
    font-size: 11px;
    text-align: left;
}

.mypage-user-info {
    font-size: 11px;
    width: 100%;
    /*padding : 0 12%;*/
    margin-top: 10px;
    position: relative;
    line-height: 20px;

}

#mypage-next-btn {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 60%;
}

#mypage-prev-btn {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 6px;
}

.my-page-edit-box {

    position: relative;
    text-align: center;
    padding-bottom: 15px;

}

.mypage-edit-btn {
    width: 40px;

    display: inline-block;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    /*color: #d2bb8f !important;*/
    color: white !important;
    font-size: 11px;
    background: #222222;
    padding: 3px;
    text-decoration: none;
    border: 1px solid #222222;
    border-radius: 3px;
}

.ui-page-theme-a a {
    font-weight: bold;
}

.mypage-edit-btn:visited {
    color: white !important;
}

.tab-menu {
    margin: 0;
    margin-top: 0px;
    margin-bottom: 12px;
    padding-top: 6px;
    background-color: white;
    height: 30px;
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
}

.tab-menu li {

    text-align: center;
    width: 33%;
    float: left;

}

.tab-menu li a {
    display: inline-block;
    width: 100%;
    padding: 4px 2% 4px 2%;
}

.tab-menu li:nth-child(2) a {
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}

a.tab-selected {
    color: #d2bb8f !important;
}

.nav {
    /*border: 1px solid #bcbfc3;*/
    /*box-shadow: 0 0 0.3em rgba(202, 203, 209, 0.2), 0 1px 0.3em rgba(0, 0, 0, 0.1);*/
    /*border-radius: 0.2em;*/
    background: #fff;
    font-size: 1em;
}

.nav-tabs {
    overflow-x: auto;
    white-space: nowrap;
    display: -webkit-box;
    display: -moz-box;
     -webkit-box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
    box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
    border-bottom: 0px;
}

.nav-tabs > li {
    float: none;
    /*border-right: 1px solid #e5e5e6;*/
    margin-right: 0px;
}

.nav-tabs > li > a {
    float: none;
    font-size: 10px;
    margin-right: 0px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #17bcb8 !important;
    cursor: default;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs > li > a:hover {
    background-color: #fff;
    border-color: transparent;
}

.list-wrap {
    display: inline-block;
    /*border: 1px solid #bcbfc3;*/
    /*box-shadow: 0 0 0.3em rgba(202, 203, 209, 0.2), 0 1px 0.3em rgba(0, 0, 0, 0.1);*/
    /*border-radius: 0.2em;*/
    background: #fff;
    font-size: 12px;
    width: 100%;
}

.number > span {
    float:right;
}

.btn-default {
    margin-top : 10px;
}

.tab-content {
    display : inline-block!important;
    padding-right : 15px;
    padding-left: 15px;
    margin-top: 15px;
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
}

.tab-content>.active {
    display: inline-block !important;
}

.tab-pane {
    width: 100%!important;
}

.tab-pane>.active   {
    width: 100%!important;
}

.number {
    min-height:60px;
}

.btn-interest {
    color : #a7a7a8!important;
    padding: 10px!important;
    margin-bottom : 15px!important;
    background-color: transparent!important;
    border: 2px solid #a7a7a8!important;
    border-radius: 0px!important;
}

.btn-interest:hover {
    color : #17bcb8!important;
    padding: 10px!important;
    margin-bottom : 15px!important;
    border: 2px solid #17bcb8 !important;
}

.int {
    padding:10px!important;
    margin-bottom: 0px;
    text-align: center;
    color:#17bcb8;
    -webkit-box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
  box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
}