
.product-x-category-box{
    color : black;
    font-size: 12px;
    margin-left: 22px;
    margin-top : 12px;
}

.product-x-img {
    width : 190px;
    height: 200px;
    display:table-cell;
    vertical-align:middle;
    text-align: center;
}

.product-x-img img{
    /*width : 190px;*/
    /*height: 200px;*/
}

/*
.product-x-img-gallery{
    width : 80px;
    padding : 4px 6px;
}

.product-x-img-gallery img{
    width : 60px;
    height : 60px;
    margin : 4px 0;
    outline: 1px solid #e5e5e5;
}

.product-x-img-gallery img:hover{
    outline: 3px solid #d2bb8f;
}
*/

.tag-header{
    margin : 6px 0;
    font-size: 12px;
    color : black;
}

.tag-list{
    font-size: 10px;
    color: #6e6e6e;
}

.price-area{
    padding : 18px;
    font-size: 12px;
}

.product-price{
    font-weight: bold;
    line-height: 26px;
}

.price-origin{
    color : black;
    margin-bottom : 6px;
}

.price-saled{
    margin-bottom: 6px;
}

.price-saled span{
    color : black;
}

.price-discount{
    color : black;
    margin-bottom   : 12px;
}

.product-price span{
    /*color : red;*/
}

.price-total{
    font-weight: bold;
}

.product-how-many{
    font-weight: bold;
    margin-bottom: 8px;
}

.product-btn-area{
    margin-top : 26px;
    margin-bottom: 12px;
}

a.basic-btn{
    padding-right: 18px;
    padding-left: 18px;

}

.product-how-many select{
    width: 180px;
}

.product-contents{
    padding : 18px;
}

.product-sub-contents{
    padding : 0 18px 18px 18px;
    margin-top : 18px;
}




.video-review{
    margin-left: 12px;
    margin-top : 24px;
}

.belong-product-img{
    width : 84px;
    float: left;
    margin-left: 12px;
    margin-right : 8px;
}

.belong-product-img img{
    width : 80px;
    height : 80px;
    border: 1px solid #e5e5e5;
}

.belong-product-info{
    /*float:left;*/
    line-height: 20px;
    margin-left : 8px;
    width : 266px;
    padding: 0px 8px 4px 8px;
}

.belong-product-name{
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 4px;
}

.belong-product-contents{
    font-size: 12px;
}




.box-css{
    margin-bottom: 20px;
}


#product-detail-modal{
    border-radius: 0;
}

#product-detail-modal .product-price{
    margin-bottom: 8px;
}

#product-detail-modal .product-img{
    text-align: center;
}

#product-detail-modal .product-img img{
    height: 100%;

}

#product-detail-modal .product-description{
    overflow-y: auto;
}

#modalProductInfo{
   padding : 10px;
}

.resp-tabs-list {

}

.resp-tabs-list li{
    font-size: 14px;
    background-color: #ffffff;
}

.resp-tabs-container{
    font-size: 12px;
}




.belong-to-product-x-item{
    margin-top: 6px;
    position: relative;
    line-height: 14px;

}


.product-hover-area{
    display: none;
}

.product-opacity-bg{
    background-color: black;
    position: absolute;
    top :0;
    left : 0;
    width : 100%;
    height: 100%;
    display: none;
}

.product-opacity-bg .icon{
    position: absolute;
    width : 90px;
    height : 68px;
    left: 100px;
    top : 12px;
}

.category-list{
    margin-top : 20px;
}


.product-info-table{
    border-collapse: collapse;
    width : 600px;
    margin-left: auto;
    margin-right:auto;
    font-size: 12px;
    border: 1px solid #e5e5e5;
}

.product-info-table td{
    line-height: 20px;
    padding : 12px 16px;
    border : 1px solid #e5e5e5;
}

.product-info-table td.item-spec-head{
    width : 180px;
    background-color: #f3f3f3;
}


.resp-tab-content-active {
    border: 0px !important;
}

.product-detail-info-wrapper{
    padding : 12px 14px;
}

.product-detail-info-header{
    font-size: 18px;
    font-weight: bold;
    margin-bottom : 12px;
}

.product-detail-info{
    font-size: 16px;
    color : #000000;
    line-height: 22px;
}

.magazine-item-container{
    padding: 5px;
    margin-bottom: 10px;
}