.register-form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #ffffff;
    width : 400px;
    font-size: 14px;
}

.register-header{
    /*border-bottom: 1px solid #e5e5e5;*/
    background-color: #ffffff;
    color: #ffffff;
    padding: 10px 0px;
}

.register-form .form-box{
    width :100%;
    margin: 20px auto;
}

.register-form .form-box label{
    color: #212121;
    display: block;
    margin : 10px 0;
}

.register-form .form-box input{
    border: 1px solid #e4e4e4;
    padding: 8px 10px;
    width : 96%;
    height : 30px;
}


.register-form .form-btns{
    margin : 40px auto 10px auto;
    width : 400px;
    text-align: center;
}

.register-form .form-btns a{
    width: 93px !important;
    height: 33px !important;
    padding: 10px 20px !important;
}

.checkbox-wrapper{
    width : 90px;
    float: left;
    margin-right: 12px;
    margin-top : 4px;
}


.checkbox-wrapper input{
    float : left ;
    width : 20px !important;
}

.checkbox-wrapper label{
    width : 50px;
    float: right;
}

.already-member-area{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.already-member-area a{
    color: #d2bb8f;
}

/*.form-input-horizontal{*/
    /*float: left;*/
/*}*/

.form-input-horizontal label{
    max-width: 70px;
    float: left;
    padding-top : 6px;
    margin-right : 8px;
}

.form-input-horizontal input{
    vertical-align: baseline;
    float: left;
}

#phone1, #phone2{
    margin-right : 8px;
}

#phone1 {
    width: 17%;
}

#phone2, #phone3 {
    width: 38%;
}

.form-address-input-container{
    margin-top: 6px;
}

#postalcode{
    width: 50%;
}

#addressLayer{
    display:none;
    border:1px solid;
    position:fixed;
    width:360px;
    height:460px;
    left:50%;
    margin-left:-155px;
    top:50%;
    margin-top:-235px;
    overflow:hidden;
    -webkit-overflow-scrolling:touch;
    z-index: 999;
}

.warning-message{
    color : red;
    float: right;
    display: none;
    font-size: 12px;
}

.name-warning-message{
    color : red;
    float: right;
    font-size: 12px;
}