
.form-contents{
    width : 85%;
    margin : 4px auto;
}

.sex-wrapper .ui-select{
    background-color: white !important;
}

a.facebook-btn{
    width : 140px;
}

input.gold-btn {
    text-align : center;
    width: 60px;
    display : inline-block;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    color: white !important;
    font-size: 12px;
    font-weight: normal;
    background: #d2bb8f;
    padding: 8px 10px;
    text-decoration: none !important;
    text-shadow : none !important;
    box-sizing: border-box;
    padding-top : 10px;
    padding-bottom: 10px;
    width : 100%;
}

.form-input-horizontal label{
    max-width: 100px;
    float: left;
    margin-right : 8px;
    line-height: 48px;
}

.form-input-horizontal input{
    vertical-align: baseline;
    float: left;
}

.form-input-horizontal .send-to-input{
    width : 100px;
}

.form-input-horizontal .send-to-input-small{
    width : 70px;
}