.ui-content{
    background-color : white;
}

a{
    color : inherit;
    text-shadow : none;
    text-decoration : none;
}

a:hover{
    text-shadow : none;
    color : inherit;
    text-decoration : none;
}


.select-wrapper {
    border: 1px solid #dddddd;
    /*margin: 20px;*/
    border-radius: 3px;
    background-color: white;
    height : 30px;
}

.select-wrapper .ui-select{
    line-height : 30px;
 }

.select-wrapper .ui-select .ui-btn {
    text-align : left;
    line-height : inherit;
    font-size : 8px;
    padding-left : 3px;
}

.ui-select .ui-btn {
    line-height: 44px;
    padding: 0;
}

.ui-icon-carat-d:after {
    background-image: url('../img/arrow_down.png');
    background-size: 12px 10px;
    margin-right: 15px;
}

.mypage-wrapper{
    height : auto;
    text-shadow : none;
    /*background: url('../img/profile_bg.png') top center repeat-y #ECECEC;*/
    background-color : white;
    font-size : 14px;
    /*width : 100%;*/
    line-height : 18px;
    color : #000000;
    position : relative;
    padding-top : 20px;
    margin : 10px;
    padding : 20px;
    padding-bottom : 0px;
    border-radius : 4px;
    border: 1px solid #F2F2F2;
}

.mypage-user-name{

    font-size : 20px;
    text-align : left;
    color :black;
}

.mypage-user-email{
    font-size : 14px;
    text-align : left;
}

.mypage-user-info{
    width : 100%;
    /*padding : 0 12%;*/
    margin-top : 10px;
    position : relative;
    line-height: 20px;

}

#mypage-next-btn{
    display : inline-block;
    position : absolute;
    top : 20px;
    left : 60%;
}

#mypage-prev-btn{
    display : inline-block;
    position : absolute;
    top : 20px;
    left : 6px;
}


.my-page-edit-box{

    margin-top : 16px;
    position : relative;
    text-align : center;

}


.mypage-edit-btn{
   width: 40px;
  height : 16px;
  display : inline-block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  /*color: #d2bb8f !important;*/
  color: white !important;
  font-size: 14px;
  background: #222222;
  padding: 8px 10px;
  text-decoration: none;
  border : 1px solid #222222;
  border-radius : 3px;
}
.ui-page-theme-a a{
  font-weight : normal;
}

.mypage-edit-btn:visited{
    color: white !important;
}


.tab-menu{
    margin : 0;
    margin-top : 0px;
    margin-bottom : 12px;
    padding-top: 6px;
    background-color: white;
    height : 30px;
    overflow: hidden;
    border-bottom : 1px solid #e5e5e5;
}

.tab-menu li{

    text-align : center;
    width : 33%;
    float: left;

}

.tab-menu li a{
    display:inline-block;
    width : 100%;
    padding : 4px 2% 4px 2%;
}

.tab-menu li:nth-child(2) a{
    border-right : 1px solid #e5e5e5;
    border-left : 1px solid #e5e5e5;
}

a.tab-selected{
    color : #d2bb8f !important;
}


.product-item{
    border-radius : 4px;
    border : 1px solid #F2F2F2;
    width : 46%;
    margin : 10px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.13);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.13);
}

.item-title{
    min-height : 36px;
    font-size : 13px;
    padding : 5px 10px;
    line-height: 22px;
    background-color : white;

}

.item-price{
    padding : 10px 5px 10px 5px;
}

.item-brand{
    line-height: 22px;
}

.item-original-price{
    text-decoration : line-through;
    font-size : 10px;
}

.discount-rate{
    color : red;
}

.item-image{
    float: left;
    width : 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position : relative;
    padding: 20px 0px 20px 0px;
}

.item-image img{
    height: 100%;
}


.interest-btn{
    width : 100%;
    height : 18px;
    padding : 7px 0 4px 0;
    background-color : white;
    text-align : center;
    font-size: 12px;
    border-top : 1px solid #e9e9e9;
}

.interest-btn a{
    width : 100%;
    display: inline-block;
}

.login-box-header{
    background-color: #ffffff;
    color: #ffffff;
    padding: 10px 0px;
    display : inline-block;
    width : 100%
}

h4.spb_heading, h4.lined-heading {
	font-weight: normal;
    height:30px;
	border-bottom: 2px solid transparent;
	position: relative;
	margin-bottom: 0;
	text-align: center;
}
h4.spb_heading:before, h4.lined-heading:before {
    content: "";
    display: block;
    border-top: 2px solid #F2F2F2;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    z-index: 1;
}
h4.spb_heading span, h4.lined-heading span {
    padding: 0 10px;
    position: relative;
    display: inline-block;
    z-index: 1;
}

h4.lined-heading span {
    color: #000000;
    background-color: #ffffff;
}
