@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Muli);

body {
    background-color: #E9EAED!important;
}
.page-head .page-title > h1 {
font-size: 100%;
}
.dashboard-stat2 {
    height : 200px;
}
.page-head .page-title {
    text-align: center;
    width: 100%;
}

.page-head .page-toolbar {
    width: 100%;
}

.wrapper {
    height: auto;
    text-shadow: none;
    /*background: url('../img/profile_bg.png') top center repeat-y #ECECEC;*/
    background-color: white;
    font-size: 14px;
    /*width : 100%;*/
    line-height: 18px;
    color: #000000;
    position: relative;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    /*border: 1px solid #bcbfc3;*/
    /*box-shadow: 0 0 0.3em rgba(202, 203, 209, 0.2), 0 1px 0.3em rgba(0, 0, 0, 0.1);*/
    /*border-radius: 0.2em;*/
    background: #fff;
    font-size: 1em;
}

.wrapper-title {
    display: inline-block;
    height: 60px;
    text-shadow: none;
    background-color: #212121;
    /*background: -webkit-linear-gradient(top, #f4f5f6, #eeeff0);*/
    /*background: -ms-linear-gradient(top, #f4f5f6, #eeeff0);*/
    /*background: -moz-linear-gradient(top, #f4f5f6, #eeeff0);*/
    /*background: -o-linear-gradient(top, #f4f5f6, #eeeff0);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f5f6', endColorstr='#eeeff0');*/
    /* background-color: #f8f9f9;*/
    font-size: 16px;
    width : 100%;
    line-height: 18px;
    color: #fff;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
    /*border: 1px solid #bcbfc3;*/
    /*box-shadow: 0 0 0.3em rgba(202, 203, 209, 0.2), 0 1px 0.3em rgba(0, 0, 0, 0.1);*/
    border-radius: 0.2em;
    font-size: 13px;
}

.wrapper-item {
    height: auto;
    text-shadow: none;
    display: inline-block;
    width: 100%;
    /*background: url('../img/profile_bg.png') top center repeat-y #ECECEC;*/
    background-color: white;
    font-size: 14px;
    /*width : 100%;*/
    line-height: 18px;
    color: #000000;
    position: relative;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
    /*border: 1px solid #bcbfc3;*/
    /*box-shadow: 0 0 0.3em rgba(202, 203, 209, 0.2), 0 1px 0.3em rgba(0, 0, 0, 0.1);*/
    /*border-radius: 0.2em;*/
    background: #fff;
    font-size: 1em;
    padding: 10px;
}

.display {
    margin-bottom: 5px !important;
    margin-left: 15px;
    margin-right: 15px;
}

.number {
    float: left;
    font-size: 13px;
    margin-top: 5px;
    padding: 20px 2px;
}

.number > span {
    float: right;
}

.check {
    margin:0px;
}

.modal-body {
    display: inline-block;

}
.ui-checkbox > input {
    margin:0px !important;
}

.checkbox > span {
    margin-left:35px !important;
}

.content-number {
    padding-top: 25px;
}

.tabbable-line > .nav-tabs > li {

    height : 60px;
}

.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #17bcb8 !important;
    position: relative !important;
    height : 80px;
}

#view_report {
    /*border-left: 1px solid transparent;*/
    color: white;
    text-align: right;
    height: 60px;
}

#view_report:hover {

    background: #17bcb8;
    color: white;
    text-decoration: none;
    /*border-left: 1px solid #d6d7da;*/
    /*border-radius: 0.2em;*/
}

.more {
    float: left;
    font-size: 13px;
    margin-top: 5px;
    padding: 20px;
    color : white;
    width: 100%;
}
.btn-re-g {
    width: 100%;
    color : white;
    padding: 10px!important;
    background-color: #17bcb8;
    white-space: normal!important;
    min-height: 62px;
}


/*.btn-interest {*/
    /*color : #a7a7a8!important;*/
    /*padding: 10px!important;*/
    /*margin-bottom : 15px!important;*/
    /*background-color: transparent!important;*/
    /*border: 2px solid #a7a7a8!important;*/
/*}*/

/*.btn-interest:hover {*/
    /*color : #17bcb8!important;*/
    /*padding: 10px!important;*/
    /*margin-bottom : 15px!important;*/
    /*border: 2px solid #17bcb8 !important;*/
/*}*/

.dashboard-stat2 .display .number h3 {
 color : #212121!important;

}

.font-title-green {
    color : #17bcb8;
}

.font-title-orange {
    color : #f44e04;
}

.btn-interest-g {
    width : 49%;
    background-color: #212121 !important;
    color: white !important;
    height: 60px;
    line-height: 45px;
    padding: 7px 14px!important;
    border: 0px!important;
}

.btn-interest-g:hover {
    width : 49%;
    background-color: #17bcb8!important;
    color: white!important;
    height: 60px;
}

.btn-interest-o {
    width : 49%;
    background-color: #212121 !important;
    color: white !important;
    height: 60px;
    line-height: 45px;
    padding: 7px 14px!important;
    border: 0px!important;
}

.btn-interest-o:hover {
    width : 49%;
    background-color: #f44e04!important;
    color: white!important;
    height: 60px;
}

.btn-interest-b1 {
    width : 49%;
    background-color: white;
    color: black;
    height: 60px;
    line-height: 50px;
}

.btn-interest-b1:hover {
    width : 49%;
    background-color: #17bcb8;
    color: white!important;
    height: 60px;
}

.btn-interest-b2 {
    width : 49%;
    background-color: white;
    color: black;
    height: 60px;
    line-height: 50px;
}

.btn-interest-b2:hover {
    width : 49%;
    background-color: #f44e04;
    color: white!important;
    height: 60px;
}

.btn-int-y {
    color : #a7a7a8;
    text-align: center;
    margin: 0;
    line-height: 22px;
    height: 40px;
    width: 100%;
    min-height: 22px;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease;
    display: inline-block;
    background-color: #fff;
    border: 2px solid #a7a7a8;
    font-size: 14px;
    line-height: 40px;
    padding: 0 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-weight: 700;
}

.btn-int-y:hover {
    background-color: #a7a7a8;
    text-decoration: none;
    color: #fff;
}

.btn-int-f {
    color : #fff;
    text-align: center;
    margin: 0;
    line-height: 22px;
    height: 40px;
    width: 100%;
    min-height: 22px;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease;
    display: inline-block;
    background-color: #a7a7a8;
    border: 2px solid #a7a7a8;
    font-size: 14px;
    line-height: 40px;
    padding: 0 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-weight: 700;
}

.btn-int-f:hover {
    background-color: #fff;
    text-decoration: none;
    color: #a7a7a8;
}

#chartdiv > div > div > a {
    display: none!important;
}

.product-x-img {
    width: 80px;
height: 180px!important;
background-position: center center;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
}

.product-x-img img {
    position: absolute;
left: -100%;
right: -100%;
top: -100%;
bottom: -100%;
height: auto!important;
width: auto!important;
margin: auto;
}

.pd-title-feat {
    font-size: 16px;
    color: #212121;
    font-weight: 700;
    display: inline-block;
}

.pd-number {
    float:right;
    display: inline-block;
 font-size: 16px;
color: #212121;
font-weight: 700;
}

.btn-interest {
    padding-bottom: 0!important;
    padding-top: 0!important;
}

.progress {
    height: 15px!important;
margin-bottom: 0px;
background-color: #ECC15F;
}

.progress-bar.blue {
background: #F4434B !important;
color: #FFFFFF !important;
}

.pd-percent {
    float: right;
    font-size: 15px;
    color: #212121!important;
    font-weight: 700;
}

.portlet .light {
    line-height: 25px;
}