.content-title{
    border : 1px solid #DDD;
    margin : 20px;
    border-radius : 3px;
    background-color : #FFF;
    height : 44px;
    line-height : 44px;
    text-align : center;
    font-size : 13px;
    font-weight : bold;
}

.content-list{
    height : auto;
    text-shadow : none;
    background-color : #FFF;
    font-size : 14px;
    line-height : 18px;
    color : #000;
    position : relative;
    margin : 20px;
    border-radius : 4px;
    border : 1px solid #EAEAEA;
    padding : 20px;
    text-align : center;
}
h4.spb_heading, h4.lined-heading {
	font-weight: normal;
    height:30px;
	border-bottom: 1px solid #e5e5e5 transparent;
	position: relative;
	margin-bottom: 0;
	text-align: center;
}
h4.spb_heading:before, h4.lined-heading:before {
    content: "";
    display: block;
    border-top: 1px solid #e5e5e5;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    z-index: 1;
}
h4.spb_heading span, h4.lined-heading span {
    padding: 0 10px;
    position: relative;
    display: inline-block;
    z-index: 1;
}

h4.lined-heading span {
    color: #000000;
    background-color: #ffffff;
}
.ui-content{
    background-color : white;
}
